@use 'delivery/variables' as delivery;

.code-editor {
  clear: both;
  margin-bottom: 10px;
  border-left: 2px solid delivery.$blue;

  .code-editor-content {
    padding: 10px;
    background: #fafafa;
  }
  pre {
    margin-bottom: 0;
  }
}
