@import 'oli/colors';
@import 'oli/mixins';
@import 'oli/zindex';

.media-manager {
  display: flex;
  flex-direction: column;
  height: 500px;
  @include disable-select;

  .media-toolbar {
    display: flex;
    flex-direction: row;
    padding: 15px;

    & > *, .media-toolbar-item {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.sort-control {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        z-index: $dropdown-menu;

        i {
          margin: 5px;
        }

        button {
          cursor: pointer;
        }

        .sort-btn {
          margin-top: -10px;
          font-size: initial;

          &.dropdown-toggle {
            box-shadow: none;
          }

          &:active {
            background-color: initial;
            color: $selection;
          }
        }
      }
    }

    .layout-control {
      button {
        height: 38px;
        color: $gray;
        border: 1px solid #ced4da;
        border-right: none;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          border-right: 1px solid #ced4da;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:hover {
          background-color: $gray-lightest;
        }

        &:active, &.selected {
          background-color: $gray;
          color: $white;
          border-color: #ced4da;
          box-shadow: none;
        }
      }
    }
  }

  .media-library {
    display: flex;
    flex-direction: row;
    height: 400px;
    border: 1px solid $gray-lightest;

    .media-sidebar {
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 100%;
      overflow: auto;
      border-right: 1px solid $gray-lightest;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $gray-dark;
        cursor: pointer;

        &.active {
          color: initial;
          background-color: $gray-lighter;
        }
      }
    }

    .media-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .loading {
        padding: 20px 0;
        text-align: center;
        font-size: 0.8em;
        color: $gray;

        i {
          margin: 0 5px;
          animation-duration: 1s;
          -webkit-animation-duration: 1s;
        }
      }

      .media-selection-details {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $gray-lightest;
        font-size: 0.9em;
        color: $gray-dark;
        @include enable-select;

        .details-title {
          display: flex;
          flex-direction: row;
          margin: 5px 10px;
          font-weight: 600;
          height: 29px;
          line-height: 29px;
          vertical-align: middle;
          overflow: hidden;

          i {
            padding: 8px 4px 4px 4px;
          }
        }

        .details-content {
          flex: 1;
          display: flex;
          flex-direction: row;
          margin: 0 10px;
          margin-bottom: 5px;

          & > * {
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }

          .media-icon {
            display: inline-block;
            max-width: 120px;
            height: 60px;
            line-height: 60px;
            vertical-align: middle;
            text-align: center;

            .image-icon {
              img {
                max-width: 120px;
                max-height: 60px;
              }
            }
          }

          .details-info {
            display: flex;
            flex-direction: column;
            min-width: 250px;
          }

          .details-page-refs {
            display: flex;
            flex-direction: column;
            max-height: 62px;
            overflow: auto;
            word-break: break-all;
          }
        }
      }

      .media-grid {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .media-item {
          position: relative;
          float: left;
          margin: 5px 5px 55px;
          list-style: none;
          border: 1px solid rgba(255,255,255,0);
          width: 117px;
          height: 60px;
          border: 1px solid transparent;

          .selection-check {
            position: absolute;
            top: 5px;
            left: 5px;
            display: none;
          }

          .media-icon {
            width: 115px;
            height: 58px;
            text-align: center;
            overflow: hidden;
          }

          .name {
            position: absolute;
            top: 60px;
            left: 0;
            margin: 0 auto;
            padding: 5px 0;
            width: 117px;
            max-height: 45px;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
            text-align: center;
            vertical-align: top;
            line-height: 20px;
          }

          &.selectable {
            cursor: pointer;

            &:hover {
              border: 1px solid $selection;

              .selection-check {
                display: block;
              }
            }

            &:active, &.selected {
              background-color: rgba($selection, 0.3);
              border: 1px solid $selection;

              .selection-check {
                display: block;
              }
            }
          }
        }
      }

      .media-list {
        flex: 1;
        display: flex;
        flex-direction: column;

        .list-header {
          display: flex;
          flex-direction: row;
          background-color: $gray-lightest;

          .sel-col, .name-col, .refs-col, .date-col, .size-col {
            padding: 0;
          }
        }

        .list-body {
          flex: 1;
          overflow: auto;
        }

        .sel-col {
          width: 32px;
          overflow: hidden;
          padding: 5px 5px 5px 0;
          padding-right: 5px;
        }

        .name-col {
          flex: 1;
          overflow: hidden;
          padding: 5px 5px 5px 0;
          word-break: break-all;

          .media-icon {
            display: inline-block;
            width: 32px;
            text-align: center;
            margin-right: 5px;

            .image-icon {
              display: inline;

              img {
                max-width: 32px;
                max-height: 32px;
              }
            }
          }
        }

        .refs-col {
          width: 110px;
          overflow: hidden;
          padding: 5px 5px 5px 0;
          word-break: break-all;
        }

        .date-col {
          width: 130px;
          overflow: hidden;
          padding: 5px 5px 5px 0;
        }

        .size-col {
          width: 80px;
          overflow: hidden;
          padding: 5px 5px 5px 0;
        }

        .media-item {
          display: flex;
          flex-direction: row;
          position: relative;
          border: 1px solid transparent;

          &:nth-child(odd) {
            background-color: lighten($gray-lightest, 5%);
          }

          .selection-check {
            display: none;
            visibility: hidden;
            height: 32px;
            margin: 0 10px;
            line-height: 32px;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
          }

          .name {
            flex: 1;
            padding: 0 5px;
            vertical-align: baseline;
            overflow: visible;
            white-space: nowrap;
          }

          &.selectable {
            cursor: pointer;

            .selection-check {
              display: block;
            }

            &:hover {
              border: 1px solid $selection;

              .selection-check {
                visibility: visible;
              }
            }

            &:active, &.selected {
              background-color: rgba($selection, 0.3);
              border: 1px solid $selection;

              .selection-check {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }

  .media-infobar {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    color: $gray;
    height: 24px;
  }
}
