
<div class="block p-6 sm:mt-20 sm:rounded-lg sm:shadow-lg bg-white dark:bg-gray-700 sm:max-w-md mx-auto box-form-container">
  <h5 class="text-center text-xl mb-4"><%= @title %></h5>

  <%= @inner_content %>

</div>
