
<div class="block p-6 mt-20 rounded-lg shadow-lg bg-white dark:bg-gray-800 max-w-md mx-auto box-form-container">
  <h5 class="card-title text-center"><%= @title %></h5>

  <%= @inner_content %>

</div>
