<div class="container form-container">
  <div class="<%= value_or(Map.get(assigns, :bs_row_class), "row") %>"">
    <div class="<%= value_or(Map.get(assigns, :bs_col_class), "col-sm-9 col-md-7 col-lg-5 mx-auto") %>">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center"><%= @title %></h5>

          <%= @inner_content %>

        </div>
      </div>
    </div>
  </div>
</div>
