<!-- Button trigger modal -->
<button type="button" class="btn btn-xs btn-light inline-flex items-center help-btn m-1" data-bs-toggle="modal" data-bs-target="#help-modal">
  <span>Tech Support</span>
</button>
