<!-- Button trigger modal -->
<button type="button" class="btn btn-xs btn-light inline-flex items-center help-btn m-1" data-bs-toggle="modal" data-bs-target="#help-modal">
  <img src="<%= Routes.static_path(@conn, "/images/icons/life-ring-regular.svg") %>" class="help-icon mr-1"></img>
  <span>Help</span>
</button>
