<style>
ul {
  padding-left: 16px;
}
li {
  padding-left: 10px;
  margin-bottom: 16px;
}
li:last-of-type {
  margin-bottom: 0;
}
li small {
  font-size: inherit;
  color: #b3b3b3;
}

</style>
<ul>
  <li>Item one, <small>emphasized</small></li>
  <li>Item two</li>
  <li>Item three</li>
  <li>Item four</li>
</ul>