<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/components.js") %>"></script>

<div id="test-editor"/>

<script>
window.component.mount('TestEditor', document.getElementById('test-editor'));
</script>
