/** Theme-specific variables for delivery **/

// Overwrite Bootstrap and Torus delivery variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss and styles/authoring/variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/ or styles/authoring

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       #2C67C4;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg: $white;
$body-color: $gray-900;

/** OLI specific variables **/
$choice-selected-bg: lighten($primary, 42%);
$choice-selected-color: $primary;
$choice-selected-border-color: $primary;

$feedback-correct-bg: lighten($green, 45%);
$feedback-correct-color: $green;
$feedback-incorrect-bg: lighten($red, 40%);
$feedback-incorrect-color: $red;
$feedback-error-bg: lighten($orange, 42%);
$feedback-error-color: $orange;

$hint-bg: lighten($yellow, 45%);
$hint-border-color: $yellow;

$content-purpose-example-color: lighten($blue, 20%);
$content-purpose-learn-more-color: lighten($teal, 20%);
$activity-purpose-checkpoint-color: lighten($blue, 10%);
$activity-purpose-didigetthis-color: lighten($purple, 10%);
$activity-purpose-learnbydoing-color: lighten($green, 10%);
$activity-purpose-manystudentswonder-color: lighten($cyan, 10%);