
<div class="configure-section mt-5">
  <h3>Not Enrolled</h3>
  <p class="mt-3">
    You are not enrolled in this course section.
  </p>

  <p class="mt-3">
    If you have accessed this course from your LMS, please make sure you are logged in from your LMS account. It is a
    common mistake to directly create a student account and try to access and pay for the course.  Please make sure you
    are accessing this course section from the account that you were enrolled in with.
  </p>

</div>
