<tr>
    <a class="navbar-brand torus-logo shrink-0" href="<%= Routes.static_page_url(OliWeb.Endpoint, :index) %>">
        <td style="padding: 20px 0; text-align: center">
            <img src="<%= Oli.Branding.brand_logo_url() %>" width="277" height="100" alt="torus-logo" border="0" style="height: auto;">
        </td>
    </a>
</tr>
