<tr>
    <a class="navbar-brand oli-logo" href="<%= Routes.static_page_path(OliWeb.Endpoint, :index) %>">
        <td style="padding: 20px 0; text-align: center">
            <img src="<%= Routes.static_path(OliWeb.Endpoint, "/images/oli-logo.png") %>" width="277" height="100" alt="oli-logo" border="0" style="height: auto;">
        </td>
    </a>
</tr>
