
<div class="my-3">

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Something went wrong!</h4>
    <p>It looks like something went wrong when trying to display this page.</p>
    <hr>
    <p>Here are some things that you can try:</p>
    <ul>
      <li>Refreshing your browser</li>
      <li>Returning to your LMS and try accessing OLI again</li>
      <li>Contacting OLI support for help</li>
    </ul>
  </div>

</div>
