
<div class="my-3">
  <h3><%= @title %></h3>
  <p class="text-secondary"><%= @description %></p>

  <h4>Instructor View</h4>

  <hr class="my-4"/>

  <h5>Course Outline</h5>
  <%= render OliWeb.DeliveryView, "_course_outline.html", context_id: @context_id, pages: @pages, conn: @conn, path_route: &OliWeb.InstructorDeliveryView.page_route/3 %>
  </div>
</div>
