.settings-editor-wrapper {
  padding: 5px;

  .settings-editor {
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(var(--color-gray-200), 0.9);
    backdrop-filter: blur(16px);
  }
}
