<h2><%= @title %></h2>
<%= f = form_for @changeset, "#",
 id: "revision-settings-form",
 phx_target: @myself,
 phx_change: "validate",
 phx_submit: "save" %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  <%= label f, :age %>
  <%= number_input f, :age %>
  <%= error_tag f, :age %>
  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
