<%= render OliWeb.SharedView, "_box_form_container.html", Map.put(assigns, :title, "Edit Deployment") do %>
  <%= render "form.html", Map.put(assigns, :action, Routes.registration_deployment_path(@conn, :update, @registration_id, @deployment)) %>
<% end %>
