<%= render OliWeb.SharedView, "_box_form_container.html", Map.put(assigns, :title, "Create Deployment") do %>
  <%= render "form.html", Map.put(assigns, :action, Routes.registration_deployment_path(@conn, :create, @registration_id)) %>
<% end %>
