.checkContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1030;
  height: 60px;
  min-width: 500px;

  border: none;
  border-top: 1px solid var(--grayLight40);
  background-color: #ffffff;
  padding: 0 11px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.pullLeftInCheckContainer,
.checkContainer .pullLeftInCheckContainer {
  margin-right: auto;
}

.checkContainer {
  .buttonContainer {
    display: flex;
    transition: opacity 0.3s ease;
    position: relative;
  }
  .buttonContainer.hideCheckBtn {
    display: none;
  }
  .buttonContainer .checkBtn,
  .closeFeedbackBtn,
  .showSolnBtn {
    background-color: var(--blue100);
    margin-left: 20px;
  }
  .checkBtn,
  .closeFeedbackBtn {
    max-width: 500px;
  }

  //Check Button
  .checkBtn,
  .closeFeedbackBtn,
  .showSolnBtn {
    height: 44px;
    padding: 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
    font-family: 'OpenSansBold';
    min-width: 130px;
    box-shadow: none;
  }

  //Ellipsis
  .checkBtn .ellipsis,
  .closeFeedbackBtn .ellipsis,
  .showSolnBtn .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
  }

  //Hover state
  .checkBtn:focus,
  .closeFeedbackBtn:focus,
  .showSolnBtn:focus,
  .checkBtn:hover,
  .closeFeedbackBtn:hover,
  .showSolnBtn:hover,
  .checkBtn:active,
  .closeFeedbackBtn:active,
  .showSolnBtn:active {
    background: var(--blue20dark) !important;
    border: 0;
    outline: 0;
  }

  //Focus state
  .checkBtn:focus,
  .closeFeedbackBtn:focus,
  .showSolnBtn:focus {
    box-shadow: 0 0 0 4px var(--blue40_a);
  }
}

.navigationContainer .theme-no-history-restart:hover,
.navigationContainer .theme-no-history-restart:focus,
.navigationContainer .theme-no-history-restart:active,
.navigationContainer .navigationToggle:hover,
.navigationContainer .navigationToggle:focus,
.navigationContainer .navigationToggle:active,
.feedbackContainer .toggleFeedbackBtn:hover,
.feedbackContainer .toggleFeedbackBtn:focus,
.feedbackContainer .toggleFeedbackBtn:active {
  background: rgba(0, 0, 0, 0.05) !important;
  color: var(--grayDark100);
}

//Navigation Container
.navigationContainer {
  position: relative;
  top: -186px !important;
  bottom: 61px;
  display: flex;
  min-height: 61px;
  z-index: 1030;
  top: auto !important;
  transform: translateX(-50%);

  .theme-no-history-restart:focus {
    box-shadow: 0 0 0 4px rgb(0 0 0 / 20%);
  }

  .theme-no-history-restart > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .theme-no-history-restart__icon {
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-restart-dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    z-index: 1030;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
  }
}

/*-----------------------------------------
    Restart Lesson Button
-----------------------------------------*/

.navigationContainer .theme-no-history-restart,
.navigationContainer .navigationToggle,
.feedbackContainer .toggleFeedbackBtn {
  height: 44px;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  margin-top: 61px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: none;
  flex-direction: row;
  padding: 0 15px 0 12px;
  transition: opacity 0.3s ease, background 0.3s ease;
  background: transparent;
  font-family: 'OpenSansBold';
  font-size: 0.9rem;
  color: var(--grayDark40);
}

/*-----------------------------------------
    Restart Lesson Modal
-----------------------------------------*/
.modal {
  box-shadow: 0 0 4px 0px black;
  z-index: 999999999;
  position: fixed;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: white;
  border-radius: 3px;

  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 20px;
  }
}

.modal-header {
  border-bottom: solid 1px var(--grayLight60);
  min-height: 28px;
  margin-bottom: 0 !important;

  button.close {
    float: right;
    background-color: var(--blue80);
    width: 44px;
    height: 44px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin: -7.5px;
  }
  button.close:empty:before {
    content: '×';
  }
  h3 {
    margin: 0;
    font-family: 'OpenSansBold';
  }
}

.modal-footer {
  border-top: solid 1px var(--grayLight60);
  text-align: right;
}
.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.modal button.btn {
  background-color: var(--blue80);
  color: white;
  font-family: 'OpenSansBold';
  border: 0;
  padding: 5px 10px;
  min-width: 100px;
  min-height: 44px;
  margin-right: 10px;
}
/*--secondary button--*/
.modal button.btn[name='OK'] {
  background-color: white;
  border: solid 2px var(--blue80);
  color: var(--blue80);
}

/*-----------------------------------------
    Finish Lesson Modal
-----------------------------------------*/
.finishedDialog.modal {
  min-height: 350px;
  max-height: 500px;
  overflow-y: auto;
}
#lessonFinishedDialogContent {
  margin-top: initial !important;
  height: auto !important;
}
/*--Circle--*/
#lessonFinishedDialogContent:before {
  content: '';
  width: 120px;
  height: 120px;
  border: 2px solid var(--blue40_a);
  background: var(--blue20_a);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
/*--Checkmark--*/
#lessonFinishedDialogContent:after {
  content: '';
  width: 25px;
  height: 50px;
  border: 4px solid var(--blue80);
  display: block;
  position: absolute;
  transform: rotate(45deg) translate(-131%, -31%);
  border-top: 0;
  border-left: 0;
  top: 155px;
  left: 50%;
}

/*--with background-image--*/
.finishedDialog[style*='background-image'] #lessonFinishedDialogContent {
  background-color: var(--white100);
  box-shadow: 0 2px var(--black40_a);
}
.finishedDialog[style*='background-image'] #lessonFinishedDialogContent:before,
.finishedDialog[style*='background-image'] #lessonFinishedDialogContent:after {
  display: none;
}

//History Step Buttons
.checkContainer {
  .historyStepContainer {
    display: flex !important;
    align-items: center;
    width: 100px;
  }
  .historyStepButton {
    border: 0;
    background: none;
    padding: 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .icon-chevron-right,
  .icon-chevron-left {
    width: 14px;
    height: 14px;
    border: 3px solid transparent;
    border-color: rgba(0, 0, 0, 0.6);
    border-bottom: 0;
    border-left: 0;
    display: block;
    position: relative;
  }
  .icon-chevron-right {
    transform: rotate(45deg);
    left: -3px;
  }
  .icon-chevron-left {
    transform: rotate(225deg);
    left: 3px;
  }

  .historyStepContainer:after {
    content: '';
    border-right: 1px solid var(--grayLight40);
    height: 30px;
    position: relative;
    left: 5px;
  }
}

.navigationContainer {
  //Button Toggle
  .navigationToggle {
    height: 40px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff !important;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    color: rgba(0, 0, 0, 0.6) !important;
    position: absolute;
    margin-top: 61px;
    top: 50%;
    left: 102px;
    transform: translateY(-50%);
    border: 0;
    background: none;
    flex-direction: row;
    padding: 0 15px 0 12px;
    transition: opacity 0.3s ease, background 0.3s ease;
    background: transparent !important;
    min-width: 130px;
    min-width: -moz-max-content;
  }
  .navigationToggle:before {
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-history-dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    width: 24px;
    height: 24px;
    z-index: 1030;
    margin-right: 8px;
    display: flex;
    float: left;
    align-items: center;
    min-height: 24px;
    height: 100%;
  }

  .navigationToggle:after {
    content: 'History';
    font-size: 14px;
    float: left;
    display: flex;
    align-items: center;
    align-self: center;
    height: 100%;
  }

  //History Panel
  .theme-history {
    position: absolute;
    bottom: 20px;
    left: -12px;
    width: 370px;
    background: #ffffff;
    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 4px;
    border: 1px solid #d9d9de;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1030;
  }
  .minimized .theme-history {
    display: none;
  }

  //Navigation Header
  .theme-history__title {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #d9d9de;
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 20px 20px 20px 22px;
    box-sizing: border-box;
  }
  .theme-history__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border: 0;
    padding: 0;
    margin: 10px 7px 0 0;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: #ffffff;
    cursor: pointer;
    outline: none;
  }
  .theme-history__close-btn > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .theme-history__close-icon {
    background-repeat: no-repeat;
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-close-dark.svg);
    width: 18px;
    height: 18px;
  }

  /*--Navigation Body--*/
  .theme-history__nav {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 380px;
  }
  .history-element {
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    background: none;
    outline: none;
    transition: all 0.3s ease;
  }
  .history-element__screenName {
    transition: color 0.2s ease;
    font-size: 14px;
    padding-right: 18px;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    text-align: left;
  }
  .history-element__timestamp {
    font-size: 13px;
    opacity: 0.6;
    flex: none;
  }
  .history-element:first-child {
    margin-top: 10px;
  }
  .history-element:last-child {
    margin-bottom: 10px;
  }

  //Navigation Footer
  .theme-history__footer {
    border-top: 1px solid #d9d9de;
    height: 60px;
  }

  .theme-history__restart {
    height: 40px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff !important;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    color: rgba(0, 0, 0, 0.6) !important;
    height: 39px;
    letter-spacing: 0.05em;
    margin: 10px;
    padding: 0 15px 0 12px;
  }
  .theme-history__restart > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .theme-history__restart-icon {
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-restart-dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    min-height: 24px;
    z-index: 1030;
    margin-right: 10px;
  }
}

/*-----------------------------------------
    Screen Title List
-----------------------------------------*/
/*-- Is this needed? --*/
.navigationContainer .screenListTitle {
  display: none;
}

/*-----------------------------------------
    Feedback
-----------------------------------------*/
.feedbackContainer {
  //Toggle Button
  .toggleFeedbackBtn {
    position: relative;
    top: 20px;
    margin: 0;
  }
  .toggleFeedbackBtn .icon {
    display: flex;
    align-items: center;
  }
  .toggleFeedbackBtn .icon:before {
    background-repeat: no-repeat;
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-feedback-dark.svg);
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    z-index: 1030;
  }
  button.toggleFeedbackBtn div:after {
    content: 'Open/Close Feedback';
    display: inline;
    padding: 0 10px;
  }

  //Panel
  #stage-feedback {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 4px;
    bottom: 70px;
    right: 80px;
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
    transform-origin: bottom center;
    transition: all 0.4s cubic-bezier(0.46, 0.265, 0.285, 1.635);
    border: 1px solid #d9d9de;
  }

  //Header
  .theme-feedback-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .theme-feedback-header__close-btn {
    height: 30px;
    width: 30px;
    border: 0;
    padding: 0;
    margin: 5px 5px 0 0;
    border-radius: 4px;
    transition: all 0.3s ease;
    background: #ffffff;
    cursor: pointer;
    outline: none;
  }
  .theme-feedback-header__close-btn > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .theme-feedback-header__close-icon {
    background-repeat: no-repeat;
    background: url(https://etx-nec.s3.us-west-2.amazonaws.com/css/etx-resource/images/icon-close-dark.svg);
    width: 18px;
    height: 18px;
  }
  //Body
  .content {
    width: 390px !important;
    height: auto !important;
    max-height: calc(100vh - 162px) !important;
    min-height: 61px;
    padding: 0 15px 15px 15px;
    overflow-y: auto;
    margin-bottom: initial;
  }
  .content > div {
    width: auto !important;
    height: auto !important;
  }

  //Footer
  #stage-feedback:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    display: block;
    background: #ffffff;
    transform: rotate(45deg) translate(-50%, 50%);
    bottom: -10px;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 15%);
    z-index: -1;
  }
}
