$lightBackgroundGrey: #f3f5f8;
$lightForeground: #696974;
$darkForeground: #373a44;
$darkNavyBlue: #222439;

//$primary: #5b1eea; // The previous purple color
$primary: #2c6abf;
// $primary: var(--color-delivery-primary);

$headerColor: $darkForeground;

/*-- Misc. --*/
@import 'misc/normalize';
@import 'misc/font-families';
@import 'misc/color-palette';
@import 'misc/animate';

/*-- Layout --*/
@import 'layout/header-container';
@import 'layout/content-container';
@import 'layout/check-container';
@import 'layout/background';

/*-- Activity Types --*/
@import 'flowchart/text-flow';
@import 'activities/image';
@import 'activities/navigation-button';
@import 'flowchart/mcq';
@import 'flowchart/text-input';
@import 'flowchart/dropdown';
@import 'flowchart/slider';
@import 'activities/popup';
@import 'activities/image-carousel';
@import 'activities/fill-blanks';

/*------------------------------------------
    General UI
-----------------------------------------*/
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

.displayNone {
  display: none !important;
}
.opacity95 {
  opacity: 0.95;
}
.opacity90 {
  opacity: 0.9;
}
.opacity80 {
  opacity: 0.8;
}
.opacity60 {
  opacity: 0.6;
}
.opacity40 {
  opacity: 0.4;
}
.opacity20 {
  opacity: 0.2;
}
.opacity15 {
  opacity: 0.15;
}
.opacity10 {
  opacity: 0.1;
}
.opacity05 {
  opacity: 0.05;
}
.opacity0 {
  opacity: 0;
}

.width100 {
  width: 100% !important;
}
.width75 {
  width: 75% !important;
}
.width50 {
  width: 50% !important;
}
.width25 {
  width: 25% !important;
}

.pointer-events-none {
  pointer-events: none !important;
}
.pointer-events-initial {
  pointer-events: initial !important;
}

.activity-content {
  font-family: 'Open Sans';
}

/*================================

    CSS Requested Updates
    <link rel="stylesheet" href="https://etx-nec.s3.us-west-2.amazonaws.com/Chris-Sandbox/authoring/for-marc.css">

    All !impotant tags are for testing purposes only

================================*/

/*-------------------------------
  janus-dropdown
-------------------------------*/
janus-dropdown label:empty {
  display: none !important;
}
janus-dropdown select {
  font-size: 12px;
  line-height: 18px;
}
janus-dropdown .dropdown-input:before {
  border-width: 1.5px;
}

/*-------------------------------
  janus-multi-line-text
-------------------------------*/
janus-multi-line-text > div {
  background-color: transparent !important;
}
janus-multi-line-text label:empty {
  display: none !important;
}
janus-multi-line-text div .characterCounter {
  font-size: 12px !important;
}
janus-multi-line-text .characterCounter span {
  margin: 0 16px 10px 0;
}
janus-multi-line-text textarea {
  padding: 12px 16px;
}

/*-------------------------------
  janus-input-text
-------------------------------*/
janus-input-text input {
  border-radius: 4px !important;
  background-color: #f3f5f8 !important;
  border: 1px solid #f3f5f8 !important;
}
/* NOTE: This does not work as expected since a "&nsp;" is present when label is blank */
janus-input-text label:empty,
janus-input-text label span:empty {
  display: none !important;
}

/*-------------------------------
  janus-input-number
-------------------------------*/
janus-input-number input {
  border-radius: 4px !important;
  background-color: #f3f5f8 !important;
  border: 1px solid #f3f5f8 !important;
  font-size: 12px !important;
  color: #373a44 !important;
  font-weight: 600;
}

/*-------------------------------
  janus-slider
-------------------------------*/
janus-slider .slider .sliderInner {
  width: 100%;
}
janus-slider .slider .rangeValue span:before {
  margin-top: -34px;
}
janus-slider input::-webkit-slider-thumb {
  border: solid 2px white;
  box-shadow: none !important;
  margin-top: -6.5px !important;
  width: 18px !important;
  height: 18px !important;
}
janus-slider .slider input {
  height: 5px !important;
  /*unable to style the slider background color to appear only "blue" to the left of the slider thumb*/
}

/*-------------------------------
  janus-audio
-------------------------------*/
janus-audio audio {
  height: inherit;
}

// /*-------------------------------
//   For testing purposes only
//   Do not include
// -------------------------------*/
// .headerContainer .lessonTitle {
//   font-family: OpenSansBold, sans-serif !important;
//   font-size: 1rem !important;
// }
// janus-text-flow.text-align-bottom div[data-janus-type='janus-text-flow'],
// janus-text-flow.text-align-middle div[data-janus-type='janus-text-flow'] {
//   display: flex !important;
// }
// janus-text-flow.text-align-bottom div[data-janus-Type='janus-text-flow'] {
//   align-items: flex-end;
// }
// janus-text-flow.text-align-middle div[data-janus-type='janus-text-flow'] {
//   align-items: center;
// }

janus-image,
janus-image-carousel,
janus-capi-iframe {
  background-color: #f9f9f9;
}

/*-------------------------------
  Notes for discussion
---------------------------------
1) I do not recommend we should use Carousel > Carousel 5 template since this images won't appear at that size.

1) I do not recommend 32 x 32 pixel size for audio. I think the minimum width to be able to see the play button on a Chromium browser is 100px or similar.

*/
