@import 'authoring/mixins';
@import 'authoring/variables';

.resource-editor {
  margin: 0 auto;
  &.row {
    .col-12 {
      padding: 0;
    }
  }
  .preview-content {
    all: initial;
    all: unset;
    flex: 1;
    padding: 0 40px;
    border: 1px solid $gray-200;
    border-radius: 4px;
  }
}

.card-body.delivery {
  .slate-editor {
    border: none;
  }
}
