@import 'authoring/variables';

.undo-toasts {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 1000;
}

.undotoast {
  background-color: #3eabbf !important;
  color: white;
  position: relative;
  z-index: 1000;
  width: 270px;
  font-size: 1em;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  margin-top: 20px;
}

.undo-toast-desc {
  padding-top: 5px;
}

.btn.undo-toast-btn {
  background-color: #199ab1 !important;
  color: white;

  &:hover {
    background-color: #51adbd !important;
    color: white;
  }
}

.undotoast-enter {
  opacity: 0 !important;
}

.undotoast-enter.undotoast-enter-active {
  opacity: 1 !important;
  transition: opacity 500ms;
}

.undotoast-leave {
  opacity: 1 !important;
}

.undotoast-leave.undotoast-leave-active {
  opacity: 0 !important;
  transition: opacity 100ms;
}
