./output
./output/*

temp_init_file
.vscode
lib/oli/analytics/test.xml
Mnesia.*

/output/

# IDEA
*.iml
*.ipr
*.iws
/.idea/

# The directory where the NodeJS Elixir bridge will read files from
/priv/node/

/assets/typedocs/

# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
oli-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

# Since we are building assets from assets/ we ignore priv/static
/priv/static/
/test_bundles/

# Ignore generated flame graph stack files
/_flame_graph_stacks/

# Ignore branding and other custom assets
/assets/static/custom/*
!/assets/static/custom/README.md

# Ignore custom themes
/assets/styles/themes/authoring/custom/*
!/assets/styles/themes/authoring/custom/README.md
/assets/styles/themes/delivery/custom/*
!/assets/styles/themes/delivery/custom/README.md

oli.env
postgres.env
/assets/test-results/
/assets/coverage/
/assets/dist-sdk/
/assets/sdk/oli-torus-sdk-*.tgz
/assets/sdk/dist/
/assets/sdk/node_modules
/assets/sdk/yarn.lock
.devmode
.elixir_ls
.DS_Store
/amisc/
/docker-compose-dev.yml
assets/yarn.lock
lib/oli/analytics/test.xml
.devcontainer/data
registrations.json
seeds.json
/docker-compose.override.yml
supervisord.log
supervisord.pid
stacks.out
.mnesia
yarn-error.log
/priv/superactivity/
/assets/src/components/activities/oli_ctat2/
/assets/storybook-static
/assets/.storybook/temp
_digests
_imports
# the directory for AWS S3 uploads (for dev)
/data
logfile
MnesiaCore.nonode@nohost_1698_943806_800396
.envrc
.cursor/mcp.json
.cursor/rules/user-custom-rules.mdc
.cursor/rules/oli.mdc

# Python cache files
__pycache__/

# AWS Lambda package files
cloud/xapi-etl-processor/xapi-etl-processor.zip
cloud/xapi-etl-processor/.env
