services:
  app:
    build: .
    depends_on:
      - postgres
    env_file: ./oli.env
    ports:
      - 80:80
      - 443:443

  postgres:
    image: ankane/pgvector
    logging:
      driver: "json-file"
      options:
        max-file: "1"
        max-size: 5m
    ports:
      - 5432:5432
    env_file: ./postgres.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: your_minio_access_key
      MINIO_ROOT_PASSWORD: your_minio_secret_key
    volumes:
      - ./data:/data
    command: ["server", "--console-address", ":9001", "/data"]

volumes:
  postgres_data:
