@use 'authoring/theme' as authoring;

:global(html.authoring) {
  .toolbar {
    display: flex;
    flex-direction: row;
    background: var(--authoring-toolbar-bg);
    border: 2px solid var(--authoring-toolbar-border-color);
    border-radius: 8px;

    z-index: authoring.$z-content-3;
    box-shadow: 6px 6px 24px -12px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 6px 6px 24px -12px rgba(0, 0, 0, 0.45);
  }

  .toolbarGroup {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    border-left: 2px solid var(--authoring-toolbar-group-separator-color);

    &:first-of-type {
      border-left: none;
    }
  }

  .toolbarButton {
    display: inline-block;
    font-weight: 400;
    color: var(--authoring-toolbar-color);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1;
    border: none;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    margin-left: 0px;
    margin-right: 0px;
    &:first-of-type {
      margin-left: 0.25rem;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-of-type {
      margin-right: 0.25rem;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:hover {
      background-color: var(--authoring-toolbar-group-separator-color);
    }

    &.active {
      background: var(--authoring-toolbar-active-bg);
      color: var(--authoring-toolbar-active-color);
    }
  }

  .toolbarButtonContent {
    height: 24px;
    min-width: 24px;
  }

  .icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
    height: 24px;
    min-width: 24px;
  }

  .buttonText {
    text-align: center;
    line-height: 32px;
  }

  .dropdownGroup {
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-height: 400px;
    overflow-y: auto;
    background: var(--authoring-toolbar-bg);
    border: 2px solid var(--authoring-toolbar-border-color);

    .toolbarButton {
      display: inline-flex;
      align-items: center;
      text-align: left;
      border-radius: 6px;

      &:first-of-type,
      &:last-of-type {
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 6px;
      }
    }
  }

  .description {
    margin-left: 6px;
  }
}
