@use 'delivery/variables' as delivery;

.settings-editor-wrapper {
  padding: 5px;

  .settings-editor {
    background-color: delivery.$light;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    box-shadow: 2px 3px #d0d0d0;
  }
}
