@use 'delivery/variables' as delivery;

.settings-editor-wrapper {
  padding: 5px;

  .settings-editor {
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(247, 247, 247, 0.8);
    backdrop-filter: blur(16px);
  }
}
