@use 'delivery/variables' as delivery;

.popup-link {
  cursor: pointer;
  color: delivery.$orange;
  font-style: italic;
}

.popup-content {
  p:last-of-type {
    margin: 0;
  }
}
.popup-content > * {
  display: inline-block;
}

.popup__modal-content {
  text-align: initial;
  min-width: 600px;
}

.popover.show {
  max-width: 100% !important;
}
