<%= render OliWeb.SharedView, "_box_form_container.html", Map.put(assigns, :title, "Edit Registration") do %>
  <%= render "form.html", Map.merge(assigns, %{action: Routes.registration_path(@conn, :update, @registration), cancel_path: Routes.registration_path(@conn, :show, @registration)}) %>
<% end %>
