<span>
  <%= link to: Routes.institution_path(@conn, :show, @institution_id) do %>
    <i class="las la-arrow-left"></i> Back
  <% end %>
</span>

<%= render OliWeb.SharedView, "_form_container.html", Map.put(assigns, :title, "Edit Registration") do %>
  <%= render "form.html", Map.put(assigns, :action, Routes.institution_registration_path(@conn, :update, @institution_id, @registration)) %>
<% end %>
