/** Button Styles */
@import 'oli/colors';
@import 'oli/typography';
@import 'oli/mixins';

.btn {
	border-radius: 2px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	transition: none;

	&[disabled] {
		cursor: default;
	}

	&.btn-primary, &.btn-ok {
		background-color: $primary;
		border: 1px solid $primary;
		color: $white;

		&:hover:not([disabled]) {
			background-color: darken($primary, 10%);
			border-color: darken($primary, 10%);
		}

		&:active {
			background-color: darken($primary, 15%);
			border-color: darken($primary, 15%);
		}
	}

	&.btn-secondary {
		border: 1px solid $primary;
		color: $primary;
		background-color: transparent;

		&.btn-cancel, &.btn-danger, &.btn-remove {
			border: 1px solid $remove;
			color: $remove;
			background-color: transparent;

			&:hover:not([disabled]) {
				background-color: darken($remove, 10%);
				border-color: darken($remove, 10%);
			}

			&:active {
				background-color: darken($remove, 15%);
				border-color: darken($remove, 15%);
			}
		}

		&:hover:not([disabled]) {
			background-color: $primary;
			color: white;
		}

		&:active {
			background-color: darken($primary, 35%);
			color: white;
		}

		&:disabled {
			background-color: transparent;
		}
	}

	&.btn-secondary.dropdown-toggle, .btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
		color: $primary;
		font-weight: 500;
		font-size: 0.9rem;
		background-color: transparent;
		border: none;
		text-decoration: unset;

		&:hover, &:hover:not([disabled]) {
			background-color: transparent;
			color: $primary;
		}

	}

	&.btn-cancel, &.btn-danger, &.btn-remove {
		background-color: $remove;
		border: 1px solid $remove;
		color: $white;

		&:hover:not([disabled]) {
			background-color: darken($remove, 10%);
			border-color: darken($remove, 10%);
		}

		&:active {
			background-color: darken($remove, 15%);
			border-color: darken($remove, 15%);
		}
	}

	&.outline {
		background-color: transparent;
		border: 1px solid $white;
		color: $white;
	}

	&.serif {
		font-family: $serif-font;
	}

	&:focus {
		box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
	}

	&:active {
		box-shadow: 0 0 0 0px rgba(2,117,216,.25);
		outline: none;
	}

	&.btn-link, &.btn-inline-link {
		color: $primary;
		font-weight: 600;

		&.btn-inline-link {
			margin: 0;
			vertical-align: baseline;
		}

		&:hover:not([disabled]) {
			text-decoration: underline;
		}

		&:active {
			color: $selection;
		}

		&:focus {
			box-shadow: 0 0 0 0px rgba(2,117,216,.25);
			outline: none;
		}

		&:focus:not(:hover) {
			text-decoration: none;
		}

		.active {
			box-shadow: 0 0 0 0px rgba(2,117,216,.25);
			outline: none;
		}

		&.btn-cancel, &.btn-danger, &.btn-remove {
			color: $remove;
			background-color: inherit;
			border: inherit;

			&:hover:not([disabled]) {
				color: darken($remove, 10%);
				background-color: inherit;
				border-color: inherit;
			}

			&:active {
				color: darken($remove, 15%);
				background-color: inherit;
				border-color: inherit;
			}
		}

	}
}
