@import "./animations";
@import "./buttons";
@import "./colors";
@import "./forms";
@import "./layout";
@import "./modals";
@import "./variables";
@import "./tables";
@import "./typography";
@import "./sortabletree.scss";

body {
    background: #F8F9FE;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $sans-font;
    outline: none;
    overflow: hidden;
}

#app {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

//Content Editable Focus
[contenteditable]:focus {
    outline: 0px solid transparent;
}

i.unicode-icon {
    font-style: normal;
    font-family: serif;
    font-weight: 700;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}

.searchMatch {
    border-radius: 2px;
    background-color: #FFFF66;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.ellipsize-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-flow: row nowrap;
}