/**
* Global overrides to the react sortable tree. This is not the cleanest override but
* it does work well. Use this to access styles that can't be changed by styling the
* node renderer
*/

@import './colors';

/* ------------------------------------------------------------- */

.rst__node {
    min-width: 100%;
    white-space: nowrap;
    position: relative;
}

.rst__nodeContent {
    /*width: 95%;*/
    position: absolute;
    top: 0;
    bottom: 0;
    /*border: 1px solid red;*/
}

/**
 * Override to the default sortable tree class that adds a scrollbar
 * to the inner pane.
 */
.rst__virtualScrollOverride {
    /*overflow: hidden !important;*/
    * {
        box-sizing: border-box;
    }
}

/**
* The CSS below is used by the Org node renderer to display the drop-
* down menu Nick designed. It should really go into its own file but
* I'm keeping it here to have all node renderer settings together
* for now.
*
* Per: http://koen.kivits.com/articles/pure-css-menu/
*/
/* ------------------------------------------------------------- */

.onclick-menu {
    position: relative;
    display: inline-block;
    border: 0px solid red;
    outline: none;
    margin: 0px;
    padding: 0px;
}

.onclick-menu-content {
    position: absolute;
    left: -160px;
    z-index: 1;
    padding: 4px;

    background: white;
    border-radius: 5px;
    border: 1px solid grey;

    /* use opacity to fake immediate toggle */
    opacity: 1;

    visibility: visible;
    display: block;

    transition: display 0.6s;
    transition: visibility 0.5s;

    /*
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    */

    outline: none;
}
