/** OLI Typography */
@import 'oli/colors';

$serif-font: 'Roboto Slab', serif;
$sans-font: 'Open Sans', sans-serif;

h2 {
  font-size: 1.5em;
}

a, .text-link {
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $selection;
  }
}
