body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // padding for footer
  padding-bottom: 40px;
}

.configure-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-img {
    width: 4em;
  }

  .btn-card {
    cursor: pointer;
    color: inherit;
    user-select: none;
  }

  .btn-card:hover,
  .card:hover {
    border: 1px solid #007bff;
    text-decoration: none;
    color: inherit;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 123, 255, 1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 123, 255, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 123, 255, 1);
  }
}

main.container {
  @include clearfix;
  padding-right: 0;
  padding-left: 0;
  display: block;
}

@media (min-width: 0) {
  main.container {
    padding-left: 1em;
    padding-right: 1em;
  }
}
