html.delivery {
  .select-sources {
    .custom-select {
      width: 13em;
    }

    .card-title {
      text-overflow: ellipsis;
      overflow: auto;
      white-space: nowrap;
    }

    .fade-text {
      overflow: auto;
      max-height: 10vh;
      text-overflow: ellipsis;
      color: var(--color-body-color);
      .card-text {
        overflow: auto;
      }
    }

    .small-date {
      font-size: 0.8em;
    }
  }

  .configure-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-img {
      width: 4em;
    }
  }

  .select-sources {
    .btn-card,
    .card {
      cursor: pointer;
      color: inherit;
      user-select: none;
      width: 16.8em;
      height: 23em;
      text-decoration: none;
      border: 1px solid transparent;
    }

    .btn-card:hover,
    .card:hover {
      border: 1px solid #007bff;
    }
  }

  .collab-space-config {
    background-color: var(--color-body);
    border-color: #9fbce9;
  }
}

html.dark {
  .collab-space-config {
    background-color: var(--color-body-dark);
    border-color: #173667;

    .badge-info {
      background-color: #173667;
    }
  }
}
