/**
 * OLI Torus Authoring Theme (dark)
 *
 * Theme-specific variables and custom styles
 */

$gray-100: #cdcfdd;
$gray-200: #b7b9c5;
$gray-300: #a2a4af;
$gray-400: #83858f;
$gray-500: #73757e;
$gray-600: #5c5d64;
$gray-700: #494a50;
$gray-800: #3e3f44;
$gray-900: #333438;

$black: #000;
$white: #fff;

$blue: #5d84c4;
$indigo: #9d6cec;
$purple: #8567bd;
$pink: #e46da4;
$red: #e07266;
$orange: #faa660;
$yellow: #eeb75f;
$green: #67bda7;
$teal: #64c4a7;
$cyan: #77accf;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-500;
$dark: $gray-800;

$yiq-contrasted-threshold: 175;

// Body

$body-bg: #2a2b2e;
$body-color: #f5f5f5;

// Links

$link-color: $primary;

// Fonts

$text-muted: $gray-600;

// Tables

$table-accent-bg: $gray-800;

$table-border-color: $gray-700;

// Forms

$input-bg: $body-bg;
$input-disabled-bg: $gray-700;

$input-color: $body-color;
$input-border-color: $gray-800;

$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;

$custom-file-color: $gray-500;
$custom-file-border-color: $body-bg;

// Dropdowns

$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: $primary;

// Navs

$nav-link-disabled-color: $gray-500;
$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

// Navbar

$navbar-dark-color: rgba($body-color, 0.6);
$navbar-dark-hover-color: $body-color;

$navbar-light-color: rgba($gray-900, 0.7);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$navbar-light-toggler-border-color: rgba($gray-900, 0.1);

// Pagination

$pagination-color: $body-color;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;

$pagination-hover-color: $body-color;
$pagination-hover-bg: lighten($success, 10%);
$pagination-hover-border-color: transparent;

$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $body-color;
$pagination-disabled-bg: darken($success, 15%);
$pagination-disabled-border-color: transparent;

// Jumbotron

$jumbotron-bg: $gray-800;

// Cards

$card-cap-bg: $gray-700;
$card-bg: $gray-800;

// Popovers

$popover-bg: $gray-800;
$popover-header-bg: $gray-700;

// Toasts

$toast-background-color: $gray-700;

$toast-header-background-color: $gray-800;

// Modals

$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;

$modal-header-border-color: $gray-700;

// Progress bars

$progress-bg: $gray-700;

// List group

$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;

$list-group-hover-bg: $gray-700;

// Breadcrumbs

$breadcrumb-bg: $gray-700;

// Close

$close-color: $white;
$close-text-shadow: none;

// Code

$pre-color: inherit;

/** OLI specific varaibles **/

$workspace-header-bg: transparent;
$workspace-sidebar-bg: #2d333b;
$workspace-sidebar-link-color: $body-color;
$workspace-bg: $body-bg;

///////////////////////////////////////////////////////////////////////////////
// IMPORTANT: DO NOT MODIFY IMPORT
// This import is required and must always be after the last variable
// declaration and before any custom styles in this style sheet
///////////////////////////////////////////////////////////////////////////////
@import "authoring.scss";
///////////////////////////////////////////////////////////////////////////////

/** Theme-specific custom styles **/
html.authoring {
  .workspace-sidebar {
    .label {
      color: white;
    }
    .icon {
      color: white;
    }
  }

  .objectives {
    .objective {
      background-color: $gray-900;
      border: 1px solid $gray-600;
      box-shadow: none;
    }
  }

  .container-editor .curriculum-entries {
    .curriculum-entry {
      background-color: $gray-900;
      border: 1px solid $gray-600;
      box-shadow: none;
    }
  }

  .resource-block-editor {
    .resource-content-frame {
      &.card {
        .card-body {
          background-color: $body-bg;
        }
      }
    }

    .toolbar {
      .toolbar-buttons {
        background-color: transparentize($color: $gray-700, $amount: 0);
      }
    }
  }

  .table {
    .thead-light th {
      background-color: $gray-800;
      color: $body-color;
    }
  }

  .review .reviews .review-links .review-link {
    .review-link-header {
      color: $gray-600;
    }

    &.active {
      .review-link-header {
        color: $gray-800;
      }
    }
  }

  .container-editor {
    .curriculum-entry {
      &.active {
        background-color: $gray-600;
      }
    }
  }

  .code-editor {
    .code-editor-content {
      background: #282c34;
    }
  }

  .blockquote {
    border-color: $gray-600;

    &::before {
      color: transparentize($color: $gray-600, $amount: 0.3);
    }
  }

  .settings-editor-wrapper {
    .settings-editor {
      color: $gray-900;
    }
  }

  /**
  * Multi-select Input
  */
  .rbt-input-multi.form-control.rbt-input {
    background-color: $body-bg;
    border-color: $gray-700;

    input {
      color: $body-color;
    }
  }

  .rbt-input-multi.focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .rbt-input-multi.form-control[disabled] {
    background-color: $body-bg;
  }

  .rbt-input-multi.is-invalid.focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }

  .rbt-input-multi.is-valid.focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }

  .rbt-input-multi input::-moz-placeholder {
    color: $gray-100;
  }

  .rbt-input-multi input:-ms-input-placeholder {
    color: $gray-100;
  }

  .rbt-input-multi input::-webkit-input-placeholder {
    color: $gray-100;
  }

  .rbt-menu.dropdown-menu .dropdown-item {
    color: $body-color;
  }

  /**
  * Token
  */
  .rbt-token {
    background-color: darken(#007bff, 20%);
    color: $white;
  }

  .rbt-token-disabled {
    background-color: $gray-800;
    color: $gray-200;
  }

  .rbt-token-active {
    background-color: #007bff;
  }

  .objective-selection {
    .existing-objectives {
      background-color: $body-bg;

      .selected {
        background-color: lighten($color: $body-bg, $amount: 30%);
      }
    }
  }
}
