/**
 * OLI Torus Authoring Theme (light)
 *
 * Theme-specific variables and custom styles
 */

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #ecf0f1;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-600: #95a5a6;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #2c67c4;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74c3c;
$orange: #fd7e14;
$yellow: #f39c12;
$green: #00bc8c;
$teal: #20c997;
$cyan: #3498db;

$primary: #2c67c4;
$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-700;

$yiq-contrasted-threshold: 175;

// Body
$body-bg: $white;
$body-color: $gray-900;

// Links

$link-color: $primary;

// Fonts

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base: 0.9375rem;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Tables

$table-accent-bg: $gray-200;

// Forms

$input-bg: $body-bg;
$input-color: $body-color;

// Dropdowns

$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Navs

$nav-link-disabled-color: $gray-600 !default;
$nav-tabs-border-color: $gray-200;

// Navbar

$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;

// List group

$list-group-hover-bg: $gray-200;

$list-group-disabled-bg: $gray-200;

// Close

$close-color: $body-color;
$close-text-shadow: none;

/** OLI specific varaibles **/

///////////////////////////////////////////////////////////////////////////////
// IMPORTANT: DO NOT MODIFY IMPORT
// This import is required and must always be after the last variable
// declaration and before any custom styles in this style sheet
///////////////////////////////////////////////////////////////////////////////
@import "authoring.scss";
///////////////////////////////////////////////////////////////////////////////
