<h2>LTI 1.3 Test</h2>

<p>Launch Successful!</p>

<p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <%= Map.keys(@lti_params) |> Enum.map(fn key -> %>
      <tr>
        <td><%= key %></td>
        <%= case @lti_params[key] do %>
          <% %{} = _map_value -> %>
            <td>%{...}</td>
          <% value -> %>
            <td><%= value %></td>
        <% end %>
      </tr>
    <% end) %>
  </tbody>
</table>
</p>
