<h3 class="my-3">{assigns[:title] || "Something Went Wrong"}</h3>

<p class="text-danger my-3">{assigns[:message] || @reason}</p>

<%= if assigns[:guidance] do %>
  <p>{@guidance}</p>
<% end %>

<%= if assigns[:request_id] do %>
  <p class="text-muted">Request ID: {@request_id}</p>
<% end %>

<p class="my-3">
  If you need help configuring your LTI connection, please
  <a href="#">
    {OliWeb.ViewHelpers.support_email_link("contact support")}
  </a>
</p>
