.janus-image-carousel div {
  display: unset;
  margin-top: unset;
}
.janus-image-carousel .swiper {
  width: 100%;
  height: 100%;
}

.janus-image-carousel .swiper,
.janus-image-carousel .swiper-pagination,
.janus-image-carousel .swiper-wrapper {
  display: flex;
}
.janus-image-carousel .swiper-pagination {
  justify-content: center;
}
.janus-image-carousel .swiper-button-prev,
.janus-image-carousel .swiper-button-next {
  margin-top: 0;
  top: calc(50% - (var(--swiper-navigation-size) / 2));
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.janus-image-carousel .swiper-slide,
.janus-image-carousel .no-images {
  display: flex;
  justify-content: center;
  text-align: center;
}
.janus-image-carousel figure {
  display: flex;
  flex-direction: column;
}
.janus-image-carousel img,
.janus-image-carousel figcaption,
.janus-image-carousel .no-images {
  align-self: center;
}
.janus-image-carousel figcaption {
  line-height: 1.2rem;
  padding-top: 8px;
  padding-bottom: 32px;
}
.janus-image-carousel .no-images {
  width: 100%;
  font-size: 18px;
}
