<div>
  <h2>Are you sure you want to act as this user?</h2>

  <p>
    You are about to act as <b><%= Utils.user_name(@user) %></b>. This will allow you to see the site as they see it, and perform actions on their behalf.
  </p>

  <%= form_for @conn, @masquerade_path, fn _f -> %>
    <input type="hidden" name="user_id" value={@user.id} />
    <button type="submit" class="px-2 py-1.5 bg-warning rounded text-white">Continue</button>
  <% end %>
</div>
