@use 'authoring/theme' as authoring;

html.authoring,
html.delivery {
  .inline-link {
    color: authoring.$blue;
    text-decoration: underline;
  }

  .link-editor {
    transition: none !important;
  }
}
