.advanced-authoring {
  .part-property-editor.janus-popup-part-property .aa-properties-editor .color-picker-widget {
    top: 1133px !important;
    padding-left: 14px;
  }
  .part-property-editor.janus-navigation-button-part-property
    .aa-properties-editor
    .color-picker-widget {
    top: 559px !important;
    padding-left: 14px;
  }
  .part-property-editor.janus-text-flow-part-property .aa-properties-editor .color-picker-widget {
    top: 506px !important;
    padding-left: 14px;
  }
  //Simple Authoring
  .part-property-editor.janus-popup-part-property .color-picker-widget {
    top: 583px !important;
    padding-left: 14px;
  }
  .audio-subtitles .align-items-center > div:nth-of-type(even) {
    padding-top: 39px !important;
    margin-left: 12px;
  }
  .simple-audio-subtitles .align-items-center > div:nth-of-type(even) {
    padding-top: 64px !important;
  }
}
