.advanced-authoring {
  .part-property-editor.janus-popup .aa-properties-editor .color-picker-widget-pop-up {
    top: 1133px !important;
  }
  .part-property-editor.janus-navigation-button .aa-properties-editor .color-picker-widget-pop-up {
    top: 559px !important;
  }
  .part-property-editor.janus-text-flow .aa-properties-editor .color-picker-widget-pop-up {
    top: 506px !important;
  }
}
