<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/components.js") %>"></script>

<div id="editor"/>

<script>
  window.component.mount('ResourceEditor', document.getElementById('editor'), <%= raw(@context) %>);
</script>
