
<%= for script <- @scripts do %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> script) %>"></script>
<% end %>

<h1><%= @context.title %></h1>

<%= render OliWeb.PageDeliveryView, "_objectives.html", objectives: @objectives %>

<div id="eventIntercept">
  <%= raw(@content_html) %>
</div>

<script>
  MathJax && MathJax.startup && MathJax.startup.defaultReady && MathJax.startup.defaultReady();
  OLI.initPreviewActivityBridge('eventIntercept');
</script>
