// Adaptive page authoring UI depends on these measurements.
$workspace-header-height: 65px;
$workspace-sidebar-width: 65px;

#nprogress .spinner {
  top: 10px;
  right: 4px;
}

.workspace {
  flex: 1;
  display: flex;
  background-color: $workspace-bg;
  flex-direction: column;
  position: relative;

  .workspace-top {
    height: $workspace-header-height;
    position: sticky;
    top: 0;
    z-index: $z-content-5;
    background-color: $workspace-header-bg;
    box-shadow: 0 2px 4px 0 rgba($black, 0.15);

    .header-bar {
      height: 38px;
      background-color: $workspace-logo-bg;
    }

    .logo {
      position: relative;
      min-width: $workspace-sidebar-width;
      background: $workspace-logo-bg;
      background-image: radial-gradient(70% 176%, $workspace-header-bg 0%, $workspace-logo-bg 100%);

      // bottom triangle
      &:after {
        display: block;
        position: absolute;
        bottom: -4px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px ($workspace-sidebar-width / 2) 0 ($workspace-sidebar-width / 2);
        border-color: $workspace-logo-bg transparent transparent transparent;
      }
    }

    h3.title {
      font-size: toRem(18);
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .breadcrumb-bar {
      height: 27px;
      background: $workspace-breadcrumb-bg;
      box-shadow: inset 0 1px 2px 0 rgba($black, 0.17);

      .phx-connected {
        width: 100%;
      }
    }

    .breadcrumb {
      font-size: toRem(12);
      margin-bottom: 0;
    }
  }

  .workspace-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: $workspace-header-height;
    height: calc(100vh - #{$workspace-header-height});
    z-index: $z-content-2;
  }

  .workspace-right {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 32px;
    }
  }

  .workspace-header {
    width: 100%;
    padding: 16px 32px;
    position: relative;
    background-color: $workspace-header-bg;

    h2 {
      margin-bottom: 4px;
    }

    .page-title {
      font-weight: bold;
    }

    .project-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .user-initials-icon {
    background-color: $workspace-sidebar-bg;
    border: 2px solid rgb(213, 207, 207);
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 600;
    margin-right: 10px;
  }

  .custom-breadcrumb {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    margin-bottom: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .breadcrumb-item {
      & + .breadcrumb-item {
        padding-left: 0.35rem;

        &::before {
          padding-right: 0.35rem;
        }
      }
    }
  }

  .workspace-sidebar {
    flex: 1;
    width: $workspace-sidebar-width;
    background-color: $workspace-sidebar-bg;
    box-shadow: inset -1px 0 3px 0 rgba(0, 0, 0, 0.09);
    z-index: $z-content-1;

    .dropdown-menu {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 2px;
      margin-left: 0px;
      z-index: $z-content-2;

      a {
        // display: flex;
        // flex-direction: columns;
        // margin: 10px 0;
        color: $workspace-sidebar-link-color;
      }
    }

    .dropdown-item {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .dropdown-menu > a:hover {
      background-color: $gray-500;
    }

    .btn-group {
      width: $workspace-sidebar-width;
      padding: 0px;
      background-color: transparent;
      border-color: transparent;
    }

    .sidebar-item {
      width: $workspace-sidebar-width;
      background-color: transparent;
      border-color: transparent;
      padding: 0px;
      padding-top: 8px;
    }

    .sidebar-item:hover {
      background-color: $gray-500;
    }

    .sidebar-item:focus {
      outline: none !important;
      box-shadow: none;
    }

    .label {
      font-size: 0.65em;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
