.workspace {
  flex: 1;
  display: flex;
  background-color: $workspace-bg;

  .workspace-left {
    display: flex;
    flex-direction: column;
  }

  .workspace-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 32px;
    }
  }

  .workspace-header {
    border-bottom: 1px solid $gray-400;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    position: relative;
    background-color: $workspace-header-bg;
    width: 100%;

    .page-title {
      font-weight: bold;
    }
  }

  .workspace-sidebar {
    flex: 1;
    width: 200px;
    border-right: 1px solid $gray-400;
    background-color: $workspace-sidebar-bg;

    a {
      padding: 6px 20px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      color: $black;
    }

    .user {
      margin-bottom: 20px;
    }

    .category {
      padding: 6px 20px;
      font-size: 16px;
      color: #8f9599;
      user-select: none;
      margin-top: 20px;
      margin-bottom: 0;
    }

    .active {
      background-color: $workspace-sidebar-link-color;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
    .account-link[data-initials]:before {
      font-weight: 400;
      content: attr(data-initials);
      display: inline-block;
      font-size: 1em;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      text-align: center;
      border-radius: 50%;
      background: #ec4e2a;
      margin-right: 1em;
      color: white;
    }
  }
}