.workspace {
  flex: 1;
  display: flex;
  background-color: $workspace-bg;

  .workspace-left {
    display: flex;
    flex-direction: column;
  }

  .workspace-right {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 0 32px 32px 32px;
    }
  }

  .workspace-header {
    width: 100%;
    padding: 16px 32px;
    position: relative;
    background-color: $workspace-header-bg;

    h2 {
      margin-bottom: 4px;
    }

    .page-title {
      font-weight: bold;
    }

    .project-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .custom-breadcrumb {
      background-color: transparent;
      box-shadow: none;
      padding: 0px;
      flex-wrap: none;
      margin-bottom: 8px;
    }

    .user-initials-icon {
      background-color: $workspace-sidebar-bg;
      border: 2px solid rgb(213, 207, 207);
      vertical-align: middle;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      padding-top: 2px;
      font-size: 0.9em;
      font-weight: 600;
    }
  }

  .workspace-sidebar {
    flex: 1;
    width: 60px;
    padding: 2px;
    background-color: $workspace-sidebar-bg;
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.15);
    z-index: 1;

    .dropdown-menu {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 2px;
      margin-left: 0px;
    }

    .dropdown-item {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .dropdown-menu > a:hover {
      background-color: $gray-500;
    }

    .btn-group {
      width: 60px;
      padding: 0px;
      background-color: transparent;
      border-color: transparent;
    }

    .btn {
      width: 60px;
      background-color: transparent;
      border-color: transparent;
      padding: 0px;
      padding-top: 8px;
    }

    .btn:hover {
      background-color: $gray-500;
    }

    .btn-group:focus {
      outline: none !important;
      box-shadow: none;
    }
    .btn:focus {
      outline: none !important;
      box-shadow: none;
    }

    .label {
      font-size: 0.65em;
      max-width: 50px;
      text-align: center;
    }

    a {
      display: flex;
      flex-direction: columns;
      margin: 10px 0;
      color: $workspace-sidebar-link-color;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
