.workspace {
  flex: 1;
  display: flex;
  background-color: $workspace-bg;

  .workspace-left {
    display: flex;
    flex-direction: column;
  }

  .workspace-right {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 20px;
    }
  }

  .workspace-header {
    width: 100%;
    border-bottom: 1px solid $gray-400;

    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-right: 12px;

    position: relative;
    background-color: $workspace-header-bg;

    display: flex;

    .page-title {
      font-weight: bold;
    }

    .project-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .custom-breadcrumb {
      background-color: transparent;
      box-shadow: none;
      padding: 0px;
      flex-wrap: none;
      margin-bottom: 8px;
    }

  }

  .workspace-sidebar {
    flex: 1;
    width: 200px;
    padding: 24px;
    border-right: 1px solid $gray-400;
    background-color: $workspace-sidebar-bg;

    a {
      display: flex;
      flex-direction: columns;
      margin: 10px 0;
      color: $workspace-sidebar-link-color;
    }

    .user {
      margin-bottom: 40px;
    }

    .category {
      padding: 0;
      font-size: 16px;
      color: $gray-500;
      user-select: none;
      margin-top: 36px;
      margin-bottom: 0px;
    }

    .active {
      font-weight: bold;
      color: $link-color;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;	      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}