// Adaptive page authoring UI depends on these measurements.
$workspace-header-height: 65px;
$workspace-sidebar-width: 65px;

#nprogress .spinner {
  top: 10px;
  right: 4px;
}

.workspace {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .workspace-top {
    height: $workspace-header-height;
    position: sticky;
    top: 0;
    z-index: var(--z-50);
    background-color: #f5f8fb;

    .header-bar {
      height: 2.5em;
      background-color: #f5f8fb;
    }

    .logo {
      position: relative;
      min-width: $workspace-sidebar-width;
      background: #f5f8fb;
      background-image: radial-gradient(70% 176%, #f5f8fb 0%, #f5f8fb 100%);

      img {
        height: 50px;
        margin-top: 5px;
      }

      // bottom triangle
      &:after {
        display: block;
        position: absolute;
        bottom: -4px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px calc($workspace-sidebar-width / 2) 0 calc($workspace-sidebar-width / 2);
        border-color: #f5f8fb transparent transparent transparent;
      }
    }

    h3.title {
      font-size: toRem(18);
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .breadcrumb-bar {
      height: 27px;
      background: #f5f8fb;

      .phx-connected {
        width: 100%;
      }
    }

    .breadcrumb {
      font-size: toRem(12);
      margin-bottom: 0;
    }
  }

  .workspace-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: $workspace-header-height;
    height: calc(100vh - #{$workspace-header-height});
    z-index: var(--z-20);
  }

  .workspace-right {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 32px;
    }
  }

  .workspace-header {
    width: 100%;
    position: relative;
    background-color: #f5f8fb;
    align-items: center;

    &.with-breadcrumbs {
      height: 38px;
    }

    h2 {
      margin-bottom: 4px;
    }

    .page-title {
      font-weight: bold;
    }

    .project-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .user-initials-icon {
    background-color: #e3e7ec;
    border: 2px solid rgb(213, 207, 207);
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 600;
  }

  .custom-breadcrumb {
    background-color: transparent;
    box-shadow: none;
    padding: 4px;
    margin-bottom: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .breadcrumb-item {
      display: inline-block;

      & + .breadcrumb-item {
        padding-left: 0.35rem;

        &::before {
          padding-right: 0.35rem;
        }
      }
    }
  }

  .workspace-sidebar {
    flex: 1;
    width: $workspace-sidebar-width;
    background-color: #e3e7ec;
    box-shadow: inset -1px 0 3px 0 rgba(0, 0, 0, 0.09);
    z-index: var(--z-10);

    .btn-group {
      width: $workspace-sidebar-width;
      padding: 0px;
      background-color: transparent;
      border-color: transparent;
    }

    .sidebar-item {
      display: block;
      width: $workspace-sidebar-width;
      background-color: transparent;
      border-color: transparent;
      padding: 8px;
      color: var(--color-black);

      img {
        margin: auto;
      }
      .label {
        text-align: center;
      }
    }

    .sidebar-item:hover {
      background-color: var(--color-gray-500);
      color: var(--color-white);
    }

    .sidebar-item:focus {
      outline: none !important;
      box-shadow: none;
    }

    .label {
      font-size: 0.65em;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
