$workspace-header-height: 65px;
$workspace-sidebar-width: 65px;

.workspace {
  flex: 1;
  display: flex;
  background-color: $workspace-bg;
  flex-direction: column;

  .workspace-top {
    height: $workspace-header-height;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $workspace-header-bg;
    box-shadow: 0 2px 4px 0 rgba($black, 0.15);

    .header-bar {
      height: 38px;
    }

    .logo {
      min-width: $workspace-sidebar-width;
      background: $workspace-logo-bg;
      background-image: radial-gradient(70% 176%, $workspace-header-bg 0%, $workspace-logo-bg 100%);
    }

    h2.title {
      font-size: toRem(18);
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .breadcrumb-bar {
      height: 27px;
      background: $workspace-breadcrumb-bg;
      box-shadow: inset 0 1px 2px 0 rgba($black, 0.17);
    }

    .breadcrumb {
      font-size: toRem(12);
      margin-bottom: 0;
    }
  }

  .workspace-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: $workspace-header-height;
    height: calc(100vh - #{$workspace-header-height});
    z-index: 1;
  }

  .workspace-right {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    /* padding-bottom must match height in footer */
    padding-bottom: 40px;

    main {
      padding: 0 32px 32px 32px;
    }
  }

  .workspace-header {
    width: 100%;
    padding: 6px 37px 3px 20px;
    position: relative;
    background-color: $workspace-header-bg;
    border-bottom: 1px solid rgb(213, 207, 207);

    h2 {
      margin-bottom: 4px;
    }

    .page-title {
      font-weight: bold;
    }

    .project-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .user-initials-icon {
    background-color: $workspace-sidebar-bg;
    border: 2px solid rgb(213, 207, 207);
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 2px;
    font-size: 0.9em;
    font-weight: 600;
  }

  .custom-breadcrumb {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    margin-bottom: 8px;
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .breadcrumb-item {
      display: inline-flex;

      & + .breadcrumb-item {
        padding-left: 0.35rem;

        &::before {
          padding-right: 0.35rem;
        }
      }
    }
  }

  .workspace-sidebar {
    flex: 1;
    width: $workspace-sidebar-width;
    padding: 2px;
    background-color: $workspace-sidebar-bg;
    box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.15);
    z-index: 1;

    .dropdown-menu {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 2px;
      margin-left: 0px;
    }

    .dropdown-item {
      padding-top: 1px;
      padding-bottom: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .dropdown-menu > a:hover {
      background-color: $gray-500;
    }

    .btn-group {
      width: $workspace-sidebar-width;
      padding: 0px;
      background-color: transparent;
      border-color: transparent;
    }

    .btn {
      width: $workspace-sidebar-width;
      background-color: transparent;
      border-color: transparent;
      padding: 0px;
      padding-top: 8px;
    }

    .btn:hover {
      background-color: $gray-500;
    }

    .btn-group:focus {
      outline: none !important;
      box-shadow: none;
    }

    .btn:focus {
      outline: none !important;
      box-shadow: none;
    }

    .label {
      font-size: 0.65em;
    }

    a {
      display: flex;
      flex-direction: columns;
      margin: 10px 0;
      color: $workspace-sidebar-link-color;
    }

    .account-link {
      height: 48px;
      display: inline-block;
      margin: 0;
      margin: 0;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
