<div>

  <h3>Access Project</h3>

  <p>You have already created one or more copies of this curriculum.</p>

  <p>Would you like to
    <%= link "create another copy", to: Routes.cognito_path(@conn, :clone, @project_slug) %>
    or access one of your existing copies?
  </p>

  <ul>
    <%= for p <- @projects do %>
      <li><%= link p.title, to: ~p"/workspaces/course_author/#{p.slug}/overview" %></li>
    <% end %>
  </ul>

</div>
