<div>

  <h3>Access Course</h3>

  <p>You have already created one or more sections.</p>

  <p>Would you like to
    <%= link "create a new section with this lesson", to: @create_section_url %>
    or <%= link "go to my existing sections", to: Routes.live_path(@conn, OliWeb.Workspaces.Instructor.IndexLive) %>?
  </p>

</div>
