.inlineActivityEditor {
  margin: 0px auto;
  flex: 1;

  :global .tab-pane .card {
    margin-bottom: 10px;
  }

  :global(.rich-text-editor > .slate-editor) {
    padding: 0.5rem;
    border: 1px solid var(--color-gray-300);
    border-radius: 0.25em;

    &.disabled {
      background: var(--color-gray-100);
    }
  }
  .toolbar {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
  }
}

:global(html.dark) {
  :global(.rich-text-editor > .slate-editor) {
    border-color: var(--color-gray-600);

    &.disabled {
      background: var(--color-gray-800);
    }
  }
}
