#PreviewTools {
  @import './preview-tools-reset.scss';

  box-shadow: 0px 0px 5px 1px var(--color-black);
  background: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: var(--z-50);
  width: 60px;
  min-width: 0;
  border-radius: 0px 5px 5px 0px;

  .action-picker {
    padding: 12px;
  }
  &.opened {
    top: 70px;
    bottom: 0;
    min-width: 350px;
    max-width: 350px;
    width: auto;
  }
  .pt-header {
    position: relative;
    padding: 8px;
    border-bottom: 1px solid var(--color-gray-400);
    > button {
      float: right;
      margin-top: 5px;
      border: none;
      background: transparent;
    }
    > div {
      display: flex;
      background: var(--color-gray-100);
      align-items: center;
      padding: 7px;
      margin: 0;
    }
    .pt-title {
      margin-left: 8px;
      color: var(--color-black);
      font-size: 18px;
    }
  }
  .pt-body {
    overflow: auto;
    color: var(--color-gray-800);
    .preview-tools-view {
      overflow: auto;
      counter-reset: li;

      ol {
        list-style: none;
      }
      li {
        counter-increment: li;

        a {
          color: var(--color-gray-800);
          display: block;
          position: relative;
          padding: 8px 8px;
          text-decoration: none;
        }
        a::before {
          content: '.' counter(li);
          display: inline-block;
          width: 1em;
          left: -1em;
          position: absolute;
          text-align: right;
          direction: rtl;
        }
        &.active a {
          color: var(--color-white);
        }
      }
    }
    .adaptivity,
    .inspector {
      font-size: 0.8rem;

      .list-group-item {
        padding: 0.5rem 1rem;
      }
      .correct {
        border-left: 4px solid var(--color-green-400);
      }
      .incorrect {
        border-left: 4px solid var(--color-yellow-400);
      }
      .initState {
        border-left: 4px solid var(--color-secondary);
      }
      .even {
        border-left: 4px solid var(--color-gray-600);
      }
      .odd {
        border-left: 4px solid var(--color-gray-500);
      }
      .chevron-arrow {
        display: inline-block;
        transform: rotate(0deg);
        transition: transform 200ms ease-in-out;

        &.rotate {
          transform: rotate(90deg);
        }
      }
      .card-header button {
        color: var(--color-body-color);
      }
    }
  }
  .inspector {
    .user-input {
      display: flex;
      align-items: center;
    }
    .stateKey {
      flex: 1 0 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .stateValue {
      flex: 1;
      min-width: 75px;
    }
    .is-parent {
      &.list-group-item {
        padding: 0;
      }
      .list-group {
        margin-left: 1rem !important;
      }
      button {
        font-size: 0.9rem;
      }
    }
    .custom-control-label {
      margin-right: -4px;
    }
    .custom-select-sm {
      height: calc(1.5em + 0.5rem + 1px);
      width: auto;
      font-size: 0.75rem;
      max-width: 75px;
    }
    .custom-switch {
      transform: scale(1.5);
    }
    .apply-changes {
      display: flex;
      background-color: var(--color-gray-300);
      button {
        flex-grow: 1;
      }
    }
  }
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
