ul,
ol {
  margin: initial !important;
  padding: initial !important;
  padding-left: initial !important;
  padding-right: initial !important;
  padding-top: initial !important;
  padding-bottom: initial !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.collapse,
.show {
  position: inherit;
  height: inherit;
  overflow: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
button,
.btn,
button.btn {
  background-clip: inherit;
  background-image: inherit;
  background-position: initial;
  background-repeat: inherit;
  text-shadow: inherit;
  box-shadow: inherit;
  &:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-clip: inherit;
    background-image: inherit;
    background-position: inherit;
    background-repeat: inherit;
    cursor: pointer;
  }
}
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  background-color: #fff !important;
  border: 1px solid !important;
  padding: 0.25rem !important;
  height: auto !important;
  color: #333 !important;
  border-radius: 2px !important;

  &:focus {
    box-shadow: none !important;
    outline: -webkit-focus-ring-color auto 1px !important;
  }
}
