html.authoring,
html.delivery {
  .activity-bank-selection {
    padding: 20px;

    .label {
      font-size: 1.5em;
    }

    .count-input {
      margin-left: 10px;
      flex: 0 0 1;
    }
  }
}
