.activity-bank-selection {
  padding: 0 calc(50% - 400px);
  margin: 0px auto;

  .label {
    font-size: 1.5em;
  }

  .count-input {
    margin-left: 10px;
    flex: 0 0 1;
  }

  .objectives {
    background: var(--color-slate-100);
  }
}
