.alternativesEditor {
}

.groupBlockHeader {
  display: flex;
  flex-direction: row;

  .options {
    display: flex;
    flex-direction: row;

    .option {
      margin-right: 10px;

      &.add {
        border-radius: 50%;
      }

      .edit,
      .delete {
        color: var(--authoring-white);
        padding: 0;
        margin-left: 10px;
        vertical-align: baseline;
      }

      &.active {
        color: var(--authoring-white);
        background-color: var(--authoring-primary);

        &:hover {
          background-color: var(--authoring-primary);
        }
      }

      &:hover {
        background-color: var(--authoring-gray-200);
      }
    }
  }
}
