.groupBlockHeader {
  display: flex;
  flex-direction: row;

  .options {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

    .option {
      margin-right: 10px;
      white-space: nowrap;

      &.add {
        border-radius: 50%;
      }

      &.warn {
        font-size: 20px;
        font-weight: 600;
        padding: 0 4px;
      }

      &.active {
        color: var(--color-white);
        background-color: var(--color-primary);

        &:hover {
          background-color: var(--color-primary);
        }
      }

      &:hover {
        background-color: var(--color-gray-200);
      }

      .edit {
        color: var(--color-white);
        border-radius: 4px;
        padding: 0 4px;
        margin-left: 10px;
        vertical-align: baseline;

        &:hover {
          background-color: var(--color-hover);
        }
      }
    }
  }
}
