.contentBlock {
  width: 100%;
  padding: 0 20px;

  :global(.slate-editor) {
    padding: 0 calc(50% - 400px) !important;
  }
}

.contentBlockHeader {
  display: flex;
  flex-direction: row;
  padding: 0 calc(50% - 400px);
}

.groupBlock {
  margin: 20px;
  padding: 20px;
  border: 1px dashed #aaa;

  // handle the special case when purpose type is none, apply the
  // padding styles to slate editor itself. this allows slate to utilize
  // the entire surrounding padding for cursor events and allow for easier
  // selection etc..
  :global(&.purpose-none) {
    .slate-editor {
      clear: both;
      cursor: initial;
      padding: 1.3em 10px;

      &.structured-content {
        padding: 1.3em calc(50% - 400px);
      }
    }
  }

  :global(.btn-purpose) {
    border: 1px solid var(--color-gray-200);

    text-align: left;
    :global(&.dropdown-toggle)::after {
      float: right;
      margin-top: 0.7em;
    }

    &:hover {
      border-color: rgba(var(--body-color, 0.6));
      background: rgba(var(--body-color, 0.05));
    }

    &:disabled {
      background-color: var(--color-slate-100);

      &:hover {
        border-color: rgba(var(--body-color, 0.1));
        background: var(--color-slate-100);
      }
    }
  }

  :global(.btn-delete):not([disabled]) {
    color: rgba(var(--body-color, 0.8));

    &:hover {
      color: var(--color-danger);
    }
  }
}

.groupBlockHeader {
  padding: 0 calc(50% - 400px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.purposeContainer {
  padding: 20px calc(50% - 400px);
}

.activityBlock {
  margin: 20px;
  padding: 0 calc(50% - 400px);
}

.activityBlockHeader {
  display: flex;
  flex-direction: row;
}

.surveyBlock {
  margin: 20px;
  padding: 20px;
  border: 1px dashed #aaa;

  :global(i.las.la-poll) {
    font-size: 32px;
    margin-right: 6px;
  }
}

.surveyBlockHeader {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
