.objectives-list-container {
  background-color: var(--color-slate-100);
  padding: 0 4px;
}

.objectives-list {
  padding: 6px 10px;
  font-size: 14px;

  &.no-objectives {
    background-color: rgba(var(--warning, 0.8));
  }

  &.with-objectives {
    background-color: rgba(var(--info, 0.8));
  }

  .objective-token {
    @include ellipsis;
    max-width: 100%;
    vertical-align: middle;
    cursor: pointer;
  }
}
