/**
 * OLI Torus Delivery Theme (dark)
 *
 * Theme-specific variables and custom styles
 */

$gray-100: #cdcfdd;
$gray-200: #b7b9c5;
$gray-300: #a2a4af;
$gray-400: #83858f;
$gray-500: #73757e;
$gray-600: #5c5d64;
$gray-700: #494a50;
$gray-800: #3e3f44;
$gray-900: #333438;

$black: #000;
$white: #fff;

$blue: #4977c2;
$indigo: #7e39ec;
$purple: #8463c2;
$pink: #d45695;
$red: #d8636f;
$orange: #ff9e4e;
$yellow: #ffd34e;
$green: #63a372;
$teal: #58c7a6;
$cyan: #69abd6;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-500;
$dark: $gray-800;

$yiq-contrasted-threshold: 175;

// Body

$body-bg: #2a2b2e;
$body-color: #f5f5f5;

$title-color: $body-color;

// Footer

$footer-bg-color: $gray-800;
$footer-color: $body-color;

// Links

$link-color: $primary;

// Fonts

$text-muted: $gray-600;

// Tables

$table-accent-bg: $gray-800;

$table-border-color: $gray-700;

// Forms

$input-bg: $body-bg;
$input-disabled-bg: $gray-700;

$input-color: $body-color;
$input-border-color: $gray-600;

$input-group-addon-color: $gray-500;
$input-group-addon-bg: $gray-700;

$custom-file-color: $gray-500;
$custom-file-border-color: $body-bg;

// Dropdowns

$dropdown-bg: $gray-900;
$dropdown-border-color: $gray-700;
$dropdown-divider-bg: $gray-700;

$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Navs

$nav-link-disabled-color: $gray-500;

$nav-tabs-border-color: $gray-700;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-active-color: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;

// Navbar

$navbar-dark-color: rgba($white, 0.6);
$navbar-dark-hover-color: $white;

$navbar-light-color: rgba($gray-900, 0.7);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$navbar-light-toggler-border-color: rgba($gray-900, 0.1);

// Pagination

$pagination-color: $white;
$pagination-bg: $gray-800;
$pagination-border-width: 0;
$pagination-border-color: transparent;

$pagination-hover-color: $white;
$pagination-hover-bg: lighten($gray-800, 10%);
$pagination-hover-border-color: transparent;

$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $white;
$pagination-disabled-bg: darken($gray-800, 15%);
$pagination-disabled-border-color: transparent;

// Jumbotron

$jumbotron-bg: $gray-800;

// Cards

$card-cap-bg: $gray-700;
$card-bg: $gray-800;

// Popovers

$popover-bg: $gray-800;
$popover-header-bg: $gray-700;

// Toasts

$toast-background-color: $gray-700;

$toast-header-background-color: $gray-800;

// Modals

$modal-content-bg: $gray-800;
$modal-content-border-color: $gray-700;

$modal-header-border-color: $gray-700;

// Progress bars

$progress-bg: $gray-700;

// List group

$list-group-color: $body-color;
$list-group-bg: $gray-800;
$list-group-border-color: $gray-700;

$list-group-action-color: $body-color;
$list-group-hover-bg: $gray-700;
$list-group-action-active-bg: $gray-600;

// Breadcrumbs

$breadcrumb-bg: $gray-700;

// Close

$close-color: $white;
$close-text-shadow: none;

// Code

$pre-color: inherit;

/** OLI specific variables **/

$choice-selected-bg: lighten($primary, 42%);
$choice-selected-bg-hover: darken($choice-selected-bg, 42%);
$choice-selected-color: $primary;
$choice-selected-border-color: $primary;

$feedback-correct-bg: lighten($green, 35%);
$feedback-correct-color: $green;
$feedback-incorrect-bg: lighten($red, 30%);
$feedback-incorrect-color: $red;
$feedback-error-bg: lighten($orange, 32%);
$feedback-error-color: $orange;

$hints-color: $gray-200 !default;
$hints-bg: $gray-700 !default;

$content-purpose-example-color: lighten($blue, 20%);
$content-purpose-learnmore-color: lighten($teal, 20%);
$content-purpose-manystudentswonder-color: lighten($cyan, 10%);
$activity-purpose-checkpoint-color: lighten($blue, 10%);
$activity-purpose-didigetthis-color: lighten($purple, 10%);
$activity-purpose-learnbydoing-color: lighten($green, 10%);

// Auth providers buttons

$google-button-background-color: #4285f4;
$google-button-font-color: $white;

$github-button-background-color: $black;
$github-button-font-color: $white;

///////////////////////////////////////////////////////////////////////////////
// IMPORTANT: DO NOT MODIFY IMPORT
// This import is required and must always be after the last variable
// declaration and before any custom styles in this style sheet
///////////////////////////////////////////////////////////////////////////////
@import 'delivery.scss';
///////////////////////////////////////////////////////////////////////////////

/** Theme-specific custom styles **/
html.delivery,
.content-block .delivery {
  .content {
    pre {
      background: $gray-900;
    }

    blockquote {
      border-color: $gray-600;
    }
  }

  .draggableColumn__card {
    background-color: $gray-900;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 33%);
  }

  .curriculum-editor .curriculum-entries {
    .curriculum-entry {
      background-color: $gray-900;
      border: 1px solid $gray-600;
      box-shadow: none;

      &.active {
        border-color: $primary;
      }
    }
  }
}

.course-outline a,
.course-outline a:hover {
  color: white;
}
