.btn.settings__open-button {
  padding: 0 3px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.settings__setting-button {
  height: 46px;
  line-height: 46px;
  border: 0;
}

.settings__is-enabled {
  width: 40px;
  margin-left: 8px;
  font-size: 24px;
}

.settings__label {
  padding: 0 16px;
}

.settings__menu {
  padding: 8px 0;
  width: 320px;

  .insert-button {
    padding: 2px;
  }
}
