@use 'delivery/variables' as delivery;
@import 'bootstrap';
@import "authoring/variables.scss";

.editors {

  .resource-content-frame {
    width: 100%;

    &.card {
      border-radius: 3px;
      border: none;
    }

    .card-header {
      cursor: grab;
      border-bottom: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .card-body {
      padding: 0;
      border: 4px solid $card-cap-bg;
      border-top: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      .activity-preview-info {
        background-color: $card-cap-bg;
        color: rgba($color: $body-color, $alpha: .8);
        text-align: center;
        font-style: italic;
        font-size: 14px;
        padding-top: 6px;

        .preview-text {
          font-style: normal;
          text-align: left;
          @include ellipsis;
        }
      }
    }

    .reorder-mode-description {
      display: none;
      background-color: $card-cap-bg;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: rgba($color: $body-color, $alpha: .8);
      font-size: 14px;
      padding: 6px 1.6rem;
      font-style: normal;
      text-align: left;
      @include ellipsis;
    }
  }

  .content-block {
    .content-block-structured-content {
      padding: 1.3em max(calc(50% - 400px), 50px);
    }

    // handle the special case when purpose type is none, apply the
    // padding styles to slate editor itself. this allows slate to utilize
    // the entire surrounding padding for cursor events and allow for easier
    // selection etc..
    &.purpose-none {
      .slate-editor {
        @include clearfix;
        cursor: initial;
        padding: 1.3em 10px;

        &.structured-content {
          padding: 1.3em max(calc(50% - 400px), 50px);
        }
      }
    }
  }

  .activity-block {
    .test-mode-handler {
      padding: 1.3em max(calc(50% - 400px), 50px);
    }
  }

  .resource-block-editor-and-controls {
    &.is-dragging {
      display: none;
    }
  }

  .resource-block-editor {
    &.reorder-mode {
      .resource-content-frame {
        .card-body {
          display: none;
        }

        .reorder-mode-description {
          display: block;
        }
      }
    }

    .btn-purpose {
      min-width: 150px;
      border: 1px solid rgba($color: $body-color, $alpha: 0.1);
      color: rgba($color: $body-color, $alpha: 0.8);
      background-color: $body-bg;

      text-align: left;
      &.dropdown-toggle::after {
        float: right;
        margin-top: .7em;
      }

      &:hover {
        border-color: rgba($color: $body-color, $alpha: 0.6);
        background:rgba($color: $body-color, $alpha: 0.05);
      }

      &:disabled {
        background-color: $card-cap-bg;

        &:hover {
          border-color: rgba($color: $body-color, $alpha: 0.1);
          background: $card-cap-bg;
        }
      }
    }

    .btn-delete:not([disabled]) {
      color: rgba($color: $body-color, $alpha: 0.8);

      &:hover {
        color: $danger;
      }
    }
  }

  .assistive-text {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .drop-target {
    display: flex;
    height: 20px;
    opacity: 0;
    transition: all .15s ease-in-out;

    &.hovered {
      height: 100px;
      opacity: 1;

      &::after {
        content: 'drop to place here';
        margin: 20px 0;
        padding: 20px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23DEDEDEFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
        width: 100%;
        height: 64px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $gray-300;
      }
    }

    &.is-last {
      height: 200px;
    }
  }

}