@use 'delivery/variables' as delivery;
@import "authoring/variables.scss";

.editors {

  .resource-content-frame {
    width: 100%;

    .card-header {
      .description {
        display: none;
      }
    }

    .card-body {
      padding: 0;

      .slate-editor {
        padding: 1.3em;
        padding-left: 42px;
      }
    }

    .delivery {
      padding: 10px;
      color: delivery.$body-color;
      background-color: delivery.$body-bg;
    }
  }

  .resource-editor-and-controls {
    &.is-dragging {
      display: none;
    }
  }

  .resource-editor {
    &.reorder-mode {
      .resource-content-frame {
        .card-header {
          .description {
            display: block;
          }
        }

        .card-body {
          display: none;
        }
      }
    }
  }

  .assistive-text {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .drop-target {
    display: flex;
    height: 20px;
    opacity: 0;
    transition: all .15s ease-in-out;

    &.hovered {
      height: 100px;
      opacity: 1;

      &::after {
        content: 'drop to place here';
        margin: 20px 0;
        padding: 20px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23DEDEDEFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
        width: 100%;
        height: 64px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: $gray-300;
      }
    }

    &.is-last {
      height: 200px;
    }
  }

}