
.objectives {
  color: #666666;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  .learning-objectives-label {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 0.8em;
    text-transform: uppercase;
  }

}