.add-resource-content {
  @include disable-select;
  position: relative;
  padding: 10px 0;
  cursor: pointer;


  &:hover {
    .insert-button-container .insert-button {
      opacity: 1;
    }

    .insert-adornment {
      opacity: 1;
    }
  }

  &.active {
    .insert-button-container {
      .insert-button {
        opacity: 1;
        background-color: $primary;
        border-color: $primary;

        i {
          color: $white;
          transform: rotate(45deg);
        }
      }
    }

    .insert-adornment {
      opacity: 1;
      background-color: $primary;
    }

    .insert-label {
      opacity: 0;
    }
  }

  .insert-button-container {
    position: absolute;
    left: -28px;
    top: -2px;
    padding-right: 5px;

    .insert-button {
      border-radius: 50%;
      width: 26px;
      height: 26px;
      border: 2px solid $gray-500;
      color: $gray-500;
      opacity: 0;
      transition: opacity 200ms ease-out;

      i {
        margin-left: 3px;
        vertical-align: text-top;
        color: $gray-500;
        transition: transform 200ms ease-in-out;
      }
    }

  }

  .insert-adornment {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $gray-500;
    opacity: 0;
    transition: opacity 200ms ease-out;
  }

  .insert-label {
    transition: opacity 200ms ease-out;
  }
}


.add-resource-content-last {
  padding-bottom: 100px;
}

.add-resource-popover {
  z-index: 1;

  .add-resource-popover-content {
    display: block;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05), 10px 0px 15px rgba(0,0,0,0.05), -10px 0px 15px rgba(0,0,0,0.05), 0px -5px 40px rgba(0,0,0,0.05);

    .list-group {
      .list-group-item-action {
        cursor: pointer;
        padding: 5px 10px;
        color: $body-color;
        font-size: 1em;
        min-width: 200px;
      }
    }
  }
}