@import 'authoring/variables';

.add-resource-content {
  button.dropdown-toggle {
    width: 100%;
  }

  /* fix dropdown menu */
  a:not([href]) {
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }
}