/* This file is for your main application css. */

@import "./delivery.css";

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}
.phx-disconnected::before{
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes phx-spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@keyframes phx-spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.phx-disconnected::after {
  -webkit-animation: 0.8s linear infinite phx-spinner;
          animation: 0.8s linear infinite phx-spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 3px #dedede;
  border-bottom-color: #0069d9;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  opacity: inherit;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}


.phx-error {
  background: #ffe6f0!important;
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  position: relative;

  /* padding-bottom must match height in footer */
  padding-bottom: 40px;
}

body footer {
  display: flex;
  flex-direction: row;

  /* height must match padding-bottom in body */
  height: 40px;
  line-height: 40px;

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  font-size: 0.8em;
}

#wrapper {
  flex: 1;
  display: flex;
}

#left {
  display: flex;
  flex-direction: column;
}
#right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#right .container {
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
}
#right h1 {
  font-size: 16px;
}
#right h2 {
  font-size: 14px;
}

#right .row {
  margin: 0 0 20px 0;
}
#right .page-header p {
  margin-top: 10px;
  color: #b3b3b3;
}
#right li:last-of-type {
  margin-bottom: 0;
}
#right li small {
  font-size: inherit;
  color: #b3b3b3;
}

p:last-of-type {
  margin: 0;
}

.add-button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.add-button:hover {
  background-color: #e5e5e5;
  border-radius: 4px;
}

form .form-label-group .help-block {
  color: #dc3545;
}

body.app nav.navbar {
  border-bottom: 2px solid #eee;
}

nav.navbar a.user {
  display: flex;
  flex-direction: row;
  height: 50px;
}

nav.navbar .user::after {
  margin: 14px 0 14px 10px;
}

nav.navbar .user img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.flex-1 {
  flex: 1;
}

.dragHandleGrab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: middle;
}
.dragHandleGrab .grip {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,0.2), rgba(0,0,0,0.3) 1px, transparent 1px, transparent 100%);
  background-repeat: repeat;
  background-size: 4px 4px;
}
.dragHandleGrab .gripactive {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255,255,255,0.7), rgba(255,255,255,0.9) 1px, transparent 1px, transparent 100%);
  background-repeat: repeat;
  background-size: 4px 4px;
}


.dragHandleGrab:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.assistive-text {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.objectives-editor {
  color: #666666;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.objectives-editor .learning-objectives-label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: .8em;
  text-transform: uppercase;
}

.curriculum-entry:hover {
  background-color: #eeeeee;
}

/*
Inlined react-bootstrap-typeahead styles
*/

.rbt .rbt-input-main::-ms-clear {
  display: none;
}

/**
 * Menu
 */
.rbt-menu {
  margin-bottom: 2px;
}

.rbt-menu > .dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbt-menu > .dropdown-item:focus {
  outline: none;
}

.rbt-menu-pagination-option {
  text-align: center;
}

/**
 * Multi-select Input
 */
.rbt-input-multi {
  cursor: text;
  overflow: hidden;
  position: relative;
  height: auto;
}

.rbt-input-multi.focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #495057;
  outline: 0;
}

.rbt-input-multi.form-control[disabled] {
  background-color: #e9ecef;
  opacity: 1;
}

.rbt-input-multi.is-invalid.focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.rbt-input-multi.is-valid.focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.rbt-input-multi input::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.rbt-input-multi input:-ms-input-placeholder {
  color: #6c757d;
}

.rbt-input-multi input::-webkit-input-placeholder {
  color: #6c757d;
}

.rbt-input-multi .rbt-input-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -4px;
  margin-top: -1px;
  overflow: hidden;
}

.rbt-input-multi .rbt-input-main {
  margin: 1px 0 4px;
}

/**
 * Close Button
 */
.rbt-close {
  z-index: 1;
}

.rbt-close-lg {
  font-size: 24px;
}

/**
 * Token
 */
.rbt-token {
  background-color: #e7f4ff;
  border: 0;
  border-radius: .25rem;
  color: #007bff;
  display: inline-block;
  line-height: 1em;
  margin: 1px 3px 2px 0;
  padding: 4px 7px;
  position: relative;
}

.rbt-token-disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: #495057;
  pointer-events: none;
}

.rbt-token-removeable {
  cursor: pointer;
  padding-right: 21px;
}

.rbt-token-active {
  background-color: #007bff;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.rbt-token .rbt-token-remove-button {
  bottom: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  opacity: 1;
  outline: none;
  padding: 3px 7px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: -2px;
}

/**
 * Loader + CloseButton container
 */
.rbt-aux {
  align-items: center;
  display: flex;
  bottom: 0;
  justify-content: center;
  pointer-events: none;
  /* Don't block clicks on the input */
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.rbt-aux-lg {
  width: 46px;
}

.rbt-aux .rbt-close {
  margin-top: -4px;
  pointer-events: auto;
  /* Override pointer-events: none; above */
}

.has-aux .rbt-input {
  padding-right: 34px;
}

.rbt-highlight-text {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0;
}

/**
 * Input Groups
 */
.input-group > .rbt {
  flex: 1;
}

.input-group > .rbt .rbt-input-hint,
.input-group > .rbt .rbt-aux {
  z-index: 5;
}

.input-group > .rbt:not(:first-child) .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .rbt:not(:last-child) .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.message-enter {
  height: 0px;
  opacity: 0;
}

.message-enter.message-enter-active {
  height: 40px;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.message-leave {
  height: 40px;
  opacity: 1;
}

.message-leave.message-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-in;
}


.LoadingSpinner {
  text-align: center;
  color: gray;
}
.LoadingSpinner i {
  margin: '0 5px';
  animation-duration: '1s';
  -webkit-animation-duration: '1s';
}

.sizeSmall {
  font-size: 0.8em;
}
.sizeNormal {
  font-size: 1em;
}
.sizeLarge {
  font-size: 1.2em;
}


