body.delivery nav .nav-item a.user {
  color: inherit;
  display: flex;
}

body.delivery nav .nav-item a.user .role {
  color: #888;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
}

body.delivery nav .nav-item a.user .user-icon,
body.delivery nav .nav-item a.user::after {
  align-self: center;
}

body.delivery nav .nav-item a.user::after {
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  body.delivery nav .nav-item a.user .username,
  body.delivery nav .nav-item a.user .role {
    display: none;
  }
}
