.instructor_dashboard_table {
  @apply border-r-0 border-l-0 font-sans not-italic text-sm  border-t border-Table-table-border;
}

.instructor_dashboard_table thead tr {
  @apply text-Text-text-high bg-Table-table-top-row border border-b border-t border-l-0 border-r-0 border-Table-table-border;
}

.instructor_dashboard_table thead tr th {
  @apply bg-transparent !border-r-0 !border-l-0;
}

.instructor_dashboard_table thead tr th:first-child {
  @apply bg-Table-table-top-row;
}

.instructor_dashboard_table th {
  @apply h-[50px] text-left font-normal text-xs sm:text-sm relative;
}

.instructor_dashboard_table th[data-sort-column='true'] {
  @apply font-bold text-gray-800 dark:text-[#EEEBF5];
}

.instructor_dashboard_table_link {
  @apply h-14 text-gray-500 dark:text-white font-semibold text-xs sm:text-sm;
}

.instructor_dashboard_table tr {
  @apply h-[50px] text-Text-text-high font-semibold text-xs sm:text-sm border-t border-r-0 border-l-0 border-Border-border-default;
}

.instructor_dashboard_table td {
  @apply border-r-0 border-l-0;
}

.table_header_separated tr {
  @apply font-normal;
}

.table_header_separated td {
  @apply font-normal;
}

.table_header_separated th {
  @apply font-semibold;
}

.table_header_separated thead th:not(:last-child) {
  @apply relative;
}

.table_header_separated thead th:not(:last-child)::after {
  content: "";
  @apply absolute right-0 top-0 bottom-0 w-px bg-Border-border-default;
}

.publish_changes_table tr:has(div[data-is-structural='true']) td {
  @apply bg-gray-300 dark:bg-neutral-800 dark:text-white;
}

.instructor_dashboard_table td:has(div.highlight-exception) {
  @apply rounded-md shadow-[inset_0px_0px_0px_8px_rgba(0,0,0,0.0)] shadow-blue-100/50;
}

.schedule_table tbody tr:nth-child(even) {
  @apply bg-Table-table-row-2;
}

.schedule_table tbody tr:nth-child(odd) {
  @apply bg-Table-table-row-1;
}

/* Apply background to sticky columns */
.schedule_table tbody tr:nth-child(even) td:nth-child(2) {
  @apply bg-Table-table-row-2;
}

.schedule_table tbody tr:nth-child(odd) td:nth-child(2) {
  @apply bg-Table-table-row-1;
}

.schedule_table tbody tr {
  @apply hover:bg-Table-table-hover;
}

/* Apply hover background to sticky columns */
.schedule_table tbody tr:hover td:nth-child(2) {
  @apply bg-Table-table-hover;
}

div:has(.instructor_dashboard_table) #header_paging {
  @apply sticky left-0 dark:bg-neutral-800;
}

div:has(.instructor_dashboard_table) #footer_paging {
  @apply sticky left-0 dark:bg-[#262626];
}

div:has(.remix_materials_table) {
  @apply overflow-x-hidden;
}

.remix_materials_table {
  @apply instructor_dashboard_table border-none;
}

.remix_materials_table th:last-of-type {
  text-align: right;
}

.remix_materials_publications_table {
  @apply instructor_dashboard_table border-none;
}

div:has(.remix_materials_publications_table) {
  @apply overflow-x-hidden;
}

div:has(.remix_materials_publications_table) thead {
  @apply hidden;
}

div:has(.remix_materials_publications_table) tbody tr:last-of-type {
  @apply border-0;
}
