.instructor_dashboard_table {
  @apply border-r-0 border-l-0 font-sans not-italic text-sm bg-white dark:bg-gray-800;
}

.instructor_dashboard_table th {
  @apply h-16 border-r-0 border-l-0 bg-white dark:bg-gray-800 text-left font-normal text-xs sm:text-sm relative;
}

.instructor_dashboard_table th[data-sort-column='true'] {
  @apply font-bold text-gray-800 dark:text-white;
}

.instructor_dashboard_table th i {
  @apply hidden;
}

.instructor_dashboard_table th[data-sortable='true'][data-sort-order='desc']::after {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%235B1EEA' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.0' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.instructor_dashboard_table th[data-sortable='true'][data-sort-order='asc']::after {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%235B1EEA' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.0' d='M6 12 L10 8 L14 12'/%3e%3c/svg%3e");
}

.instructor_dashboard_table th[data-sortable='true'][data-sort-column='true']::after {
  height: 20px;
  width: 20px;
  display: inline-block;
  transform: translateY(6px);
}

.instructor_dashboard_table th[data-sortable='true'][data-sort-column='false']::after {
  height: 20px;
  width: 20px;
  display: inline-block;
  transform: translateY(6px);
  filter: grayscale(100%);
}

.instructor_dashboard_table_link {
  @apply h-14 text-gray-500 dark:text-white font-semibold text-xs sm:text-sm;
}

.instructor_dashboard_table tr {
  @apply h-14 text-gray-500 dark:text-white font-semibold text-xs sm:text-sm;
}

.instructor_dashboard_table td {
  @apply border-r-0 border-l-0;
}

.instructor_dashboard_table tr:has(div[data-score-check='true']) td {
  @apply bg-white dark:bg-neutral-800 dark:text-white;
}

.instructor_dashboard_table tr:has(div[data-score-check='true']) td a {
  @apply bg-white dark:bg-neutral-800 dark:text-white;
}

.instructor_dashboard_table tr:has(a[data-score-check='true']) td {
  @apply bg-white dark:bg-neutral-800 dark:text-white;
}

.publish_changes_table tr:has(div[data-is-structural='true']) td {
  @apply bg-gray-300 dark:bg-neutral-800 dark:text-white;
}

.instructor_dashboard_table td:has(div.highlight-exception) {
  @apply rounded-md shadow-[inset_0px_0px_0px_8px_rgba(0,0,0,0.0)] shadow-blue-100/50;
}

div:has(.instructor_dashboard_table) #header_paging {
  @apply sticky left-0 dark:bg-neutral-800;
}

div:has(.instructor_dashboard_table) #footer_paging {
  @apply sticky left-0 dark:bg-neutral-800;
}

div:has(.remix_materials_table) {
  @apply overflow-x-hidden;
}

.remix_materials_table {
  @apply instructor_dashboard_table border-none;
}

.remix_materials_table th:last-of-type {
  text-align: right;
}

.remix_materials_publications_table {
  @apply instructor_dashboard_table border-none;
}

div:has(.remix_materials_publications_table) {
  @apply overflow-x-hidden;
}

div:has(.remix_materials_publications_table) thead {
  @apply hidden;
}

div:has(.remix_materials_publications_table) tbody tr:last-of-type {
  @apply border-0;
}
