/** Theme-specific custom styles for authoring **/

.review .reviews .review-links .review-link {
  .review-link-header {
    color: $gray-400;
  }

  &.active {
    .review-link-header {
      color: $gray-800;
    }
  }
}

.objectives-authoring {
  .objective-selected {
    background-color: $gray-800;
  }
}

.container-editor {
  .curriculum-entry {
    &.active {
      background-color: $gray-700;
    }
  }
}