{
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^actions/(.*)$",
    "^adaptivity/(.*)$",
    "^apps/(.*)$",
    "^data/(.*)$",
    "^hooks/(.*)$",
    "^state/(.*)$",
    "^styles/(.*)$",
    "^types/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
