janus-dropdown {
  height: auto !important;
}

/*-- label --*/
janus-dropdown label {
  font-family: 'OpenSansBold';
  color: var(--grayDark60);
  display: block;
  margin-bottom: 5px;
}

/*-- dropdown --*/
janus-dropdown select {
  max-width: initial !important;
  width: 100% !important;
  border-radius: 4px;
  border: 1px solid var(--lightGray40);
  border: 1px solid var(--grayDark20);
  min-height: 44px;
  padding: 5px 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
/*-- dropdown arrow --*/
janus-dropdown:before {
  content: '';
  color: #006586;
  height: 14px;
  width: 14px;
  border: 4px solid #006586;
  border-right: 0;
  border-top: 0;
  transform: rotate(-45deg);
  pointer-events: none;
  line-height: 8px;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  border-radius: 1px;
}

/*-- dropdown focused --*/
janus-dropdown select:focus,
janus-dropdown select:active,
janus-dropdown select:focus-visible,
janus-dropdown:active select,
janus-dropdown:focus select,
janus-dropdown:focus-within select {
  border: 2px solid var(--blue100);
  box-shadow: 0 0 0 3px var(--blue40_a);
}

/*-- dropdown disabled --*/
janus-dropdown select:disabled {
  background-color: var(--grayLight20);
  color: var(--grayDark40);
  cursor: not-allowed;
}

/*-- units --*/
janus-input-number .unitsLabel {
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}

//As per the requirment, dropdown / select needs to be in light mode even if the current theme is Dark.
// This can be customized from any external CSS file.
.dark select {
  background-color: #fff;
  color: #333333;
}
