/*----------------------------------
  Popup Button
----------------------------------*/
//Base Style
janus-popup:has(input) {
  input {
    cursor: pointer;
  }
  input[src*='data'] {
    opacity: 0;
  }
  &[model*='repo/icons'] {
    border-radius: 100px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.1s linear;
  }

  //Default Colors
  &[model*='orange'] {
    background-color: var(--orange100);
  }
  &[model*='orange']:hover {
    background-color: var(--orange20dark);
  }
  &[model*='red'] {
    background-color: var(--red100);
  }
  &[model*='red']:hover {
    background-color: var(--red20dark);
  }
  &[model*='green'] {
    background-color: var(--green100);
  }
  &[model*='green']:hover {
    background-color: var(--green20dark);
  }
  &[model*='blue'] {
    background-color: var(--blue100);
  }
  &[model*='blue']:hover {
    background-color: var(--blue20dark);
  }

  //Icons
  &[model*='question'] {
    background-size: 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 318.293 318.293'><g><path fill='white' d='M159.148,0c-52.696,0-95.544,39.326-95.544,87.662h47.736c0-22.007,21.438-39.927,47.808-39.927   c26.367,0,47.804,17.92,47.804,39.927v6.929c0,23.39-10.292,34.31-25.915,50.813c-20.371,21.531-45.744,48.365-45.744,105.899   h47.745c0-38.524,15.144-54.568,32.692-73.12c17.368-18.347,38.96-41.192,38.96-83.592v-6.929C254.689,39.326,211.845,0,159.148,0z'/><rect fill='white' x='134.475' y='277.996' width='49.968' height='40.297'/></g></svg>");
  }
  &[model*='information'] {
    background-size: 70%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 350.29 350.29'><g transform='translate(-202 -474.36)'><g transform='translate(79 352.36)'><g transform='translate(265.1 165.98)'><path fill='%23ffffff' d='m0 30.61c0-8.461 3.217-15.677 9.651-21.65 6.434-5.9727 14.142-8.959 23.122-8.96 9.115 0.001 16.89 2.9873 23.324 8.9599 6.434 5.9731 9.651 13.189 9.652 21.65-0.001 8.338-3.218 15.555-9.652 21.652-6.434 5.972-14.209 8.958-23.324 8.958-8.98 0-16.688-2.986-23.122-8.958-6.434-6.097-9.651-13.314-9.651-21.652zm62.933 57.301v176.2h-59.716v-176.2c0 0.001 59.716 0.001 59.716 0.001'/></g></g></g></svg>");
  }
  &[model*='exclamation'] {
    background-size: 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 301.691 301.691'><g><polygon fill='white' points='119.151,0 129.6,218.406 172.06,218.406 182.54,0  '/><rect fill='white' x='130.563' y='261.168' width='40.525' height='40.523'/></g></svg>");
  }
  .icon-document {
    background-size: 45%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.71 52.23' fill='white'><defs></defs><title>doc</title><g id='Layer_2' data-name='Layer 2'><g id='doc'><path class='cls-1' d='M34.71,5V47.23H5V5H34.71m.64-5h-31A4.36,4.36,0,0,0,0,4.36v43.5a4.37,4.37,0,0,0,4.36,4.37h31a4.37,4.37,0,0,0,4.36-4.37V4.36A4.36,4.36,0,0,0,35.35,0Z'/><path class='cls-1' d='M27.36,10h-15a2.5,2.5,0,0,0,0,5h15a2.5,2.5,0,0,0,0-5Z'/><path class='cls-1' d='M27.36,28h-15a2.5,2.5,0,0,0,0,5h15a2.5,2.5,0,0,0,0-5Z'/><path class='cls-1' d='M27.36,19h-15a2.5,2.5,0,0,0,0,5h15a2.5,2.5,0,0,0,0-5Z'/><path class='cls-1' d='M20.51,37H12.36a2.5,2.5,0,0,0,0,5h8.15a2.5,2.5,0,1,0,0-5Z'/></g></g></svg>");
  }
  .icon-hint {
    background-size: 43%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 36' fill='white'><defs></defs><title>hint</title><g id='Layer_2' data-name='Layer 2'><g id='hint'><path class='cls-1' d='M11,0C5.1,0,0,4.25,0,9.83S5.72,19,6,25.65a.5.5,0,0,0,.49.49h9a.5.5,0,0,0,.49-.48c.27-6.67,6-11,6-15.83C22,4,16.9,0,11,0Z'/><rect class='cls-1' x='6' y='28' width='10' height='3' rx='0.5'/><rect class='cls-1' x='7' y='33' width='8' height='3' rx='0.5'/></g></g></svg>");
  }
  .icon-zoom-in {
    background-size: 60%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.33 42.33' fill='white'><defs></defs><title>zoom-in</title><g id='Layer_2' data-name='Layer 2'><g id='Layer_2-2' data-name='Layer 2'><path class='cls-1' d='M15,3A12,12,0,1,1,6.51,6.51,12,12,0,0,1,15,3m0-3A15,15,0,1,0,25.61,4.39,15,15,0,0,0,15,0Z'/><path class='cls-1' d='M41.16,35.51,32.68,27a4,4,0,0,0-3.85-1l-2.52-2.51-2.82,2.82L26,28.83a4,4,0,0,0,1,3.85l8.49,8.48a4,4,0,0,0,5.65,0h0A4,4,0,0,0,41.16,35.51Z'/><rect class='cls-1' x='13.63' y='9.87' width='2.75' height='10.25' rx='1.38' ry='1.38'/><rect class='cls-1' x='13.63' y='9.88' width='2.75' height='10.25' rx='1.38' ry='1.38' transform='translate(30 0) rotate(90)'/></g></g></svg>");
  }

  //Custom URL
  &[model*='repo/icons']:not(janus-popup[model*='"iconURL":""']) {
    background: initial;
    box-shadow: initial;
  }

  input[src*='data']:focus,
  input[src*='data']:active {
    opacity: 1;
    border-radius: 100px;
    width: 0% !important;
    height: 0% !important;
    padding: 50%;
    margin: 0px;
  }
  input[src*='data']:focus {
    box-shadow: inset 0 0 0 4px var(--white40_a), 0 0 0 4px var(--black20_a);
  }
  input[src*='data']:active {
    box-shadow: inset 0 0 0 4px var(--white40_a);
  }
}

/*----------------------------------
  Popup Window - Note: !important tags to be removed once inline styles are removed
----------------------------------*/
// Window
.info-icon-popup {
  box-shadow: 0 0 6px var(--black20_a);
  border-radius: 5px !important;
}

.info-icon-popup {
  // Close Button
  .close {
    height: 48px !important;
    width: 48px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
  .close span {
    box-sizing: border-box;
    height: 2rem !important;
    width: 2rem !important;
    position: initial !important;
    color: transparent;
    user-select: none;
    display: inline-block;
    background-color: var(--white100);
    border-radius: 100px;
    border: solid 1px var(--grayDark20_a);
    box-shadow: 0 0 3px var(--black20_a);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512' class='svg-inline--fa fa-times fa-w-11' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='times' role='img' data-fa-i2svg=''><defs></defs><title>Close</title><path fill='%23717171' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'></path></svg>");
    background-size: 0.8rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .close:hover span,
  .close:focus span {
    border-width: 1px;
    border-color: var(--grayDark40_a);
    transition: all 0.1s linear;
    box-shadow: 0 0 0 3px var(--black10_a);
  }

  // Content
  .popup-background {
    janus-text-flow,
    janus-image {
      max-width: calc(100% - 20px) !important; //prevent overflow from popup window
    }
    janus-image img {
      width: 100% !important;
    }
  }
}

.dark janus-popup:has(input) {
  input[src*='data']:focus,
  input[src*='data']:active {
    background-color: rgba(0, 0, 0, 0);
  }
}
