/coverage/
/dist/
/src/
/static/
/styles/
/test/
/test-results/
/.eslintrc.json
/.prettierrc
/babel.config.js
/jest.config.js
/setup-tests.js
/test-report.html
/tsconfig.json
/tsconfig.node.json
/tsconfig.sdk.json
/tslint.json
/webpack.config.js
/webpack.config.node.js
/webpack.config.sdk.js
/yarn.lock
/__mocks__/