.course-card-link {
  img.card-img-top {
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }

  .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

a.course-card-link {
  text-decoration: none;
  text-decoration-line: none;

  .card {
    display: flex;
    flex-direction: column;

    .card-body {
      flex: 1;
    }
  }
}
