.dropdown-item {
  &.no-hover {
    &:hover,
    &:focus {
      color: unset;
      text-decoration: unset;
      background-color: unset;
    }
  }
}

.oli-radio {
  width: 20px;
  height: 20px;
}

.oli-checkbox {
  width: 20px;
  height: 20px;
}

.dragHandle {
  cursor: 'move';
  width: 24px;
  color: rgba(0, 0, 0, 0.26);
}

.list-group .list-group-item {
  border-bottom: none;
}

.list-group .list-group-item:last-child {
  border-bottom: $list-group-border-width solid $list-group-border-color;
}

a.form-control {
  color: $blue;
}
