.curriculum-editor {
  .targeted-objectives {
    .objective {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .change-view-buttons {
    // Bootstrap override
    .btn.active,
    .authoring .btn-group-vertical > .btn:focus,
    .authoring .btn-group-vertical > .btn:active,
    .authoring .btn-group-vertical > .btn.active {
      z-index: inherit;
    }
    display: flex;
    justify-content: flex-end;
  }

  .no-objectives {
    color: var(--color-warning);
  }

  .curriculum-entry {
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    box-shadow: 1px 1px 8px 1px var(--color-gray-200);
    cursor: grab;
    background-color: var(--color-body);
    color: var(--color-body-color);

    &:active {
      cursor: grabbing;
      border-color: var(--color-primary);
    }

    &.active {
      border-color: var(--color-primary);
    }

    .badge {
      border-radius: 0.3em;
      background-color: #e8e8e8;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 700;
    }

    .entry-actions {
      cursor: initial;
    }
  }
}

html.dark {
  .curriculum-editor {
    .curriculum-entry {
      background-color: var(--color-body-dark);
      color: var(--color-body-color-dark);
      box-shadow: 1px 1px 8px 1px var(--color-gray-900);
      border-color: var(--color-gray-600);

      .badge {
        background-color: var(--color-gray-400);
      }
    }
  }
}
