$heading-margin-bottom: 0.5em;
$element-margin-bottom: 1.5em;

.popup-anchor,
span.term {
  font-weight: bold;
  color: #63a372;
  font-style: italic;
}

.structured-content,
.activity-editor .rich-text-editor,
.content {
  h1.title {
    font-size: 2.5em;
    font-weight: 600;

    .page-number {
      font-weight: normal;
    }
  }

  h1,
  .h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: $heading-margin-bottom;
  }
  h2,
  .h2 {
    font-size: 1.5em;
    margin-bottom: $heading-margin-bottom;
  }
  h3,
  .h3 {
    font-size: 1.375em;
    margin-bottom: $heading-margin-bottom;
  }
  h4,
  .h4 {
    font-size: 1.25em;
    margin-bottom: $heading-margin-bottom;
  }
  h5,
  .h5 {
    font-size: 1.125em;
    margin-bottom: $heading-margin-bottom;
  }
  h6,
  .h6 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: $heading-margin-bottom;
  }

  p {
    line-height: 2em;
    margin-bottom: $element-margin-bottom;
  }

  .img-fluid {
    margin: 1.5em auto;
    margin-bottom: $element-margin-bottom;
  }

  blockquote {
    margin-top: 12px;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    color: var(--color-body-color);
    border-left: 3px solid var(--color-gray-400);
    padding-left: 20px;
    padding-bottom: 2px;
    word-break: break-word;
    margin-bottom: $element-margin-bottom;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  pre {
    text-align: left;
    color: var(--color-body-color);
    background: var(--color-body);
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    letter-spacing: -0.003em;
    border-radius: 6px;
    padding: 1em;
    margin-bottom: $element-margin-bottom;

    code.hljs {
      background: inherit;
    }
  }

  ul,
  ol {
    margin-bottom: $element-margin-bottom;
    padding-left: 1.5em;
  }

  ul li,
  ol li {
    margin-bottom: 0.25rem;
  }

  .dl-title {
    color: var(--color-green-400);
    font-size: 1.3em;
    font-weight: bold;
  }

  dl dt {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
    p {
      margin-bottom: 0;
    }
  }

  dl dd {
    margin-left: 18px;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
  }

  table {
    width: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: $element-margin-bottom;
    border-collapse: collapse;
    table-layout: auto;
    word-wrap: break-word;
    overflow: hidden;

    th {
      background-color: rgba(var(--color-blue-400), 15%);
    }

    th,
    td {
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .table-borderless {
    border: 0;
    tr,
    td {
      border: 0;
    }
  }

  img.d-block {
    margin-bottom: $element-margin-bottom;
  }

  figure > img.d-block {
    margin-bottom: initial;
  }

  img.d-block,
  iframe.d-block {
    max-width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  img.float-md-right,
  img.float-md-left,
  iframe.float-md-right,
  iframe.float-md-left {
    max-width: 400px;
  }

  .definition {
    margin-bottom: $element-margin-bottom;

    .term {
      color: var(--color-green-400);
      font-size: 1.3em;
      font-weight: bold;
    }

    .meanings-empty {
      display: none;
    }

    .meanings-single {
      display: inline;
      padding-left: 3px;
      li {
        list-style: none;
        display: inline;
        p {
          display: inline;
        }
      }
    }

    .meanings {
      p {
        margin-bottom: 5px;
      }
    }

    .meaning {
      margin-bottom: 0px;
    }
    .translation {
      font-style: italic;
    }

    .play-button {
      position: relative;
      top: 4px;
      font-size: 16px;
      margin-right: 3px;
      cursor: pointer;
    }

    .translation {
      p {
        display: inline;
      }
    }
  } // .definition

  .pronunciation .play-button {
    margin: 0px 2px 0px 5px;
    position: relative;
    top: 5px;
  }

  .pronunciation,
  .pronunciation-player {
    p {
      display: inline;
    }
  }

  .pronunciation-player {
    text-decoration: underline;
    color: var(--link-color);
    cursor: pointer;
  }

  .callout-inline,
  .formula-inline {
    display: inline-block;
    margin: 0px 0.5em;
    padding: 2px 0.5em;
    vertical-align: middle;
    mjx-container[display='true'] {
      pointer-events: none;
      margin: 0px !important;
    }
  }

  .callout-inline,
  .callout {
    background-color: var(--color-body);
  }

  .callout-block,
  .formula {
    display: block;
    margin: 8px;
    padding: 12px;
    text-align: center;

    blockquote,
    ol,
    ul,
    .monaco-editor {
      text-align: left;
    }
    mjx-container[display='true'] {
      pointer-events: none;
    }
  }

  .dialog {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    .dialog-line {
      &.speaker-1 {
        background-color: #d1e7dd;
      }
      &.speaker-2 {
        background-color: #f8d7da;
      }
      &.speaker-3 {
        background-color: #cff4fc;
      }
      &.speaker-4 {
        background-color: #fff3cd;
      }
      &.speaker-5 {
        background-color: #ffe5d0;
      }
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5rem;
      align-items: center;
      background-color: var(--color-body);
      .dialog-content {
        flex-grow: 1;
      }
      .dialog-speaker {
        padding: 0.5rem;
        width: calc(80px + 1rem);
        margin-right: 1rem;

        .speaker-portrait {
          width: 80px;
        }
        .speaker-name {
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }
  }

  .figure {
    display: flex;
    align-items: center;
    justify-content: center;
    figure {
      figcaption {
        color: var(--color-primary);
      }
      padding: 1rem;
    }
  }

  .caption-wrapper {
    display: flex;
    justify-content: center;

    figure {
      display: inline-block;
      background-color: var(--color-gray-100);
      padding: 20px;
      border-radius: 6px;

      figcaption {
        margin-bottom: 8px;
        text-align: center;
        margin-top: 8px;
        color: black;
      }

      .embed-responsive {
        margin: auto;
      }
    }
  }

  .figure-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .embed-responsive {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 1.5em;

    .embed-wrapper {
      position: relative;

      .embed-responsive-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &.embed-responsive-16by9 {
      max-width: 800px;

      .embed-wrapper {
        padding-top: 56%;
      }
    }
  }

  .popup-anchor {
    color: var(--color-green-600);
    font-style: italic;
    cursor: pointer;
    font-weight: bold;
  }

  .popup-click {
    text-decoration: underline;
  }

  .popup-content {
    &.show {
      max-width: 100% !important;
    }
    p:last-of-type {
      margin: 0;
    }
  }
}

.conjugation {
  .title {
    color: var(--color-green-400);
    font-size: 2em;
    line-height: 2.1em;
    font-weight: bold;
  }
  .verb {
    margin-bottom: 0.1rem;
  }
  .conjugation-cell {
    p:first-of-type {
      display: inline;
      margin-left: 1rem;
    }
  }

  table {
    margin-top: 1rem;
    .clickable {
      color: var(--color-primary);
      cursor: pointer;
    }
    .clickable:hover {
      text-decoration: underline;
    }
  }
}
