@import 'bootstrap';

.structured-content,
.activity-editor,
.content {
  blockquote {
    margin-top: 12px;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    color: $body-color;
    border-left: 3px solid $gray-400;
    padding-left: 20px;
    padding-bottom: 2px;
    word-break: break-word;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  pre {
    text-align: left;
    color: $body-color;
    background: darken($body-bg, 5%);
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    letter-spacing: -0.003em;
    border-radius: 6px;
    padding: 1em;

    code.hljs {
      background: inherit;
    }
  }

  ul li,
  ol li {
    margin-bottom: 14px;
  }

  table {
    @extend .table-bordered;
    @extend .table;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    overflow: hidden;

    th {
      background-color: rgba($blue, 15%);
    }

    caption {
      @extend .text-center;
    }
  }

  img.d-block {
    margin-bottom: 1.5em;
  }

  figure > img.d-block {
    margin-bottom: initial;
  }

  img.d-block,
  iframe.d-block {
    max-width: 100%;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  img.float-md-right,
  img.float-md-left,
  iframe.float-md-right,
  iframe.float-md-left {
    max-width: 400px;
    @extend .mb-2;
  }
  img.float-md-left,
  iframe.float-md-left,
  div.float-md-left {
    @extend .mr-4;
  }
  img.float-md-right,
  iframe.float-md-right,
  div.float-md-right {
    @extend .ml-4;
  }
  div.float-md-left,
  div.float-md-right {
    max-width: 410px;
    img.float-md-right,
    img.float-md-left,
    iframe.float-md-right,
    iframe.float-md-left {
      @extend .ml-0;
      @extend .mr-0;
      @extend .mb-0;
    }
  }

  img {
    @extend .img-fluid;
  }

  .youtube-wrapper {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    @extend .img-thumbnail;
  }

  .webpage-wrapper {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
    @extend .img-thumbnail;
  }

  .youtube-wrapper,
  .webpage-wrapper iframe {
    @extend .embed-responsive-item;
  }

  .callout-inline,
  .formula-inline {
    display: inline-block;
    background-color: darken($body-bg, 5%);
    margin: 0px 0.5em;
    padding: 2px 0.5em;
    vertical-align: middle;
    mjx-container[display='true'] {
      pointer-events: none;
      margin: 0px !important;
    }
  }

  .callout-block,
  .formula {
    display: block;
    background-color: darken($body-bg, 5%);
    text-align: center;
    margin: 8px;
    padding: 12px;

    blockquote,
    ol,
    ul,
    .monaco-editor {
      text-align: left;
    }
    mjx-container[display='true'] {
      pointer-events: none;
    }
  }

  .figure-wrapper {
    display: flex;
    justify-content: center;

    figure {
      display: inline-block;
      background-color: $gray-100;
      @extend .img-fluid;
      @extend .img-thumbnail;

      figcaption {
        margin-bottom: 8px;
        text-align: center;
        margin-top: 8px;
        color: black;
      }
    }
  }
}
