.help-btn {
  .help-icon {
    width: 16px;
    height: 16px;
  }

  span {
    vertical-align: middle;
  }
}

.help-modal {
  .modal-title {
    .help-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }

    span {
      vertical-align: middle;
    }
  }
}
