ul.list-square {
  list-style: square !important;
}
ul.list-circle {
  list-style: circle !important;
}
ul.list-disc {
  list-style: disc !important;
}
ul.list-none {
  list-style: none !important;
}

ol.list-none {
  list-style: none !important;
}
ol.list-decimal {
  list-style: decimal !important;
}
ol.list-decimal-leading-zero {
  list-style: decimal-leading-zero !important;
}
ol.list-lower-roman {
  list-style: lower-roman !important;
}
ol.list-upper-roman {
  list-style: upper-roman !important;
}
ol.list-lower-alpha {
  list-style: lower-alpha !important;
}
ol.list-upper-alpha {
  list-style: upper-alpha !important;
}
ol.list-lower-latin {
  list-style: lower-latin !important;
}
ol.list-upper-latin {
  list-style: upper-latin !important;
}
