html {
  position: relative;
  min-height: 100%;
}

body {
  color: var(--color-body-color);

  h1,
  .h1 {
    font-size: 2em;
  }
  h2,
  .h2 {
    font-size: 1.75em;
  }
  h3,
  .h3 {
    font-size: 1.5em;
  }
  h4,
  .h4 {
    font-size: 1.25em;
  }
  h5,
  .h5 {
    font-size: 1.125em;
  }
  h6,
  .h6 {
    font-size: 1em;
  }
}

body.modal-open {
  overflow: visible;
}

main.main {
  padding-bottom: 40px;
}

.torus-logo {
  font-family: 'Open Sans', sans-serif;

  img {
    height: 40px;
  }
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    background-color: #0d6efd !important;
    color: var(--color-white);
    display: inline-block;
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    padding: 10px;
  }
}

form .form-label-group .help-block,
form .form-group .help-block {
  color: var(--color-danger);
}

i.unicode-icon {
  font-style: normal;
  font-family: serif;
  font-weight: 700;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-flow: row nowrap;
}

.breadcrumb-bar {
  height: 2em;
  background: var(--workspace-breadcrumb-bg);

  .breadcrumb {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

form .form-label-group .help-block {
  color: #dc3545;
}

.custom-select {
  -webkit-appearance: none;
}

.system-banner {
  margin-bottom: 0.4em !important;

  span {
    color: black;
  }
}

/* fix an issue with contenteditable (slate) not being selectable in safari */
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.MafsView {
  display: block;
  background: var(--mafs-bg);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  font-variant-numeric: tabular-nums;
  touch-action: none;
  outline: 0;

  --mafs-bg: black;
  --mafs-fg: white;

  --mafs-origin-color: var(--mafs-fg);
  --mafs-line-color: #555;
  --grid-line-subdivision-color: #222;

  --mafs-red: #f11d0e;
  --mafs-orange: #f14e0e;
  --mafs-yellow: #ffe44a;
  --mafs-green: #15e272;
  --mafs-blue: #58a6ff;
  --mafs-indigo: #7c58ff;
  --mafs-violet: #ae58ff;
  --mafs-pink: #ee00ab;
}

.MafsView text {
  fill: var(--mafs-fg);
  cursor: default;
}

.MafsView path {
  stroke: var(--mafs-fg);
}

.MafsView:focus-visible {
  border-radius: 5px;
  outline: 3px solid #58a6ff;
}

@supports not selector(:focus-visible) {
  .MafsView:focus {
    border-radius: 5px;
    outline: 3px solid #58a6ff;
  }
}

.mafs-shadow {
  paint-order: stroke;
  stroke-width: 3px;
  stroke: var(--mafs-bg);
  stroke-opacity: 0.75;
  stroke-linejoin: round;
}

.mafs-movable-point {
  cursor: grab;
  touch-action: none;
}

.mafs-movable-point-dragging {
  cursor: grabbing;
}

.mafs-movable-point:focus {
  outline: 0;
}

.mafs-movable-point * {
  fill: none;
  stroke: none;
}

.mafs-movable-point-hitbox {
  fill: transparent;
}

.mafs-movable-point-focus {
  stroke: var(--movable-point-color);
  stroke-width: 2;
  stroke-opacity: 0;
  fill: none;
  transition: stroke-opacity 0.2s ease;
}

.mafs-movable-point-ring {
  fill: var(--movable-point-color);
  fill-opacity: 0.25;
  stroke: none;
  transition: r 0.2s ease;
}

.mafs-movable-point-point {
  fill: var(--movable-point-color);
  transition: r 0.2s ease;
}

/* Hover */

.mafs-movable-point:hover .mafs-movable-point-point,
.mafs-movable-point:focus-visible .mafs-movable-point-point {
  r: calc(var(--movable-point-ring-size) - 2px);
}

.mafs-movable-point:hover .mafs-movable-point-ring,
.mafs-movable-point:focus-visible .mafs-movable-point-ring {
  r: calc(var(--movable-point-ring-size) + 3px);
}

.mafs-movable-point.mafs-movable-point-dragging .mafs-movable-point-ring {
  r: var(--movable-point-ring-size);
}

/* Focus */

.mafs-movable-point:focus-visible .mafs-movable-point-focus {
  stroke-opacity: 1;
}
