@import "delivery/variables";

.previous-next-nav {
  margin-top: 3rem;
  border-top: 1px solid $gray-400;

  .page-nav-link, .page-nav-link-placeholder {
    margin-top: 20px;
  }

  .page-nav-link.btn-outline-primary:hover {
    .nav-label {
      color: $white;
    }
  }

  .nav-label {
    display: none;
    color: $dark;
    transition: all ease-in-out 200ms;
  }

  .nav-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    margin: 0 5px;
  }

  @media (min-width: 768px) {
    .page-nav-link, .page-nav-link-placeholder {
      padding: 16px;
      width: 30%;
    }

    .nav-label {
      font-size: .8em;
      margin-bottom: 4px;
      display: unset;
    }

    .nav-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      max-width: unset;
    }

    .nav-icon {
      font-size: 1.8em;
      font-weight: 600;
      margin: 6px 0;
    }

    .flex-ellipsize-fix {
      min-width: 0;
    }
  }

}
