@import "delivery/variables";

.previous-next-nav {
  margin-top: 3rem;
  border-top: 1px solid $gray-400;

  .page-nav-link {
    margin-top: 20px;
    border: 1px solid $gray-400;
    box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.25);

    &:hover {
      border-color: $primary;
      background-color: rgba($primary, 10%);
      box-shadow: 1px 1px 6px -2px rgba($primary, 0.15);

      .nav-title, .nav-icon {
        color: $primary;
      }
    }

    &:active {
      background-color: rgba($primary, 25%);

      .nav-title, .nav-icon {
        color: $primary;
      }
    }
  }

  .page-nav-link, .page-nav-link-placeholder {
    margin-top: 20px;
  }

  .nav-label {
    display: none;
    color: $gray-500;
  }

  .nav-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    margin: 0 5px;
  }

  @media (min-width: 768px) {
    .page-nav-link, .page-nav-link-placeholder {
      padding: 16px;
      width: 40%;
    }

    .nav-label {
      font-size: .8em;
      margin-bottom: 4px;
      display: unset;
    }

    .nav-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      max-width: unset;
    }

    .nav-icon {
      font-size: 1.8em;
      font-weight: 600;
      margin: 6px 0;
    }

    .flex-ellipsize-fix {
      min-width: 0;
    }
  }

}
