.previous-next-nav {
  margin: 1rem;

  .page-nav-link {
    margin-top: 20px;
    border: 1px solid var(--color-gray-200);
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    height: fit-content;
    color: var(--color-delivery-primary);
    background-color: var(--color-white);

    &:hover {
      border-color: var(--color-delivery-primary);
      background-color: rgba(var(--color-delivery-primary), 10%);
      box-shadow: 1px 1px 6px -2px rgba(var(--color-delivery-primary), 0.15);

      .nav-title,
      .nav-icon {
        color: var(--color-delivery-primary);
      }
    }

    &:active {
      background-color: rgba(var(--color-delivery-primary), 25%);

      .nav-title,
      .nav-icon {
        color: var(--color-delivery-primary);
      }
    }
  }

  .page-nav-link,
  .page-nav-link-placeholder {
    margin-top: 20px;
    width: 30%;
  }

  .nav-label {
    display: none;
    color: var(--color-gray-600);
  }

  .nav-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  .previous-next-nav {
    margin-left: 0;
    margin-right: 0;

    .page-nav-link,
    .page-nav-link-placeholder {
      padding: 16px;
      width: 40%;
    }

    .nav-label {
      font-size: 0.8em;
      margin-bottom: 4px;
      display: unset;
    }

    .nav-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      max-width: unset;
    }

    .nav-icon {
      font-size: 1.8em;
      font-weight: 600;
      margin: 6px 0;
    }
  }
}

html.dark {
  .previous-next-nav {
    .page-nav-link {
      background-color: var(--color-gray-800);
    }
  }
}
