.content-purpose {
  border-radius: 4px;
  margin-bottom: 1rem;

  .content-purpose-label {
    text-transform: uppercase;
    padding: 4px;
  }

  .content-purpose-content {
    padding: 20px;
  }

  &.none {
    .content-purpose-label {
      display: none;
    }

    .content-purpose-content {
      padding: 0px;
    }
  }

  &.objectives {
    border: 1px solid $content-purpose-objectives-color;

    .content-purpose-label {
      background-color: $content-purpose-objectives-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f11e';
      }
    }

    .content-purpose-content {
      font-size: 1.3em;
    }
  }

  &.checkpoint {
    border: 1px solid $content-purpose-checkpoint-color;

    .content-purpose-label {
      background-color: $content-purpose-checkpoint-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f11e';
      }
    }
  }

  &.didigetthis {
    border: 1px solid $content-purpose-didigetthis-color;

    .content-purpose-label {
      background-color: $content-purpose-didigetthis-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f256';
      }
    }
  }

  &.example {
    border-bottom: 1px dashed $content-purpose-example-color;

    .content-purpose-label {
      border-bottom: 1px dashed $content-purpose-example-color;
      font-weight: 700;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f1e5';
      }
    }
  }

  &.labactivity {
    border: 1px solid $content-purpose-labactivity-color;

    .content-purpose-label {
      background-color: $content-purpose-labactivity-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f610';
      }
    }
  }

  &.learnbydoing {
    border: 1px solid $content-purpose-learnbydoing-color;

    .content-purpose-label {
      background-color: $content-purpose-learnbydoing-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f51c';
      }
    }
  }

  &.learnmore {
    border: 1px solid $content-purpose-learnmore-color;

    .content-purpose-label {
      background-color: $content-purpose-learnmore-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f51b';
      }
    }
  }

  &.manystudentswonder {
    border: 1px solid $content-purpose-manystudentswonder-color;

    .content-purpose-label {
      background-color: $content-purpose-manystudentswonder-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f5da';
      }
    }
  }

  &.quiz {
    border: 1px solid $content-purpose-quiz-color;

    .content-purpose-label {
      background-color: $content-purpose-quiz-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f46c';
      }
    }
  }

  &.simulation {
    border: 1px solid $content-purpose-simulation-color;

    .content-purpose-label {
      background-color: $content-purpose-simulation-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f109';
      }
    }
  }

  &.walkthrough {
    border: 1px solid $content-purpose-walkthrough-color;

    .content-purpose-label {
      background-color: $content-purpose-walkthrough-color;
      color: $white;

      /** icon */
      &::before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        margin-left: 8px;
        margin-right: 8px;
        content: '\f6ec';
      }
    }
  }
}

.activity-link {
  &.none {
    border: 1px solid $gray-500;
  }

  &.checkpoint {
    background-color: rgba($content-purpose-checkpoint-color, 0.2);
  }

  &.didigetthis {
    background-color: rgba($content-purpose-didigetthis-color, 0.2);
  }

  &.example {
    background-color: $body-bg;
  }

  &.labactivity {
    background-color: rgba($content-purpose-labactivity-color, 0.2);
  }

  &.learnbydoing {
    background-color: rgba($content-purpose-learnbydoing-color, 0.2);
  }

  &.learnmore {
    background-color: rgba($content-purpose-learnmore-color, 0.2);
  }

  &.manystudentswonder {
    background-color: rgba($content-purpose-manystudentswonder-color, 0.2);
  }

  &.quiz {
    background-color: rgba($content-purpose-quiz-color, 0.2);
  }

  &.simulation {
    background-color: rgba($content-purpose-simulation-color, 0.2);
  }

  &.walkthrough {
    background-color: rgba($content-purpose-walkthrough-color, 0.2);
  }
}

// activity-purpose is deprecated but is left here to support existing content
.activity-purpose {
  padding: 4px 8px;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;

  // Only display purpose type decorations for the first elem of that type
  // in a series.
  // HTML looks like:
  // <h4 class="{purpose-type}" />
  // <activity class="activity-container" />
  // <h4 class="{purpose-type}" />
  // <activity class="activity-container" />
  // So, we use the sibling selector to hide duplicate purpose types
  // that occur after an activity element.
  &.checkpoint + .activity-container + .checkpoint,
  &.didigetthis + .activity-container + .didigetthis,
  &.learnbydoing + .activity-container + .learnbydoing {
    display: none;
  }

  &.checkpoint {
    background-color: $content-purpose-checkpoint-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f46c';
    }
  }

  &.didigetthis {
    background-color: $content-purpose-didigetthis-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f256';
    }
  }

  &.learnbydoing {
    background-color: $content-purpose-learnbydoing-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f51c';
    }
  }
}
