.survey {
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 1px solid var(--content-survey-color);

  .survey-label {
    text-transform: uppercase;
    padding: 4px;
    background-color: var(--content-survey-color);
    color: var(--color-white);

    /** icon */
    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-left: 8px;
      margin-right: 8px;
      content: '\f681';
    }
  }

  .survey-content {
    padding: 20px;
  }
}
