nav .nav-item a.user {
  color: inherit;
  display: flex;

  .role {
    color: $gray-600;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;

    &.admin-color {
      color: #2ecc71;
    }

    &.author-color {
      color: #3498db;
    }
  }
}

nav .nav-item a.user .user-icon,
nav .nav-item a.user::after {
  align-self: center;
}

nav .nav-item a.user::after {
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  nav .nav-item a.user .username,
  nav .nav-item a.user .role {
    display: none;
  }
}

body.app nav.navbar {
  border-bottom: 2px solid $gray-500;
}

nav.navbar .navbar-brand {
  color: inherit;
}

nav.navbar a.user {
  display: flex;
  flex-direction: row;
  height: 50px;
}

nav.navbar .user::after {
  margin: 14px 0 14px 10px;
}

nav.navbar .user img,
nav.navbar .user .user-img {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

nav.navbar .user .user-img .material-icons {
  font-size: 30px;
  margin-top: -2px;
  margin-left: -2px;
}
