.user {
  color: inherit;
  display: flex;

  .role {
    color: var(--color-gray-600);
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;

    &.admin-color {
      color: #2ecc71;
    }

    &.author-color {
      color: #3498db;
    }
  }
}

.user .user-icon,
.user::after {
  align-self: center;
}

.user-icon img {
  max-width: 28px;
}

.user::after {
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  .user .username,
  .user .role {
    display: none;
  }
}
