.cursor-pointer, .selectable {
  cursor: pointer;
}

.search-input {
  max-width: 500px;
}

.dropdown-select {
  width: 15rem !important;

  &:hover {
    cursor: pointer;
  }
}

.fs-button-download {
  font-size: 0.6em !important;
}
