.cursor-pointer,
.selectable {
  cursor: pointer;
}

.search-input {
  max-width: 500px;
}

.dropdown-select {
  width: 15rem !important;

  &:hover {
    cursor: pointer;
  }
}

.fs-button-download {
  font-size: 0.6em !important;
}

.border-post {
  border-left: 2.5px solid #63a372 !important;
}

.border-reply {
  border-left: 2.5px solid #dc3545 !important;
}

.w-85 {
  width: 85%;
}

.readonly {
  pointer-events: none;
  background: #80808029 !important;
}

.not-readonly {
  pointer-events: all;
}
