@import '~video-react/styles/scss/video-react';

$video-controls-bg: $workspace-sidebar-bg;
$video-controls-color: $workspace-sidebar-link-color;

.video-player {
  div.video-react-menu,
  ul.video-react-menu-content {
    min-width: 5em;
    min-height: 10em;
    bottom: 6px !important;
    background-color: $video-controls-bg;
    color: $video-controls-color;
    li {
      font-family: $font-family-sans-serif;
      text-align: right;
      margin-bottom: 0px;
      padding-right: 1em;
      line-height: 1em;
      background-color: $video-controls-bg;
      color: $video-controls-color;
    }
  }
  .control-bar {
    font-family: $font-family-sans-serif;
    background-color: $video-controls-bg;
    color: $video-controls-color;
  }
  .big-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; // gets it over the poster image
    background: none;
    border: none;
    opacity: 0.7;
    .play-icon {
      font-size: 128px;
      color: #fff;
    }
  }
}
