@import '~video-react/styles/scss/video-react';

.video-player {
  div.video-react-menu,
  ul.video-react-menu-content {
    min-width: 5em;
    bottom: 6px !important;
    background-color: var(--workspace-sidebar-bg);
    color: var(--workspace-sidebar-link-color);
    li {
      font-family: var(--font-sans);
      text-align: right;
      margin-bottom: 0px;
      padding-right: 1em;
      line-height: 1em;
      background-color: var(--workspace-sidebar-bg);
      color: var(--workspace-sidebar-link-color);
    }
  }
  .control-bar {
    font-family: var(--font-sans);
    background-color: var(--workspace-sidebar-bg);
    color: var(--workspace-sidebar-link-color);
  }
  .big-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; // gets it over the poster image
    background: none;
    border: none;
    opacity: 0.7;
    .play-icon {
      font-size: 128px;
      color: #fff;
    }
  }

  .video-captions-button {
    position: 'relative';
    text-shadow: none !important;
  }

  .captions-menu {
    position: absolute;

    right: 0px;
    padding: 0.25em;
    margin: 0;
    min-width: 10em;
    background-color: var(--workspace-sidebar-bg);
    color: var(--workspace-sidebar-link-color);
    list-style: none;
    bottom: 30px;
    text-shadow: none !important;
    li.captions-menu-item {
      margin: 0;
      padding: 0.5em;
    }
    li:hover {
      background-color: var(--workspace-sidebar-bg);
    }
  }
}
