global
    daemon
    maxconn 3000

defaults
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    mode http
    bind *:80
    bind *:443 ssl crt /certs/combined.pem
    redirect scheme https if !{ ssl_fc }
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    #
    # Docker-to-host dev assumptions:
    # - Phoenix runs on host.docker.internal:8080
    # - MinIO API runs on host.docker.internal:9000
    # - MinIO Console runs on host.docker.internal:9001
    # - Media bucket name is torus-media-dev
    acl s3_path path_beg /super_media/
    acl super_s3_path path_beg /superactivity/
    acl minio_api_path path_beg /buckets/
    acl minio_console_path path_beg /minio/
    acl is_css path_end .css

    use_backend s3_css if s3_path is_css
    use_backend s3 if s3_path
    use_backend super_s3 if super_s3_path
    use_backend minio_api if minio_api_path
    use_backend minio_console if minio_console_path

    default_backend torus


backend torus
    mode http
    server torus1 host.docker.internal:8080 check

backend s3
    mode http
    http-request set-path %[path,regsub(^/super_media,/torus-media-dev/media,)]
    http-request del-header Authorization
    server server1 host.docker.internal:9000 check

backend s3_css
    mode http
    http-request set-path %[path,regsub(^/super_media,/torus-media-dev/media,)]
    http-request del-header Authorization
    http-response set-header Content-Type text/css
    server server1 host.docker.internal:9000 check

backend super_s3
    mode http
    http-request set-path /torus-media-dev%[path]
    http-request del-header Authorization
    server server1 host.docker.internal:9000 check

backend minio_api
    mode http
    http-request set-path %[path,regsub(^/buckets,,)]
    server server1 host.docker.internal:9000 check

backend minio_console
    mode http
    http-request set-path %[path,regsub(^/minio,,)]
    server server1 host.docker.internal:9001 check
