/** Globally scoped styles */

html.authoring,
html.delivery {
  .d-light-none {
    display: none !important;
  }
}

html.authoring.dark,
html.delivery.dark {
  .d-dark-none {
    display: none !important;
  }

  img:not([src*='.svg']) {
    filter: brightness(0.8) contrast(1.2);
    transition: all 0.5s ease-in-out;
  }
}

@media (max-width: 992px) {
  .filter-opts {
    flex-direction: column;
    gap: 1em;
  }
}
