html.preview,
.instructor-preview {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size: 1em;
  line-height: normal;
  font-feature-settings: 'kern', 'liga', 'pnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  body #PreviewTools,
  .instructor-preview #PreviewTools {
    font-feature-settings: 'kern', 'liga', 'pnum';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: normal;
    font-family: var(--font-sans);
    font-size: 1em;
    font-weight: normal;
  }

  @import 'preview/preview-tools.scss';
}
