/**
 * Import this file into a component sass that is loaded with style-loader (/assets/src/**)
 * to access the active theme's variables
 */

/**
 * CSS variables are exported from the theme. Sass variables here are set to those
 * variables so that component can make use of them as normal
 */

$white: var(--white);
$black: var(--black);

$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);

$blue: var(--blue);
$indigo: var(--indigo);
$purple: var(--purple);
$pink: var(--pink);
$red: var(--red);
$orange: var(--orange);
$yellow: var(--yellow);
$green: var(--green);
$teal: var(--teal);
$cyan: var(--cyan);

$primary: var(--primary);
$secondary: var(--secondary);
$success: var(--success);
$info: var(--info);
$warning: var(--warning);
$danger: var(--danger);

$light: var(--light);
$dark: var(--dark);

$selection: var(--selection);
$hover: var(--hover);
$active: var(--active);

$body-color: var(--body-color);
$body-bg: var(--body-bg);

$z-overlay-1: var(--z-overlay-1);
$z-highest: var(--z-highest);

$google-button-font-color: var(--google-button-font-color);
$google-button-background-color: var(--google-button-background-color);

$card-cap-bg: var(--card-cap-bg);

$choice-selected-bg-hover: var(--choice-selected-bg-hover);
$choice-selected-color: var(--choice-selected-bg-hover);
$choice-selected-bg: var(--choice-selected-bg-hover);
$choice-selected-border-color: var(--choice-selected-bg-hover);

$dropdown-menu: var(--dropdown-menu);
