@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

div[data-janus-type='janus-fill-blanks'] .dropdown-blot {
  display: inline-block;
  vertical-align: top;
  margin: 0 1px;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option-wrapper {
  width: auto;
  padding: 5px;
  background: 0 0;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option {
  width: auto;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option-select {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid #979797;
  background: 0 0;
  box-shadow: none;
  padding: 0;
  margin: 8px 10px 0 0;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option-select:focus,
div[data-janus-type='janus-fill-blanks'] .dropdown-option-select:hover {
  background-color: rgba(52, 210, 175, 0.3);
  outline: 0;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option__correct .dropdown-option-select {
  background-color: #34d2af;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">  <g fill="none" fill-rule="evenodd" transform="translate(-3 -4)">  <rect width="14" height="14" fill="#D8D8D8" opacity="0"/>  <polygon fill="#FFF" points="5.857 10 3 7.121 3.806 6.309 5.857 8.37 10.194 4 11 4.818"/>  </g>  </svg>');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
div[data-janus-type='janus-fill-blanks'] .dropdown {
  display: none !important;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option-input {
  display: inline-block;
  word-wrap: normal;
  margin-right: 3px;
  pointer-events: auto;
  min-width: 66px;
  width: calc(100% - 50px);
  vertical-align: middle;
  cursor: text;
  box-sizing: border-box;
  min-height: 30px;
  padding: 0 5px 0 3px;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-option-input:focus {
  outline: 0;
  border-bottom: 1px solid #333;
}
div[data-janus-type='janus-fill-blanks'] .override-top {
  top: auto !important;
}
div[data-janus-type='janus-fill-blanks'] .override-top .select2-dropdown {
  box-shadow: 0 -1px 12px -5px #000;
}
div[data-janus-type='janus-fill-blanks'] .override-left {
  left: auto !important;
}
div[data-janus-type='janus-fill-blanks'] .select2-container {
  width: auto !important;
  height: auto;
  min-height: 26px;
  padding: 2rem 0 0 0;
  max-width: calc(100vw - 34px) !important;
  vertical-align: top;
  display: initial !important;
}
div[data-janus-type='janus-fill-blanks'] .select2-dropdown {
  min-width: 130px;
  width: auto !important;
  position: relative;
  box-shadow: 0 3px 15px -5px #000;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border: none;
  overflow: hidden;
}
div[data-janus-type='janus-fill-blanks'] .selection:focus {
  outline: 0;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  pointer-events: none;
  top: 0;
  bottom: 0;
  margin: auto;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #253445 transparent transparent transparent;
}
div[data-janus-type='janus-fill-blanks']
  h3
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: -8px;
}
div[data-janus-type='janus-fill-blanks']
  p
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: -3px;
}
div[data-janus-type='janus-fill-blanks']
  code
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: -5px;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: -5px;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #253445 transparent;
}
div[data-janus-type='janus-fill-blanks'] .select2-container--default .select2-selection--single {
  position: relative;
  border: none;
  width: auto;
  outline: 0;
  height: 35px !important;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 25px;
}
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered {
  min-height: 26px;
  min-width: 120px;
  width: auto;
  border: 0;
  box-shadow: none;
  border-radius: 3px 3px 0 0;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  padding: 0;
  font-size: 1em;
  margin-top: -1px;
}
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered:focus,
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered:hover {
  background-color: #d9d9de;
}
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered:focus .dropdown-menu {
  display: block;
  /* .select2-container--focus .select2-selection__rendered {
   border-bottom: 1px solid #2196f3;
   } */
}
div[data-janus-type='janus-fill-blanks'] .select2-container--disabled .select2-selection__rendered {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: none;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  white-space: normal;
}
div[data-janus-type='janus-fill-blanks'] #scene_Configuration .select2-selection__rendered {
  white-space: nowrap;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: transparent;
}
div[data-janus-type='janus-fill-blanks'] .select2-results {
  width: auto;
}
div[data-janus-type='janus-fill-blanks'] .config .select2-results {
  padding-bottom: 40px;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results
  > .select2-results__options {
  width: auto;
  max-width: 100%;
  padding: 0;
  max-height: 160px;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: 0 0;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c1c1c1;
  border: 3px solid transparent;
  background-clip: padding-box;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results
  > .select2-results__options::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 10px;
}
div[data-janus-type='janus-fill-blanks'] .select2-results__option {
  font-size: 1rem;
  line-height: 1;
  max-width: 100%;
  outline: 0;
  padding: 5px 10px;
  word-wrap: break-word;
}
div[data-janus-type='janus-fill-blanks'] .select2-results__option::before {
  display: none;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results__option--highlighted[data-selected],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results__option--highlighted[aria-selected],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-results__option--highlighted {
  background-color: #eee;
  color: rgba(0, 0, 0, 0.87);
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-dropdown:not(.config)
  .select2-results__option[aria-selected='true'],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .select2-dropdown:not(.config)
  .select2-results__option[data-selected='true'] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option {
  pointer-events: none;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option--highlighted[aria-selected],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option[aria-selected='true'],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option--highlighted[data-selected],
div[data-janus-type='janus-fill-blanks']
  .select2-container--default
  .config
  .select2-results__option[data-selected='true'] {
  background-color: transparent;
}
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered .incorrect-icon,
div[data-janus-type='janus-fill-blanks'] .select2-selection__rendered::before {
  content: '';
  display: none;
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #4ad3ad;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">  <g fill="none" fill-rule="evenodd" transform="translate(-3 -4)">  <rect width="14" height="14" fill="%23D8D8D8" opacity="0"/>  <polygon fill="%23FFF" points="5.857 10 3 7.121 3.806 6.309 5.857 8.37 10.194 4 11 4.818"/>  </g>  </svg>');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.correct
  + .select2-container
  .select2-selection__rendered::before {
  display: inline-block;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.incorrect
  + .select2-container
  .select2-selection__rendered
  .incorrect-icon {
  display: inline-block;
  background-color: #f96155;
  background-image: none;
  color: #fff;
  padding-left: 6.5px;
  line-height: 17px;
  font-size: 11px;
  box-sizing: border-box;
  text-align: left;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.correct
  + .select2-container
  .select2-selection__rendered {
  border-bottom: none;
  background-color: #daf6ee !important;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.correct
  + .select2-container
  .select2-selection__rendered:hover {
  background-color: #b9eedf !important;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.incorrect
  + .select2-container
  .select2-selection__rendered {
  border-bottom: none;
  background-color: #fddfdd !important;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.incorrect
  + .select2-container
  .select2-selection__rendered:hover {
  background-color: #fbb7b2 !important;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.correct
  + .select2-container
  .select2-selection--single:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
div[data-janus-type='janus-fill-blanks']
  .dropdown.incorrect
  + .select2-container
  .select2-selection--single:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
div[data-janus-type='janus-fill-blanks']
  p
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.85em;
  height: 30px !important;
  margin-top: 1px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.4em;
  min-height: 69px;
  margin-top: 16px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.5em;
  min-height: 49px;
  margin-top: 4px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.7em;
  min-height: 36px;
  margin-top: 3px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered::before {
  margin-bottom: 2px;
}
div[data-janus-type='janus-fill-blanks']
  code
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 2em;
  min-height: 27px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 2em;
  min-height: 30px;
  margin-top: -4px;
}
div[data-janus-type='janus-fill-blanks']
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 4px;
}
div[data-janus-type='janus-fill-blanks']
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 10px;
}
div[data-janus-type='janus-fill-blanks']
  s
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  text-decoration: line-through;
}
div[data-janus-type='janus-fill-blanks']
  p
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.85em;
  min-height: 31px;
  margin-top: 1px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.4em;
  min-height: 70px;
  margin-top: 16px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.5em;
  min-height: 50px;
  margin-top: 4px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.7em;
  min-height: 37px;
  margin-top: -3px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered::before {
  margin-bottom: 2px;
}
div[data-janus-type='janus-fill-blanks']
  code
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 2em;
  min-height: 28px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 2em;
  min-height: 31px;
  margin-top: -5px;
}
div[data-janus-type='janus-fill-blanks']
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 2px;
}
div[data-janus-type='janus-fill-blanks']
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 11px;
}
div[data-janus-type='janus-fill-blanks']
  s
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  text-decoration: line-through;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 49px;
  margin-top: 16px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 49px;
  margin-top: 38px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 50px;
  margin-top: 16px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 50px;
  margin-top: 38px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 33px;
  margin-top: 7px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 33px;
  margin-top: 21px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 34px;
  margin-top: 7px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 34px;
  margin-top: 21px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 21px;
  margin-top: 8px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 21px;
  margin-top: 18px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 22px;
  margin-top: 8px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.2;
  min-height: 22px;
  margin-top: 18px;
}
div[data-janus-type='janus-fill-blanks']
  code
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 19px;
  margin-top: 5px;
}
div[data-janus-type='janus-fill-blanks']
  code
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 19px;
  margin-top: 9px;
}
div[data-janus-type='janus-fill-blanks']
  code
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 20px;
  margin-top: 5px;
}
div[data-janus-type='janus-fill-blanks']
  code
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 20px;
  margin-top: 9px;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sup
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sub
  .dropdown-blot
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 5px;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sup
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sub
  .dropdown-blot
  .config
  + .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.6;
  min-height: 22px;
  margin-top: 5px;
}
@media only screen and (max-width: 440px) {
  /*** End Dropdown ***/
  /*** Text Input ***/
  div[data-janus-type='janus-fill-blanks'] .select2-container {
    max-width: calc(100vw - 40px);
  }
}
div[data-janus-type='janus-fill-blanks'] .text-input-blot {
  display: inline;
  margin: 0 1px;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
div[data-janus-type='janus-fill-blanks'] .text-input {
  height: auto;
  width: auto;
  border: 0;
  box-shadow: none;
  border-radius: 3px 3px 0 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #253445;
  display: inline;
  margin: 0;
  padding: 5px 5px;
  position: relative;
  min-width: 120px;
}
div[data-janus-type='janus-fill-blanks'] .text-input:focus {
  outline: 0;
  border-bottom: 1px solid #2196f3;
}
div[data-janus-type='janus-fill-blanks'] .text-input:disabled {
  cursor: not-allowed;
}
div[data-janus-type='janus-fill-blanks'] .text-input.force-inline-block {
  display: inline-block !important;
  padding: 0 5px;
  line-height: 1.9em;
  height: 30px;
  margin-top: 1px;
}
div[data-janus-type='janus-fill-blanks'] .text-input[contenteditable='false'] {
  border-bottom: none;
}
div[data-janus-type='janus-fill-blanks']
  .text-input[contenteditable='false'][placeholder]:empty::after {
  display: none;
}
div[data-janus-type='janus-fill-blanks'] .text-input.disabled {
  background-color: rgba(0, 0, 0, 0.07);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.8);
}
div[data-janus-type='janus-fill-blanks'] .text-input[contenteditable][placeholder]:after {
  padding: 0 5px;
  display: inline-block;
}
div[data-janus-type='janus-fill-blanks']
  .text-input.config[contenteditable][placeholder]:empty::after {
  content: attr(placeholder);
  display: inline-block;
  opacity: 0.5;
  min-width: 100px;
  font-size: 0.7em;
  line-height: 1em;
  letter-spacing: -0.1px;
  color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
div[data-janus-type='janus-fill-blanks']
  .text-input[contenteditable][placeholder]:focus:empty::after {
  display: none;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container::before {
  content: '';
  display: none;
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #4ad3ad;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6">  <g fill="none" fill-rule="evenodd" transform="translate(-3 -4)">  <rect width="14" height="14" fill="%23D8D8D8" opacity="0"/>  <polygon fill="%23FFF" points="5.857 10 3 7.121 3.806 6.309 5.857 8.37 10.194 4 11 4.818"/>  </g>  </svg>');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: auto 5px 1px 0;
  vertical-align: middle;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container:focus {
  outline: none;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container.correct,
div[data-janus-type='janus-fill-blanks'] .text-input-container.correct .text-input {
  background-color: #daf6ee !important;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container.correct::before {
  display: inline-block;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container.incorrect,
div[data-janus-type='janus-fill-blanks'] .text-input-container.incorrect .text-input {
  background-color: #fddfdd !important;
}
div[data-janus-type='janus-fill-blanks'] .text-input-container.incorrect::before {
  display: inline-block;
  background-color: #f96155;
  background-image: none;
  content: '!';
  color: #fff;
  padding-left: 6.5px;
  line-height: 17px;
  font-size: 11px;
  box-sizing: border-box;
  text-align: left;
}
div[data-janus-type='janus-fill-blanks']
  .text-input.config[contenteditable][placeholder]:empty::before {
  display: none;
}
div[data-janus-type='janus-fill-blanks'] .text-input.config[contenteditable][placeholder]::before {
  display: inline-block;
}
div[data-janus-type='janus-fill-blanks'] .text-input.config[contenteditable][placeholder] {
  border-bottom: 2px solid transparent;
  background-color: #daf6ee;
}
div[data-janus-type='janus-fill-blanks'] .text-input.config[contenteditable][placeholder]:focus {
  outline: 0;
  border-bottom: 2px solid #4ad3ad;
}
div[data-janus-type='janus-fill-blanks'] .text-input.config[contenteditable][placeholder]:empty {
  border-bottom: 1px solid #253445;
  margin-right: 0;
}
div[data-janus-type='janus-fill-blanks'] .text-input.correct {
  border-bottom: none;
  background-color: rgba(74, 211, 173, 0.2);
}
div[data-janus-type='janus-fill-blanks'] .text-input.incorrect {
  border-bottom: none;
  background-color: rgba(249, 97, 85, 0.2);
}
div[data-janus-type='janus-fill-blanks'] h1 .text-input-blot .text-input.force-inline-block {
  line-height: 1.45em;
  height: 69px;
  margin-top: 15px;
}
div[data-janus-type='janus-fill-blanks'] h2 .text-input-blot .text-input.force-inline-block {
  line-height: 1.55em;
  height: 49px;
  margin-top: 3px;
}
div[data-janus-type='janus-fill-blanks'] h3 .text-input-blot .text-input.force-inline-block {
  line-height: 1.7em;
  height: 36px;
  margin-top: 3px;
}
div[data-janus-type='janus-fill-blanks'] code .text-input-blot .text-input.force-inline-block {
  line-height: 2em;
  height: 27px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  .text-input-blot
  .text-input.force-inline-block {
  line-height: 1.9em;
  height: 30px;
  margin-top: -4px;
}
div[data-janus-type='janus-fill-blanks'] s .text-input-blot .text-input.force-inline-block {
  text-decoration: line-through;
}
div[data-janus-type='janus-fill-blanks'] p .text-input-blot .text-input.config.force-inline-block {
  line-height: 1.9em;
  height: 31px;
  margin-top: 1px;
}
div[data-janus-type='janus-fill-blanks'] h1 .text-input-blot .text-input.config.force-inline-block {
  line-height: 1.45em;
  height: 70px;
  margin-top: 15px;
}
div[data-janus-type='janus-fill-blanks'] h2 .text-input-blot .text-input.config.force-inline-block {
  line-height: 1.55em;
  height: 50px;
  margin-top: 3px;
}
div[data-janus-type='janus-fill-blanks'] h3 .text-input-blot .text-input.config.force-inline-block {
  line-height: 1.7em;
  height: 37px;
  margin-top: 3px;
}
div[data-janus-type='janus-fill-blanks']
  code
  .text-input-blot
  .text-input.config.force-inline-block {
  line-height: 2em;
  height: 28px;
  margin-top: 0;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  .text-input-blot
  .text-input.config.force-inline-block {
  line-height: 1.9em;
  height: 31px;
  margin-top: -4px;
}
div[data-janus-type='janus-fill-blanks'] s .text-input-blot .text-input.config.force-inline-block {
  text-decoration: line-through;
}
div[data-janus-type='janus-fill-blanks'] sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] sup .text-input-blot .text-input.force-inline-block {
  line-height: initial;
  height: 22px;
  padding: 2px 5px 0 5px;
}
div[data-janus-type='janus-fill-blanks'] sub .text-input-blot .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  line-height: initial;
  height: 22px;
  padding: 2px 5px 0 5px;
}
div[data-janus-type='janus-fill-blanks'] sub .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] sup .text-input-blot .text-input {
  padding: 2px 5px 3px 5px;
}
div[data-janus-type='janus-fill-blanks'] sub .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] sup .text-input-blot .text-input.config {
  padding: 2px 5px 2px 5px;
}
div[data-janus-type='janus-fill-blanks'] h1 sub .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] h1 sup .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] h2 sub .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] h2 sup .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] h3 sub .text-input-blot .text-input,
div[data-janus-type='janus-fill-blanks'] h3 sup .text-input-blot .text-input {
  padding: 0 5px 0 5px;
}
div[data-janus-type='janus-fill-blanks'] h1 sub .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] h1 sup .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] h2 sub .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] h2 sup .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] h3 sub .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] h3 sup .text-input-blot .text-input.config {
  padding: 0 5px;
}
div[data-janus-type='janus-fill-blanks'] h1 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h1 sup .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h2 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h2 sup .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h3 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h3 sup .text-input-blot .text-input.force-inline-block {
  padding: 0 5px 0 5px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h1
  sup
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h2
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h2
  sup
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h3
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h3
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  padding: 0 5px;
}
div[data-janus-type='janus-fill-blanks'] h1 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h1 sup .text-input-blot .text-input.force-inline-block {
  line-height: initial;
  height: 49px;
}
div[data-janus-type='janus-fill-blanks']
  h1
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h1
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  height: 50px;
}
div[data-janus-type='janus-fill-blanks'] h2 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h2 sup .text-input-blot .text-input.force-inline-block {
  line-height: initial;
  height: 33px;
}
div[data-janus-type='janus-fill-blanks']
  h2
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h2
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  height: 34px;
}
div[data-janus-type='janus-fill-blanks'] h3 sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] h3 sup .text-input-blot .text-input.force-inline-block {
  line-height: initial;
  height: 21px;
}
div[data-janus-type='janus-fill-blanks']
  h3
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  h3
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  height: 22px;
}
div[data-janus-type='janus-fill-blanks'] code sub .text-input-blot .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks'] code sup .text-input-blot .text-input.force-inline-block {
  line-height: initial;
  height: 19px;
}
div[data-janus-type='janus-fill-blanks']
  code
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  code
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  height: 20px;
  padding: 1px 5px 3px 5px;
}
div[data-janus-type='janus-fill-blanks'] code sub .text-input-blot .text-input.config,
div[data-janus-type='janus-fill-blanks'] code sup .text-input-blot .text-input.config {
  padding: 2px 5px 3px 5px;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sub
  .text-input-blot
  .text-input.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  blockquote
  sup
  .text-input-blot
  .text-input.force-inline-block {
  line-height: initial;
  height: 22px;
}
div[data-janus-type='janus-fill-blanks']
  blockquote
  sub
  .text-input-blot
  .text-input.config.force-inline-block,
div[data-janus-type='janus-fill-blanks']
  blockquote
  sup
  .text-input-blot
  .text-input.config.force-inline-block {
  height: 22px;
  /*** End Text Input ***/
  /*** Quill Overrides ***/
}
div[data-janus-type='janus-fill-blanks'] .editor {
  counter-reset: code-line-count 0;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor code {
  padding-top: 0;
  padding-bottom: 0;
}
div[data-janus-type='janus-fill-blanks'] .editor.ql-container.ql-snow {
  height: 100%;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor {
  font-size: 1rem;
  overflow-y: auto;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: 0 0;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c1c1c1;
  border: 3px solid transparent;
  background-clip: padding-box;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 10px;
}
div[data-janus-type='janus-fill-blanks'] .ql-editor.ql-blank::before {
  line-height: 2em;
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
div[data-janus-type='janus-fill-blanks'] .ql-editor.ql-blank::before.ql-blank::before {
  line-height: 2em;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor code {
  line-height: 2em;
  font-family: monospace;
  background-color: #ccc;
  padding-left: 16px;
  display: block;
  border-radius: 0;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor h1 {
  font-weight: 300;
  font-size: 3rem;
  line-height: 2;
  letter-spacing: -1.5px;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor h2 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: -0.5px;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor h3 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 0;
}
div[data-janus-type='janus-fill-blanks'] .ql-snow .ql-editor p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.5px;
  /*** End Quill Overrides ***/
  /*** Custom ***/
}
div[data-janus-type='janus-fill-blanks'] .scene,
div[data-janus-type='janus-fill-blanks'] body,
div[data-janus-type='janus-fill-blanks'] html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  color: #333;
}
div[data-janus-type='janus-fill-blanks'] .app {
  height: 100%;
}
div[data-janus-type='janus-fill-blanks'] .error {
  text-align: center;
  color: #ab0000;
}
div[data-janus-type='janus-fill-blanks'] .accessibility-instructions {
  position: fixed;
  top: -100%;
  font-size: 1px;
}
div[data-janus-type='janus-fill-blanks'] .dropdown-instructions,
div[data-janus-type='janus-fill-blanks'] .text-input-instructions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
}
