@import 'common/mixins';

.addResourceContent {
  @include disable-select;
  position: relative;
  padding: 10px 0;
  width: 90%;
  margin: 6rem auto 0;
  cursor: pointer;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  .insertButtonContainer {
    position: absolute;
    left: -28px;
    top: -2px;
    padding-right: 5px;
    opacity: inherit;

    .insertButton {
      border-radius: 50%;
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(--color-gray-500);
      color: var(--color-gray-500);
      opacity: inherit;
      transition: opacity 200ms ease-out, background-color 200ms ease-out;

      i {
        vertical-align: text-top;
        color: var(--color-gray-500);
        transition: transform 200ms ease-in-out, color 200ms ease-in-out;
      }
    }
  }
}

.last {
  opacity: 1;
}

.active {
  opacity: 1;

  .insertButtonContainer {
    .insertButton {
      background-color: var(--color-primary);
      border-color: var(--color-primary);

      i {
        color: var(--color-white);
        transform: rotate(45deg);
      }
    }
  }

  .insertAdornment {
    background-color: var(--color-primary);
  }
}

.disabled {
  cursor: default;
}

.insertAdornment {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-400);
  opacity: inherit;
  transition: opacity 200ms ease-out;
}

.insertLabel {
  padding-bottom: 100px;
  transition: opacity 200ms ease-out;
}

.insertButtonContainer {
  top: 0px;
}

.insertButton {
  border: 2px solid transparent;
  background-color: rgba($color: var(--color-body-color), $alpha: 0.6);
  color: white;
}

.addResourcePopover {
  max-width: 375px;
  overflow: hidden;
  width: fit-content;
  z-index: 500;
  border-radius: 6px;
  border-color: var(--color-light);

  &:global(.popover) {
    max-width: unset !important;
  }
}

.addResourcePopoverContent {
  width: 375px;
  padding: 4px 2px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
  background-color: var(--color-body);
  border-color: var(--color-light);

  :global(.header) {
    padding-left: 6px;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  :global(hr) {
    width: 80%;
    color: lightgray;
  }

  :global(.type-label) {
    color: var(--color-body-color);
    font-size: 0.8em;
    font-weight: 300;
  }
  :global(.resource-choice-header) {
    color: var(--color-body-color);
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
  }

  :global(.resource-choice) {
    border: none;
    max-height: 50px;
    min-height: 50px;
    max-width: 70px;
    min-width: 70px;
    color: var(--color-body-color);
    transition: transform 100ms ease-in-out;

    &:hover {
      color: var(--color-primary);
    }
    &:active {
      transform: translateY(4px);
    }

    &[disabled] {
      color: var(--color-gray-400);

      .type-label {
        color: var(--color-gray-400);
      }

      &:hover {
        color: var(--color-gray-400);
      }
      &:active {
        transform: none;
      }
    }
  }

  :global(.resource-choice-icon) {
    font-size: 1.3em;
  }

  :global(.resource-choices-divider) {
    border-left-color: var(--color-light);
    border-left-width: 1px;
    border-left-style: solid;
  }

  :global(.resource-choices-tip) {
    font-size: 0.8em;
    color: var(--color-body-color);
  }

  :global(.resource-choices) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  :global(.non-activities) {
    max-width: 140px;
  }
  :global(.activities) {
    max-width: 210px;
  }
  :global(.type-description) {
    color: var(--color-body-color);
    font-size: 0.8em;
  }
}

:global(html.dark) {
  .addResourcePopover {
    border-color: var(--color-gray-600);
  }

  .addResourcePopoverContent {
    background-color: var(--color-gray-700);
    border-color: var(--color-gray-600);

    :global(hr) {
      color: var(--color-gray-600);
    }

    :global(.type-label) {
      color: var(--color-body-color-dark);
    }
    :global(.resource-choice-header) {
      color: var(--color-body-color-dark);
    }

    :global(.resource-choice) {
      color: var(--color-body-color-dark);

      &:hover {
        color: var(--color-primary);
      }
      &[disabled] {
        color: var(--color-gray-500);

        .type-label {
          color: var(--color-gray-500);
        }

        &:hover {
          color: var(--color-gray-500);
        }
      }
    }

    :global(.resource-choices-divider) {
      border-left-color: var(--color-gray-600);
    }

    :global(.resource-choices-tip) {
      color: var(--color-body-color-dark);
    }

    :global(.type-description) {
      color: var(--color-body-color-dark);
    }
  }
}
