
<div class="workspace-header">

  <div class="d-flex justify-content-between">
    <h2><%= @title %> </h2>
    <div>
      <a href='javascript:;' onclick="showHelpModal();" class="justify-content-end small">Help</a>
      <%= account_link @conn %>
    </div>

  </div>

</div>
