<div class="workspace-header d-flex justify-content-between">
  <div class="page-title"><%= @title %></div>
  <div class="page-controls">
    <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "btn btn-sm btn-primary" %>
  </div>
</div>
