<a tabindex="0" aria-label="Community" class="sidebar-item btn my-1" href="<%= Routes.live_path(OliWeb.Endpoint, OliWeb.CommunityLive.IndexView) %>">
  <img aria-hidden="true" src="/images/icons/icon-admin-light.svg" height="36px" width="32px"/>
  <div aria-hidden="true" class="label mt-1">Community</div>
</a>
