<%= if delivery_breadcrumbs?(@conn) do %>
  <div class="container">
    <nav class="breadcrumb-bar d-flex align-items-center mt-3 mb-1">
      <div class="flex-1">
        <%= live_render(@conn, BreadcrumbTrailLive, session: %{"breadcrumbs" => @breadcrumbs}) %>
      </div>
    </nav>
  </div>
<% end %>
