<%= render OliWeb.SharedView, "_cookie_consent.html" %>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm text-left">
        <a href='javascript:;' onclick="cookiePreferences();">Cookie Preferences</a>
      </div>
      <div class="col-sm text-center">
      </div>
      <div class="col-sm text-right">

      </div>
    </div>
  </div>
</footer>
