<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm text-left">
      </div>
      <div class="col-sm text-center">
      </div>
      <div class="col-sm text-right">
        OLI Torus <%= Application.fetch_env!(:oli, :build).version %> (<%= Application.fetch_env!(:oli, :build).sha |> String.upcase %>) <%= Timex.format!(Application.fetch_env!(:oli, :build).date, "%m/%d/%Y", :strftime) %>
      </div>
    </div>
  </div>
</footer>
