<div class="workspace-sidebar">
  <div class="small">
    <%= sidebar_link @conn, "Help", :help, to: Routes.help_path(@conn, :index) %>
  </div>
  <div class="user">
    <%= account_link @conn %>
    <%= sidebar_link @conn, "Projects", :projects, to: Routes.live_path(OliWeb.Endpoint, OliWeb.Projects.ProjectsLive) %>
  </div>

  <%= if is_admin?(@conn) do %>
    <%= render OliWeb.LayoutView, "_admin_sidebar.html", assigns %>
  <% end %>

</div>
