<div class="absolute flash container inset-x-0 top-0 px-0 z-[99]">
  <%= if Phoenix.Flash.get(@flash, :info) do %>
    <div>
      <p class="alert alert-info mb-3" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
    </div>
  <% end %>
  <%= if Phoenix.Flash.get(@flash, :error) do %>
    <div>
      <p class="alert alert-danger mb-3" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
    </div>
  <% end %>
</div>

<%= @inner_content %>
