<%= if get_flash(@conn, :info) do %>
  <div class="container">
    <p class="alert alert-info mb-3" role="alert"><%= get_flash(@conn, :info) %></p>
  </div>
<% end %>
<%= if get_flash(@conn, :error) do %>
  <div class="container">
    <p class="alert alert-danger mb-3" role="alert"><%= get_flash(@conn, :error) %></p>
  </div>
<% end %>

<%= @inner_content %>
