<!DOCTYPE html>
<html lang="en" class="authoring">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= get_title(assigns) %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= favicons("apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= favicons("favicon-16x16.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= favicons("favicon-32x32.png") %>">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Theme CSS (contains all bootstrap styles as well as custom styles for a specific theme) -->
    <link id="authoring-theme" rel="stylesheet" href="/css/authoring_default.css" />
    <link id="delivery-theme" rel="stylesheet" href="/css/delivery_default.css" />

    <%= if dev_mode?() do %>
      <script crossorigin src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
    <% else %>
      <script crossorigin src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <% end %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Moment.js https://momentjs.com -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>

    <!-- NProgress.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js" integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ==" crossorigin="anonymous" />

    <%# TODO: Use this top <link when all 'fa fa-' are converted to 'fa fa-' regex: FIND=la([^l]*)la- REPLACE=fa$1fa- %>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Inter:wght@400;700;900&family=Muli:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <!-- Code Syntax Highlighting https://highlightjs.org/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-light.min.css" integrity="sha512-o5v54Kh5PH0dgnf9ei0L+vMRsbm5fvIvnR/XkrZZjN4mqdaeH7PW66tumBoQVIaKNVrLCZiBEfHzRY4JJSMK/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" media="screen and (prefers-color-scheme: dark)" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js" integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap typeahead https://github.com/bassjobsen/Bootstrap-3-Typeahead -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha512-HWlJyU4ut5HkEj0QsK/IxBCY55n5ZpskyjVlAoV9Z7XQwwkqXoYdCIC93/htL3Gu5H3R4an/S0h2NXfbZk3g7w==" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/citation-js"></script>
    <script>
      window.cite = require('citation-js')
    </script>

    <script>
    window.MathJax = {
      tex: {
        inlineMath: [ ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true,
        packages: ['base', 'ams', 'noerrors', 'noundefined']
      },
      options: {
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      },
      loader: {
        load: ['[tex]/noerrors']
      }
    };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>

    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/components.js") %>"></script>
    <%= unless Plug.Conn.get_session(@conn, "local_tz") do %>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/timezone.js") %>"></script>
    <% end %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/dark.js") %>"></script>
    <script id="keep-alive" type="text/javascript" src="<%= Routes.static_path(@conn, "/js/keepalive.js") %>" data-type="author"></script>
  </head>
  <body>

    <%= live_render(@conn, OliWeb.SystemMessageLive.ShowView) %>

    <%= Map.get(assigns, :inner_layout) || @inner_content %>

    <script>
      // initialize jquery window object
      window.$ = $;

      // initialize all rendered dropdown toggles
      $('.dropdown-toggle').dropdown();
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      // handle direct tab routing via url hash
      $(document).ready(function() {
        if (location.hash !== '') {
          // make tabs navigable by their link's href
          $('a[data-toggle="tab"][href="' + location.hash + '"]').tab('show');
        }

        // change the url hash when a new tab is selected
        return $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
          return location.hash = $(e.target).attr('href').substr(1);
        });
      });

    </script>

    <script>hljs.highlightAll();</script>

  </body>
</html>
