<style>
.btn {
  font-weight: bold;
  font-size: 13px;
  border-radius: 8px;
  padding: 8px 20px;
}
.btn-primary {
  background-color: black;
  color: white
}
.btn-primary:hover {
  background-color: #18a0fb;
}
.btn-primary:active {
  background-color: #168fe0;
}
</style>
<button class="btn btn-primary">
  Button Text
</button>