
<%= render_layout "authoring.html", assigns do %>

<div class="main">
  <%= render OliWeb.LayoutView, "_header.html", assigns %>

  <main role="main" class="authoring">

    <%= @inner_content %>

  </main>

  <%= render OliWeb.LayoutView, "_footer.html", assigns %>
</div>

<% end %>
