<%= render_layout "authoring.html", assigns do %>
  <a id="skip-nav" class="screenreader-text" href="#main-content">
    Skip Navigation
  </a>

  <div class="default">
    <Components.Header.delivery_header {assigns} />

    <main role="main" id="main-content">
      <%= @inner_content %>
    </main>
    <%= OliWeb.Components.Footer.login_footer(%{}) %>
  </div>
<% end %>
