<%= render_layout "authoring.html", assigns do %>
  <a id="skip-nav" class="screenreader-text" href="#main-content">
    Skip Navigation
  </a>

  <div class="default">
    <Components.Header.header {assigns} />

    <main role="main" id="main-content" class="pb-20">
      <%= @inner_content %>
    </main>

    <OliWeb.Components.Footer.delivery_footer license={
      Map.get(assigns, :has_license) && assigns[:license]
    } />
  </div>
<% end %>
