<%= render_layout "authoring.html", assigns do %>

<a id='skip-nav' class='screenreader-text' href='#main-content'>
  Skip Navigation
</a>

<div>
  <%= render OliWeb.LayoutView, "workspace_header.html", assigns %>

  <main role="main" id="main-content">

    <%= @inner_content %>

  </main>

  <%= render OliWeb.LayoutView, "_footer.html", assigns %>
</div>

<% end %>
