<%= render_layout "delivery.html", assigns do %>
  <a id="skip-nav" class="screenreader-text" href="#main-content">
    Skip Navigation
  </a>

  <OliWeb.Delivery.StudentDashboard.Components.Helpers.main_layout
    socket_or_conn={OliWeb.Components.Delivery.Utils.socket_or_conn(assigns)}
    {assigns}
  >
    {@inner_content}
  </OliWeb.Delivery.StudentDashboard.Components.Helpers.main_layout>
<% end %>
