<!DOCTYPE html>
<html lang="en" class="delivery" xmlns:m="http://www.w3.org/1998/Math/MathML">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Phoenix.Component.live_title>
      <%= assigns[:page_title] || assigns[:title] || Oli.VendorProperties.product_short_name() %>
    </Phoenix.Component.live_title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={favicons("apple-touch-icon.png", assigns[:section])}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={favicons("favicon-16x16.png", assigns[:section])}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={favicons("favicon-32x32.png", assigns[:section])}
    />
    <link rel="manifest" href="/manifest.json">
    <link rel="manifest" href="/site.webmanifest" />
    <!-- CSS -->
    <link id="styles" rel="stylesheet" href="/css/styles.css" />
    <!-- Tailwind CSS -->
    <link id="app" rel="stylesheet" href="/css/app.css" />

    <%= if dev_mode?() do %>
      <script
        crossorigin
        src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"
      >
      </script>
      <script
        crossorigin
        src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js"
      >
      </script>
    <% else %>
      <script
        crossorigin
        src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"
      >
      </script>
      <script
        crossorigin
        src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"
      >
      </script>
    <% end %>
    <!-- jQuery (DEPRECATED) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    >
    </script>
    <!-- NProgress.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"
      integrity="sha512-bUg5gaqBVaXIJNuebamJ6uex//mjxPk8kljQTdM1SwkNrQD7pjS+PerntUSD+QRWPNJ0tq54/x4zRV8bLrLhZg=="
      crossorigin="anonymous"
    >
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css"
      integrity="sha512-42kB9yDlYiCEfx2xVwq0q7hT4uf26FUgSIZBK8uiaEnTdShXjwr8Ip1V4xGJMg3mHkUt9nNuTDxunHF0/EgxLQ=="
      crossorigin="anonymous"
    />
    <!-- Font Awesome 6 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Tabler Icons https://tabler.io/docs/icons/webfont -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Code Syntax Highlighting https://highlightjs.org/ -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-light.min.css"
      integrity="sha512-o5v54Kh5PH0dgnf9ei0L+vMRsbm5fvIvnR/XkrZZjN4mqdaeH7PW66tumBoQVIaKNVrLCZiBEfHzRY4JJSMK/Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
      integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      media="screen and (prefers-color-scheme: dark)"
    />
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
      integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    </script>

    <%= unless Map.get(assigns, :vr_agent_active, false) do %>
      <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6">
      </script>
    <% end %>
    <!-- ReCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js">
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/citation-js">
    </script>
    <script>
      window.cite = require('citation-js')
    </script>

    <%= OliWeb.Common.MathJaxScript.render(@conn) %>

    <%= csrf_meta_tag() %>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/vendor.js")}>
    </script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/components.js")}>
    </script>
    <%= unless Plug.Conn.get_session(@conn, "browser_timezone") do %>
      <script type="text/javascript" src={Routes.static_path(@conn, "/js/timezone.js")}>
      </script>
    <% end %>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/dark.js")}>
    </script>
  </head>
  <body class="min-h-screen flex flex-col bg-delivery-body text-delivery-body-color dark:bg-delivery-body-dark dark:text-delivery-body-color-dark">
    <input type="hidden" id="layout-id" data-layout-id="delivery" />

    <%= live_render(@conn, OliWeb.SystemMessageLive.ShowView) %>

    <%= Map.get(assigns, :inner_layout) || @inner_content %>

    <%= react_component("Components.ModalDisplay") %>

    <%= live_render(@conn, OliWeb.TechSupportLive,
      session: OliWeb.CollectHelpRequestInfo.collect(@conn)
    ) %>
  </body>
</html>
