<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= live_title_tag assigns[:page_title] || "Open Learning Initiative", suffix: "" %>

    <!-- Theme CSS (contains all bootstrap styles as well as custom styles for a specific theme) -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/delivery_theme.css") %>"/>

    <link id="theme" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0flatly/bootstrap.min/.css" rel="stylesheet" integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs" crossorigin="anonymous">
    <%# <link id="theme" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL" crossorigin="anonymous"> %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendor.js") %>"></script>

    <%# Use this top <link when all 'fa fa-' are converted to 'fa fa-' regex: FIND=la([^l]*)la- REPLACE=fa$1fa- %>
    <%# <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> %>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    <link href="https://fonts.googleapis.com/css?family=Inter:400,700,900|Muli:300,400,700|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet">

    <%= csrf_meta_tag() %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>

    <%= if get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <div class="delivery">
      <nav class="navbar navbar-expand">
        <div class="container">
          <a class="navbar-brand" href="<%= Routes.delivery_path(@conn, :index) %>">
            <img src="/images/oli-icon.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
            Open Learning <span style="font-weight: 200">Initiative</span>
          </a>

          <%= if user_signed_in?(@conn) do %>
            <%= if user_role(@current_user) == :student do %>
              <div class="nav-item dropdown form-inline my-2 my-lg-0">
                <a class="user block nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="block lg:inline-block lg:mt-0 text-grey-darkest no-underline hover:underline my-1 mr-3">
                    <%= "#{@current_user.first_name} #{@current_user.last_name}" %>
                  </span>
                  <img src="<%= @current_user.user_image%>" class="rounded-circle" />
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link "Sign out", to: Routes.delivery_path(@conn, :signout), id: "signout-link", class: "dropdown-item btn" %>
                </div>
              </div>
            <% else %>
              <div class="nav-item dropdown form-inline my-2 my-lg-0">
                <a class="user nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="block lg:inline-block lg:mt-0 text-grey-darkest no-underline hover:underline mr-4">
                    <div class="username">
                      <%= "#{@current_user.first_name} #{@current_user.last_name}" %>
                    </div>
                    <div class="role text-right" style="color: <%= user_role_color @current_user %>;">
                      <%= user_role_text @current_user %>
                    </div>
                  </div>
                  <div class="user-icon">
                    <img src="<%= @current_user.user_image%>" class="rounded-circle" />
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= if account_linked?(@current_user) do %>
                    <h6 class="dropdown-header">Linked: <%= @current_user.author.email %></h6>
                    <a class="dropdown-item" href="<%= Routes.workspace_path(@conn, :projects) %>" target="_blank">Go to Course Author <i class="fas fa-external-link-alt float-right" style="margin-top: 2px"></i></a>
                    <a class="dropdown-item" href="<%= Routes.delivery_path(@conn, :link_account) %>">Link a different account</a>
                    <div class="dropdown-divider"></div>
                    <%= link "Sign out", to: Routes.delivery_path(@conn, :signout), id: "signout-link", class: "dropdown-item btn" %>
                  <% else %>
                    <a class="dropdown-item" href="<%= Routes.delivery_path(@conn, :link_account) %>">Link Existing Account</a>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </nav>

      <main role="main" class="container">

      <%= Map.get(assigns, :inner_layout) || @inner_content %>

      </main>

      <script>
        // disable sign out if inside an iframe
        $(function() {
          if (window.location !== window.parent.location) {
            $('#signout-link').addClass('disabled');
          }
        })
      </script>
    </div>

    <script>
    window.$ = $;
    $('.dropdown-toggle').dropdown();
    </script>
  </body>
</html>
