<%= render_layout "delivery.html", assigns do %>

<a id='skip-nav' class='screenreader-text' href='#main-content'>
  Skip Navigation
</a>

<Components.Delivery.InstructorDashboard.main_layout
  socket_or_conn={OliWeb.Components.Delivery.Utils.socket_or_conn(assigns)}
  current_user={@current_user}
  section={@section}
  preview_mode={assigns[:preview_mode]}
  breadcrumbs={assigns[:breadcrumbs]}>
  <%= @inner_content %>
</Components.Delivery.InstructorDashboard.main_layout>

<% end %>
