<!DOCTYPE html>
<html lang="en" class="delivery">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{assigns[:page_title] || Oli.VendorProperties.product_short_name()}</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="min-h-screen flex flex-col bg-delivery-body text-delivery-body-color dark:bg-delivery-body-dark dark:text-delivery-body-color-dark">
    {@inner_content}
  </body>
</html>
