.add-screen-modal {
  box-sizing: border-box;
  svg {
    display: inline-block;
  }
  .title-input {
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    border: 1px solid rgb(229, 229, 229);
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;
    background: rgb(229, 229, 229);
    border-radius: 5px;
  }
  .modal-body {
    padding: 2rem;
  }
  .modal-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 25px;
  }
  .continue-button {
    background-color: whitesmoke;
    color: #2c6abf;
    &:hover {
      background-color: lightgray;
      color: #2c6abf;
    }
  }
  .screen-not-selected {
    background-color: #2c6abf;
    color: whitesmoke;
  }
  hr {
    margin-top: 0.1rem;
    margin-bottom: 2rem;
  }
  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid rgb(229, 229, 229);
    .column {
      flex-grow: 1;
      vertical-align: text-top;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 8px;
      &.screen-with-component {
        border-left: 1px solid rgb(229, 229, 229);
      }
      label {
        color: #373a44;
        margin-bottom: 5px;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      }

      .screen-type {
        width: 250px;
        outline: none;
        border: none;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.25rem;
        margin-bottom: 0.25rem;
        cursor: pointer;

        svg {
          margin-right: 0.5rem;
        }

        &.active {
          background-color: $primary;
          color: $panel-section-title-bar-color;
        }
      }
    }
  }
}
