$nav-height: 65px;
$panel-side-width: 270px;
$panel-bg-color-light: #f5f6f7;
$panel-bg-color-dark: $gray-700;
$panel-font-color-light: #333;
$panel-font-color-dark: $panel-font-color-light;
$torus-panel-side-width: 200px;
$rounded: 4px;
$ui-border-color: #ccc;
$panel-section-title-bar-height: 39px;
$panel-section-title-bar-color: #e8ebed;

#aa-loading {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
  opacity: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: $nav-height;
  bottom: 0;
  left: $nav-height;
  right: 0;
  background-color: $workspace-bg;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    margin-left: -$nav-height;
    margin-top: -$nav-height;
  }
}
.advanced-authoring {
  position: relative;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;

  &.startup {
    opacity: 1;
  }
  .aa-panel,
  .aa-header-nav {
    position: fixed;
    z-index: 49;
    overflow-y: auto;
    visibility: hidden;
    align-items: start;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: $panel-bg-color-light;
    box-shadow: 0 2px 4px 0 rgba($black, 0.1);
    border-bottom: 1px solid $ui-border-color;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &.left-panel {
      top: $nav-height;
      bottom: 0;
      left: -$panel-side-width;
      width: $panel-side-width;
      transition-property: left, visibility;
      border-left: 1px solid $ui-border-color;
      border-right: 1px solid $ui-border-color;

      &.open {
        left: 65px;
        visibility: visible;
      }
    }
    &.right-panel {
      top: $nav-height;
      bottom: 0;
      right: -$panel-side-width;
      width: $panel-side-width;
      transition-property: right, visibility;
      border-left: 1px solid $ui-border-color;
      border-right: 1px solid $ui-border-color;

      &.open {
        right: 0;
        visibility: visible;
      }
      .aa-panel-tabs {
        position: sticky;
        top: 0;
        z-index: 3;
      }
    }
    &.top-panel {
      top: 0;
      height: $panel-section-title-bar-height;
      justify-content: center;
      padding: 0;
      transition-property: top, left, right, visibility;

      &.open {
        top: 65px;
        visibility: visible;
      }
    }
    &.bottom-panel {
      max-height: 40vh;
      transition-property: left, right, bottom;
      visibility: visible;
      overflow: hidden;

      &.open {
        bottom: 0;
        overflow: auto;
      }
    }
  }
  #aa-bottom-panel {
    .aa-panel-section-title-bar {
      position: sticky;
      top: 0;
      z-index: 3;
    }
  }
  .aa-header-nav {
    z-index: 51;
    padding: 0 16px;
    justify-content: center;
    padding: 0;

    .btn-link {
      &:disabled {
        opacity: 0.75;
      }
      &:hover {
        opacity: 1;

        img {
          filter: grayscale(100%) sepia(100%) hue-rotate(-184deg) brightness(190%) saturate(299%);
        }
      }
    }
    .btn-toolbar {
      flex-wrap: initial;
      transform: scale(0.7);
    }
  }
  .aa-panel-side-toggle {
    position: fixed;
    z-index: 50;
    top: 50vh;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 100%;
    height: 37px;
    width: 37px;
    border-color: $ui-border-color;
    background-color: #dfdfdf;

    .bg-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      background-color: #444;
      border-radius: 100%;
    }
    &:hover,
    &:focus {
      background-color: #dfdfdf;
      border-color: $ui-border-color;
    }
    &:hover {
      .bg-circle {
        background-color: $primary;
      }
    }
    &.left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition-property: left;
      left: 65px;
      &.open {
        left: calc(#{$panel-side-width} + 65px);
      }
    }
    &.right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition-property: right;
      right: 0;
      &.open {
        right: $panel-side-width;
      }
    }
  }
  .aa-panel-inner {
    position: relative;
    background-color: $panel-bg-color-light;
    color: $panel-font-color-light;

    .tab-content {
      font-size: 12px;
    }
    .form-group {
      margin-bottom: 0.75rem;
    }
    .form-label {
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    .form-control {
      font-size: 12px;
    }
    .lesson-tab {
      .container-fluid > .row {
        margin-bottom: 0px !important;

        > .col-12 > .form-group {
          margin-bottom: 0 !important;
        }
      }
      .collapse > .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;

        > .form-group {
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid $ui-border-color;
        }
      }
    }
    .screen-tab,
    .bank-tab,
    .component-tab {
      .container-fluid > .row {
        border-bottom: 1px solid $ui-border-color;

        .col-4.inner input[type='number'] {
          padding: 0.375rem 0.45rem;
        }
        .accordion.aa-properties-editor {
          margin: -10px -15px auto -15px;

          .collapse.show {
            margin-top: 10px;
          }
        }
      }
    }
    .screenDropdown {
      > .dropdown-menu {
        transform: translate3d(0px, 40px, 0px) !important;
        overflow: auto;
        max-height: 400px;
        width: 100%;
      }

      > .dropdown-toggle {
        width: 100%;
        text-align: start;
      }
    }
    .adaptivityDropdown {
      padding: 0px !important;
      border: 0px;
      > button.form-control {
        width: 100%;
      }
      > .dropdown-menu {
        overflow: auto;
        max-height: 250px;
        min-height: 200px;
        width: 250px;
        bottom: -90px;
      }
    }
    .component-tab {
      .collapse > .col-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;

        > .form-group {
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 10px;
          border-bottom: 1px solid $ui-border-color;
        }
      }
    }
  }
  .aa-stage {
    position: fixed;
    z-index: 48;
    top: 65px;
    left: 65px;
    right: 0;
    bottom: 0;
    overflow: scroll;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2M8cOLif2MdFQZCgPHzl6//CSkCyY8qxBtKRAcPAJ9FJplIpKVIAAAAAElFTkSuQmCC)
      repeat;
  }
  .aa-panel-section-title-bar {
    background: $panel-section-title-bar-color;
    border-top: 1px solid $ui-border-color;
    border-bottom: 1px solid $ui-border-color;
    display: flex;
    font-family: 'Raleway', $font-family-sans-serif;
    font-size: 12px;
    color: $panel-font-color-light;
    height: $panel-section-title-bar-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 4px;
    // position: sticky;
    // top: 0;
    // z-index: 3;

    i {
      font-size: 1rem;
    }

    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
    .ruleName {
      display: inline-block;
      margin-left: 16px;
      padding-left: 16px;
      border-left: 1px solid $ui-border-color;
    }
  }
  .aa-panel-section-controls {
    .correct-toggle,
    .disable-state-toggle {
      border-right: 1px solid $ui-border-color;
    }
  }
  .aa-adaptivity-editor,
  .aa-initState-editor {
    font-size: 12px;
    padding: 16px;

    .aa-add-button {
      position: sticky;
      top: 55px;
      height: max-content;
    }
    .aa-conditions .aa-conditions {
      margin: 16px 0 8px;

      .aa-add-button {
        display: none;
      }
    }
    .aa-condition {
      &:first-of-type {
        margin-top: 4px !important;
      }
    }
    .custom-select {
      font-size: 12px;
      padding: 4px 36px 4px 8px;
      height: inherit;
    }
    .aa-condition-header {
      margin-top: -22px;
      margin-bottom: 0;

      > div {
        background-color: $panel-bg-color-light;
        padding: 0 4px;
        margin: 0 -4px;
      }
    }
    .aa-actions {
      position: relative;
      border-top: 1px solid $ui-border-color;
    }
    .aa-action {
      .input-group-text {
        font-size: 12px;
        min-width: 7.5rem;
      }
      &.aa-mutate {
        .input-group-text {
          min-width: auto;
        }
      }
    }
    .aa-canvas-header {
      position: relative;
      width: 100%;
      top: -64px;
    }
    .aa-canvas-inner {
      width: 100%;
      height: 100%;
      top: -48px;
      position: relative;
    }
  }
  .aa-sequence-editor,
  .aa-adaptivity-rules {
    .aa-sequence,
    .aa-rules-list {
      border-radius: inherit;
      padding: 4px 0;
      width: 100%;

      .nested {
        margin: 0;
        padding: 0;

        // TODO: find a cleaner way to manage nesting
        .aa-sequence-details-wrapper {
          padding-left: 35px;
        }
        .nested {
          .aa-sequence-details-wrapper {
            padding-left: 45px;
          }
          .nested {
            .aa-sequence-details-wrapper {
              padding-left: 55px;
            }
            .nested {
              .aa-sequence-details-wrapper {
                padding-left: 65px;
              }
              .nested {
                .aa-sequence-details-wrapper {
                  padding-left: 75px;
                }
                .nested {
                  .aa-sequence-details-wrapper {
                    padding-left: 85px;
                  }
                  .nested {
                    .aa-sequence-details-wrapper {
                      padding-left: 95px;
                    }
                    .nested {
                      .aa-sequence-details-wrapper {
                        padding-left: 105px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .aa-sequence-item,
    .aa-rules-list-item {
      padding: 0;
      background-color: inherit;
      border: none;
      font-size: 0.85rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      z-index: unset;

      &.is-parent {
        flex-wrap: wrap;
      }
      .details {
        flex-grow: 1;
        flex: 1;
        display: flex;
        align-items: center;
      }
      .title:hover {
        cursor: pointer;
      }
      .collapse.show {
        width: 100%;
      }
      .aa-context-menu-trigger {
        visibility: hidden;
        margin: 0 11px 0 16px;

        &:hover,
        &:focus {
          border: 1px solid $ui-border-color;
          visibility: visible;
        }
      }
      .aa-sequence-details-wrapper,
      .aa-rules-list-details-wrapper {
        display: flex;
        flex-grow: 1;
        padding: 2px 0;
        padding-left: 27px;
        align-items: center;
        min-height: 30px;

        .aa-isLayer {
          color: $secondary;
          opacity: 0.75;
        }

        &:hover,
        &:focus {
          background-color: $panel-section-title-bar-color;

          .aa-context-menu-trigger {
            visibility: visible;
          }
        }
      }
      &.active {
        color: inherit;

        & > .aa-sequence-details-wrapper,
        & > .aa-rules-list-details-wrapper {
          color: $white;
          background-color: $primary;

          .aa-isLayer {
            color: $white;
          }

          .aa-sequence-item-toggle {
            color: $white;
          }
          .aa-context-menu-trigger {
            color: $white;
          }
        }
      }
      .aa-sequence-item-toggle {
        vertical-align: baseline;
        margin-left: -22px;
      }
    }
  }
  .dropdown-toggle:after {
    display: none;
  }
  .dropdown-menu {
    font-size: 13px;
    font-family: $font-family-sans-serif;

    i {
      font-size: 1rem;
    }
  }
  .dropdown-item {
    padding: 4px 16px;
    color: $panel-font-color-light;

    &:hover,
    &:focus {
      background-color: $panel-section-title-bar-color;
      color: $panel-font-color-light;
    }
  }
  .aa-panel-tabs {
    flex-wrap: inherit;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 700;

    .nav-link {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      color: $panel-font-color-light;
      opacity: 0.5;

      &.active {
        color: $panel-font-color-light;
        opacity: 1;
        background: none;
        border-top: 4px solid $primary;
        border-radius: 0;
        margin-top: -10px;
        padding-top: 6px;
      }
    }
  }
  .aa-parts-list {
    button {
      padding: 4px;
      img {
        display: inline-block;
        max-height: 16px;
        margin: 4px;
      }
    }
  }
  .strikethru {
    text-decoration: line-through;
  }
  .popover {
    max-width: 550px;
  }
  .popover-header {
    background-color: $panel-section-title-bar-color;
    border-bottom-color: $ui-border-color;
  }
  #aa-variable-picker {
    font-size: 13px;

    .popover-header {
      display: flex;
      font-family: 'Raleway', $font-family-sans-serif;
      font-size: 12px;
      color: $panel-font-color-light;
      height: $panel-section-title-bar-height;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
    }
    .target-select-container {
      background-color: $panel-bg-color-light;
      margin: -8px -12px;
      padding: 8px 12px;
      min-width: 350px;
      border-bottom: 1px solid $ui-border-color;

      .dropdown-toggle:after {
        display: block;
        margin-left: 8px;
        font-size: 14px;
      }
      .screen-picker-container {
        max-height: 200px;
        overflow-y: scroll;
      }
    }
    .variable-picker-dropdown {
      font-size: 12px;
      background: $white;
      color: $panel-font-color-light;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: $ui-border-color;
    }
    .activity-tree {
      margin-top: 16px;
      max-height: 250px;
      overflow-y: scroll;

      .part-type {
        padding: 8px 0 8px 8px;
        border: none;
        border-top: 1px solid $ui-border-color;
        display: flex;
        align-items: center;
        background-color: $white;

        &:first-of-type {
          border-top: none;
        }
      }
      .part-type-icon {
        max-width: 16px;
        max-height: 16px;
      }
    }
  }
  .text-btn {
    background: none;
    border: none;
    color: $panel-font-color-light;
  }
}

.modal-dialog.modal-90w {
  width: 90%;
  max-width: none !important;
}

.modal-dialog.config-modal {
  .modal-content {
    box-shadow: 3px 3px 6px 1px rgba($black, 0.5);
  }
  .modal-header {
    background: $panel-section-title-bar-color;
    border-top: 1px solid $ui-border-color;
    border-bottom: 1px solid $ui-border-color;
    display: flex;
    font-family: 'Raleway', $font-family-sans-serif;
    font-size: 12px;
    color: $panel-font-color-light;
    height: $panel-section-title-bar-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 4px;

    i {
      font-size: 1rem;
    }

    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .modal-footer {
    background-color: $panel-bg-color-light;
    box-shadow: 0 2px 4px 0 rgba($black, 0.1);
    border-bottom: 1px solid $ui-border-color;
  }
}

.modal-dialog.diagnostic-modal {
  &.advanced-authoring {
    opacity: 1;
  }
  .dropdown-toggle:after {
    display: none;
  }
}

.canvas-dots {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2M8cOLif2MdFQZCgPHzl6//CSkCyY8qxBtKRAcPAJ9FJplIpKVIAAAAAElFTkSuQmCC)
    repeat;
}
