$nav-height: 65px;
$panel-side-width: 250px;
$panel-bg-color-light: #f5f6f7;
$panel-bg-color-dark: $gray-700;
$panel-font-color-light: #333;
$panel-font-color-dark: $panel-font-color-light;
$torus-panel-side-width: 200px;
$rounded: 4px;
$ui-border-color: #ccc;
$panel-section-title-bar-height: 39px;
$panel-section-title-bar-color: #e8ebed;

.advanced-authoring {
  position: relative;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;

  &.startup {
    opacity: 1;
  }
  .aa-panel,
  .aa-header-nav {
    position: fixed;
    z-index: 200;
    overflow-y: auto;
    visibility: hidden;
    align-items: start;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    background-color: $panel-bg-color-light;
    box-shadow: 0 2px 4px 0 rgba($black, 0.1);
    border-bottom: 1px solid $ui-border-color;

    &.left-panel {
      top: $nav-height;
      bottom: 0;
      left: -$panel-side-width;
      width: $panel-side-width;
      transition-property: left, visibility;
      border-left: 1px solid $ui-border-color;
      border-right: 1px solid $ui-border-color;

      &.open {
        left: 0;
        visibility: visible;
      }
    }
    &.right-panel {
      top: $nav-height;
      bottom: 0;
      right: -$panel-side-width;
      width: $panel-side-width;
      transition-property: right, visibility;
      border-left: 1px solid $ui-border-color;
      border-right: 1px solid $ui-border-color;

      &.open {
        right: 0;
        visibility: visible;
      }
    }
    &.top-panel {
      top: -$nav-height;
      left: 0;
      height: $nav-height;
      width: 100%;
      transition-property: top, visibility;
      background-color: $white;

      &.open {
        top: 0;
        visibility: visible;
      }
    }
    &.bottom-panel {
      max-height: 40vh;
      transition-property: left, right, bottom;
      visibility: visible;
      overflow: hidden;

      &.open {
        bottom: 0;
        overflow: auto;
      }
    }
  }
  .aa-header-nav {
    z-index: 201;
    padding: 0 16px;

    .btn-link {
      &:disabled {
        opacity: 0.75;
      }
      &:hover {
        opacity: 1;

        img {
          filter: grayscale(100%) sepia(100%) hue-rotate(-184deg) brightness(190%) saturate(299%);
        }
      }
    }
    .btn-toolbar {
      flex-wrap: initial;
    }
  }
  .aa-panel-side-toggle {
    position: fixed;
    z-index: 200;
    top: 50vh;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 100%;
    height: 37px;
    width: 37px;
    border-color: $ui-border-color;
    background-color: #dfdfdf;

    .bg-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      background-color: #444;
      border-radius: 100%;
    }
    &:hover,
    &:focus {
      background-color: #dfdfdf;
      border-color: $ui-border-color;
    }
    &:hover {
      .bg-circle {
        background-color: $primary;
      }
    }
    &.left {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition-property: left;
      left: 0;
      &.open {
        left: $panel-side-width;
      }
    }
    &.right {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition-property: right;
      right: 0;
      &.open {
        right: $panel-side-width;
      }
    }
  }
  .aa-panel-inner {
    position: relative;
    background-color: $panel-bg-color-light;
    color: $panel-font-color-light;

    .tab-content {
      font-size: 12px;
    }
    .form-group {
      margin-bottom: 0.75rem;
    }
    .form-label {
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    .form-control {
      font-size: 12px;
    }
    .rjsf {
      .container-fluid > .row {
        border-bottom: 1px solid $ui-border-color !important;
      }
    }
  }
  .aa-stage {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQoU2M8cOLif2MdFQZCgPHzl6//CSkCyY8qxBtKRAcPAJ9FJplIpKVIAAAAAElFTkSuQmCC)
      repeat;
  }
  .aa-stage-inner {
    position: relative;
    width: 1000px;
    height: 1000px;
    display: inline-block;
    margin-top: calc(#{$nav-height} + 64px);
    margin-left: calc(#{$panel-side-width} + 64px);
    margin-right: calc(#{$panel-side-width} + 64px);
    background-color: $white;
    border-radius: $rounded;
    border: 1px solid $ui-border-color;
    padding: 24px;
  }
  .aa-panel-section-title-bar {
    background: $panel-section-title-bar-color;
    border-top: 1px solid $ui-border-color;
    border-bottom: 1px solid $ui-border-color;
    display: flex;
    font-family: 'Raleway', $font-family-sans-serif;
    font-size: 12px;
    color: $panel-font-color-light;
    height: $panel-section-title-bar-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 4px;
    // position: sticky;
    // top: 0;
    // z-index: 3;

    i {
      font-size: 1rem;
    }

    .title {
      font-weight: 700;
      text-transform: uppercase;
    }
    .ruleName {
      display: inline-block;
      margin-left: 16px;
      padding-left: 16px;
      border-left: 1px solid $ui-border-color;
    }
  }
  .aa-panel-section-controls {
    .correct-toggle {
      border-right: 1px solid $ui-border-color;
    }
  }
  .aa-adaptivity-editor {
    font-size: 12px;
    padding: 16px;

    .aa-add-button {
      position: sticky;
      top: 55px;
      height: max-content;
    }
    .aa-condition {
      &:first-of-type {
        margin-top: 4px !important;
      }
    }
    .custom-select {
      font-size: 12px;
      padding: 4px 36px 4px 8px;
      height: inherit;
    }
    .aa-condition-header {
      margin-top: -22px;

      > div {
        background-color: $panel-bg-color-light;
        padding: 0 4px;
        margin: 0 -4px;
      }
    }
    .aa-actions {
      position: relative;
      border-top: 1px solid $ui-border-color;
    }
    .aa-canvas-header {
      position: relative;
      width: 100%;
      top: -64px;
    }
    .aa-canvas-inner {
      width: 100%;
      height: 100%;
      top: -48px;
      position: relative;
    }
  }
  .aa-sequence-editor,
  .aa-adaptivity-rules {
    .aa-sequence,
    .aa-rules-list {
      border-radius: inherit;
      padding: 4px 0;
      width: 100%;

      .nested {
        margin: 0;
        padding: 0;

        .aa-sequence-details-wrapper {
          padding-left: 36px;
        }
      }
    }
    .aa-sequence-item,
    .aa-rules-list-item {
      padding: 0;
      background-color: inherit;
      border: none;
      font-size: 0.85rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      z-index: unset;

      &.is-parent {
        flex-wrap: wrap;
      }
      .details {
        flex-grow: 1;
        flex: 1;
      }
      .title:hover {
        cursor: pointer;
      }
      .collapse.show {
        width: 100%;
      }
      .aa-context-menu-trigger {
        visibility: hidden;
        margin: 0 11px 0 16px;

        &:hover,
        &:focus {
          border: 1px solid $ui-border-color;
          visibility: visible;
        }
      }
      .aa-sequence-details-wrapper {
        display: flex;
        flex-grow: 1;
        padding: 2px 0;
        padding-left: 27px;
        align-items: center;

        &:hover,
        &:focus {
          background-color: $panel-section-title-bar-color;

          .aa-context-menu-trigger {
            visibility: visible;
          }
        }
      }
      &.active {
        color: inherit;

        & > .aa-sequence-details-wrapper {
          color: $white;
          background-color: $primary;

          .aa-sequence-item-toggle {
            color: $white;
          }
          .aa-context-menu-trigger {
            color: $white;
          }
        }
      }
      .aa-sequence-item-toggle {
        vertical-align: baseline;
        margin-left: -22px;
      }
    }
    .dropdown-toggle:after {
      display: none;
    }
    .dropdown-menu {
      font-size: 13px;
      font-family: $font-family-sans-serif;

      i {
        font-size: 1rem;
      }
    }
    .dropdown-item {
      padding: 4px 16px;
      color: $panel-font-color-light;

      &:hover,
      &:focus {
        background-color: $panel-section-title-bar-color;
      }
    }
  }
  .aa-panel-tabs {
    flex-wrap: inherit;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 700;

    .nav-link {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      color: $panel-font-color-light;
      opacity: 0.5;

      &.active {
        color: $panel-font-color-light;
        opacity: 1;
        background: none;
        border-top: 4px solid $primary;
        border-radius: 0;
        margin-top: -10px;
        padding-top: 6px;
      }
    }
  }
}
