#communities-table .pagination .page-item {
  &.active {
    .page-link {
      background-color: $gray-400;
    }
  }

  .page-link {
    background-color: $gray-700;

    &:hover {
      background-color: $gray-400;
    }
  }
}

#community-overview .form-button {
  float: right !important;
  width: 4em;
}
