.conjugation-editor {
  position: relative;
  padding-top: 1em;
  padding: 1em;
  border: 1px dashed var(--color-gray-500);
  .form-control {
    height: auto;
  }
  .tc-content {
    position: relative;
  }
}
