.drag-handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: middle;
}

.drag-handle .grip {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba($color: $body-color, $alpha: 0.2),
    rgba($color: $body-color, $alpha: 0.3),
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.rich-text-editor {
  width: 100%;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-bg;
  background-clip: padding-box;
  position: relative;

  .toolbar.add-resource-content {
    .insert-button-container {
      left: -34px;
      top: 0px;

      .insert-button {
        i {
          margin-top: 1px;
          margin-left: 0px;
        }
      }
    }
  }
}

.table-dropdown {
  .dropdown-item {
    cursor: pointer;
  }
}

.table-size-picker {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid $gray-600;
  background-color: $body-bg;
}

.table-size-picker-label {
  color: $body-color;
  text-align: center;
}

.custom-select {
  -webkit-appearance: none;
}

.btn-group-xs > .btn,
.btn.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}


.icon-chevron-up,
.icon-chevron-down {
  width: 12px;
  height: 12px;
  border: 3px solid transparent;
  border-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0;
  border-left: 0;
  display: block;
  position: relative;
}
.icon-chevron-up {
  transform: rotate(315deg);
  left: 0px;
  top: 4px;
}
.icon-chevron-down {
  transform: rotate(135deg);
  left: 0px;
  top: -3px;
}

.btn.move-btn {
  &[disabled] {
    opacity: 0.25;
  }
}

.icon-history {
  width: 1.6rem;
  height: 1.6rem;
}