
.drag-handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: middle;
}

.drag-handle .grip {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3) 1px,
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle .gripactive {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9) 1px,
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.rich-text-editor {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  background-clip: padding-box;
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
  position: relative;
}

.table-dropdown {
  .dropdown-item {
    cursor: pointer;
  }
}

ol.breadcrumb {
  background-color: $gray-100;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 4px -2px rgba(97,97,97,0.7);
  -moz-box-shadow: 0px 0px 4px -2px rgba(97,97,97,0.7);
  box-shadow: 0px 0px 4px -2px rgba(97,97,97,0.7);
}