.drag-handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: middle;
}

.drag-handle .grip {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba($color: $body-color, $alpha: 0.2),
    rgba($color: $body-color, $alpha: 0.3),
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.rich-text-editor {
  width: 100%;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-bg;
  background-clip: padding-box;
  position: relative;
}

.table-dropdown {
  .dropdown-item {
    cursor: pointer;
  }
}

.table-size-picker {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid $gray-600;
  background-color: $body-bg;
}

.table-size-picker-label {
  color: $body-color;
  text-align: center;
}

.custom-select {
  -webkit-appearance: none;
}

.btn-group-xs > .btn,
.btn.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

.icon-chevron-up,
.icon-chevron-down {
  width: 12px;
  height: 12px;
  border: 3px solid transparent;
  border-color: rgba(0, 0, 0, 0.6);
  border-bottom: 0;
  border-left: 0;
  display: block;
  position: relative;
}
.icon-chevron-up {
  transform: rotate(315deg);
  left: 0px;
  top: 4px;
}
.icon-chevron-down {
  transform: rotate(135deg);
  left: 0px;
  top: -3px;
}

.btn.move-btn {
  &[disabled] {
    opacity: 0.25;
  }
}

.icon-history {
  width: 1.6rem;
  height: 1.6rem;
}

.indented-list {
  padding-left: 2rem;
}

.tiny-icon {
  font-size: 16px;
}

.pronunciation-editor {
  margin: 20px 0;
}

.audio-picker {
  margin: 5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  button.tool-button {
    padding: 2px 0px 0px 0px;
  }

  .audio-clip-browser {
    flex-grow: 1;
  }
}

.audio-clip-browser-modal {
  position: absolute;
  min-height: 618px;
  background-color: $body-bg;
  left: 0px;
  top: 0px;
  right: 0px;
  .audio-clip-footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.picker-panel {
  padding: 1rem;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $body-bg;
  right: 0px;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease-out;

  &.open {
    height: 690px;
    z-index: 1000;
  }
}
.picker-panel-shade {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.25);
}

.video-settings {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
}

.truncate-left {
  /* Gives us ellipses at the beginning of a string so we can see the end of it.
     ex: a long string like http://www.google.com/this/is/a/long/string/that/should/be/truncated
     Will result in something like ".../string/that/should/be/truncated"
  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;

  direction: rtl;
  text-align: left;
  margin-bottom: 3px;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}
