
.drag-handle {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  display: inline-block;
  vertical-align: middle;
}

.drag-handle .grip {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3) 1px,
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle .gripactive {
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9) 1px,
    transparent 1px,
    transparent 100%
  );
  background-repeat: repeat;
  background-size: 4px 4px;
}

.drag-handle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
