@import "authoring/variables";

.container.container-editor {

  .targeted-objectives {
    .objective {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .change-view-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .no-objectives {
    color: $warning;
  }

  .entry-selection {
    .entry-section {
      white-space: pre-wrap;
    }

    button.view-selection-item {
      border-radius: .3em;
      height: 30px;
      outline: none;
      position: relative;
      background-color: #f2f2f2;
      border: none;
      color: inherit;
      margin-right: 3px;
      &:hover:not(.active) {
        cursor: pointer;
        background: rgba(0,0,0,.03);
        color: rgba(0,0,0,.95);
      }
      &.active:after {
        background-color: #f2f2f2;
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        margin: .5px 0 0;
        width: .57142857em;
        height: .57142857em;
      }
    }
  }

  .curriculum-entry {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 2px;
    cursor: grab;
    font-weight: 12px;

    .curriculum-title-line {
      line-height: 1;
    }

    .entry-title {
      font-size: 14px;
      font-weight: 600;
    }

    .badge {
      border-radius: .3em;
      background-color: #e8e8e8;
      color: rgba(0,0,0,.6);
      font-weight: 700;
    }
  }
}