/** Custom theme-specific styles for authoring **/
@import "authoring/variables";

p:last-of-type {
  margin: 0;
}

form .form-label-group .help-block {
  color: #dc3545;
}

i.unicode-icon {
  font-style: normal;
  font-family: serif;
  font-weight: 700;
}

.ellipsize-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-flow: row nowrap;
}

/* fix dropdown menu */
a:not([href]) {
  cursor: pointer;

  &:hover {
    color: $white;
  }
}

/** override form control color so that text can be seen easier */
.form-control {
  color: $gray-800;

  &:focus {
    color: $gray-800;
  }
}

.dropdown-item {
  color: $gray-800;
}