@import "authoring/variables";

.table-editor {
  table {
    .table-dropdown {
      user-select: none;
      float: right;

      button.dropdown-toggle {
        border: 'none';
        outline: 'none';
      }
    }
  }
}

.blockquote {
  position: relative;
  padding: 1.8rem 1.5rem;
  border: 2px solid $gray-400;

  &::before {
    content: "“";
    font-family: 'Epilogue', sans-serif;
    font-size: 84px;
    position: absolute;
    top: -16px;
    left: 4px;
    color: transparentize($color: $gray-400, $amount: 0.3);
    max-height: 50px;
    pointer-events: none;
  }
}