@import "authoring/variables";

.table-editor {
  table {
    .table-dropdown {
      user-select: none;
      float: right;

      button.dropdown-toggle {
        border: 'none';
        outline: 'none';
      }
    }
  }
}

.blockquote {
  position: relative;
  padding: 5px 10px 5px 50px;
  background: $gray-100;
  border: 1px solid $gray-200;
  border-left-color: $purple;
  border-left-width: 3px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;

  &::before {
    content: "“";
    font-family: Oswald;
    font-size: 68px;
    position: absolute;
    top: -20px;
    left: 0;
    color: $gray-400;
    max-height: 50px;
  }
}