.drag-and-drop-zone {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23C8C8C8FF' stroke-width='3' stroke-dasharray='7%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 13px;
  background-color: var(--color-body);
  position: relative;
}

.on-drag {
  background-color: var(--color-body);
}

.btn-tertiary {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-input-file {
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
