@import 'admin.scss';
@import 'advanced-authoring.scss';
@import 'community.scss';
@import 'controls.scss';
@import 'image-upload.scss';
@import 'institutions.scss';
@import 'modal.scss';
@import 'model-editors.scss';
@import 'objectives.scss';
@import 'publish.scss';
@import 'react-typeahead.scss';
@import 'tree.scss';
@import 'typography.scss';

@import 'layout/workspace.scss';

@import 'project/overview.scss';
@import 'project/review.scss';

@import 'shared/author-initials.scss';
@import 'shared/phx.scss';

@import 'static_page/index.scss';

@import 'formula.scss';
@import 'definition.scss';
@import 'dialog.scss';
@import 'figure.scss';
@import 'foreign.scss';
@import 'conjugation.scss';
@import 'description-list.scss';

@import 'flowchart.scss';
