/** Authoring Styles **/

body {
  flex: 1;
  position: relative;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

body {
  h1 {
    font-size: $h1-font-size;
    margin-bottom: 1em;
  }

  h2 {
    font-size: $h2-font-size;
    margin-bottom: 1em;
  }

  h3 {
    font-size: $h3-font-size;
    margin-bottom: 0.8em;
  }

}

.oli-logo {
  font-family: 'Open Sans', sans-serif;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width:1px;
  height: 1px;
  top: auto;

  &:focus {
    background-color: #0d6efd !important;
    color: $white;
    display: inline-block;
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    padding: 10px;
  }
}

.btn.btn-primary {
  background-color: white;
  border: none;
  color: #333;
}
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: white;
  color: #333;
  border-color: #18a0fb;
  box-shadow: inset 0 0 0 2px #18a0fb;
  border-radius: .2rem;
}
.btn-primary:not(:disabled):not(.disabled):hover {
  background-color: rgba(0,0,0,.06);
  border: none;
  color: #333;
}

#main-content .container {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.col-12 {
  padding-left: 0;
}

.modal-header {
  border-bottom: 0;
}