.editors .structured-content,
.rich-text-editor {
  &.fixed-toolbar {
    border: 2px solid var(--color-toolbar-border);
  }

  .slate-editor.fixed-toolbar {
    padding: 10px;
  }

  .table-editor {
    .table-remove {
      position: absolute;
      left: -10px;
      top: 5px;
    }

    table {
      position: relative;
      margin-bottom: 0;
      word-wrap: break-word;
      overflow: visible;

      th,
      td {
        position: relative;
      }

      .table-dropdown {
        z-index: 1000;
        position: absolute;
        top: 5px;
        right: 8px;
        user-select: none;
        float: right;
        display: 'flex';
        flex-direction: row;

        button.dropdown-toggle {
          padding: 6px;
          display: flex;
          justify-items: center;
          align-items: center;
          border-radius: 2px;

          &:hover {
            color: var(--color-blue-500);
          }

          &:active {
            color: var(--color-blue-600);
          }
        }

        button.dropdown-toggle::after {
          color: var(--color-gray-500);
          margin: 0;
          vertical-align: 0;
        }
      }
    }
  }

  .youtube-editor,
  .webpage-editor {
    max-width: 700px;
    margin: 0 auto;
    iframe {
      pointer-events: none;
    }
  }

  .resize-selection-box-border {
    position: absolute;
    border: 2px solid rgb(0, 150, 253);
    background-color: rgba(0, 0, 0, 0);
    z-index: var(--z-10);
    border-color: rgb(26, 115, 232);
  }

  .resize-selection-box-handle {
    border: 2px solid rgb(26, 115, 232);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    z-index: var(--z-20);
    background-color: white;
    position: absolute;
  }

  .captions-input {
    padding-top: 0 !important;
    text-align: center;
    width: 100%;
    height: auto;
    color: var(--color-body-color);
  }
}

html.dark {
  .editors .structured-content,
  .rich-text-editor {
    color: var(--color-body-color-dark);
    background-color: var(--color-body-dark);

    &.fixed-toolbar {
      border: 2px solid var(--color-toolbar-border-dark);
    }

    .captions-input {
      color: var(--color-body-color-dark);
    }
  }
}
