@import 'authoring/variables';
@import 'bootstrap';

.editors .structured-content,
.rich-text-editor {
  .table-editor {
    .table-remove {
      position: absolute;
      left: -10px;
      top: 5px;
    }

    table {
      position: relative;
      margin-bottom: 0;
      word-wrap: break-word;
      overflow: visible;

      th,
      td {
        position: relative;
      }

      .table-dropdown {
        z-index: 1000;
        position: absolute;
        top: 5px;
        right: 8px;
        user-select: none;
        float: right;
        display: 'flex';
        flex-direction: row;

        button.dropdown-toggle {
          padding: 5px 2px;
          display: flex;
          justify-items: center;
          align-items: center;
          outline: none;
          border: 1px solid $gray-500;
          border-radius: 2px;
        }

        button.dropdown-toggle::after {
          color: $gray-500;
          margin: 0;
          vertical-align: 0;
        }
      }
    }
  }

  .youtube-editor,
  .webpage-editor {
    max-width: 700px;
    margin: 0 auto;
    iframe {
      pointer-events: none;
    }
  }

  .resize-selection-box-border {
    position: absolute;
    border: 2px solid rgb(0, 150, 253);
    background-color: rgba(0, 0, 0, 0);
    z-index: $z-content-1;
    border-color: rgb(26, 115, 232);
  }

  .resize-selection-box-handle {
    border: 2px solid rgb(26, 115, 232);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0px;
    z-index: $z-content-2;
    background-color: white;
    position: absolute;
  }

  .settings-input {
    padding-top: 0 !important;
    text-align: center;
    width: 100%;
    height: auto;
    color: rgba($color: $body-color, $alpha: 0.68);
  }
}
