/**
 * Import this file into a component sass that is loaded with style-loader (/assets/src/**)
 * to access the active theme's variables
 */

/**
 * CSS variables are exported from the theme. Sass variables here are set to those
 * variables so that component can make use of them as normal
 */

$white: var(--authoring-white);
$black: var(--authoring-black);

$gray-100: var(--authoring-gray-100);
$gray-200: var(--authoring-gray-200);
$gray-300: var(--authoring-gray-300);
$gray-400: var(--authoring-gray-400);
$gray-500: var(--authoring-gray-500);
$gray-600: var(--authoring-gray-600);
$gray-700: var(--authoring-gray-700);
$gray-800: var(--authoring-gray-800);
$gray-900: var(--authoring-gray-900);

$blue: var(--authoring-blue);
$indigo: var(--authoring-indigo);
$purple: var(--authoring-purple);
$pink: var(--authoring-pink);
$red: var(--authoring-red);
$orange: var(--authoring-orange);
$yellow: var(--authoring-yellow);
$green: var(--authoring-green);
$teal: var(--authoring-teal);
$cyan: var(--authoring-cyan);

$primary: var(--authoring-primary);
$secondary: var(--authoring-secondary);
$success: var(--authoring-success);
$info: var(--authoring-info);
$warning: var(--authoring-warning);
$danger: var(--authoring-danger);

$light: var(--authoring-light);
$dark: var(--authoring-dark);

$selection: var(--authoring-selection);
$hover: var(--authoring-hover);
$active: var(--authoring-active);

$body-color: var(--authoring-body-color);
$body-bg: var(--authoring-body-bg);

$z-content-1: var(--authoring-z-content-1);
$z-content-2: var(--authoring-z-content-2);
$z-content-3: var(--authoring-z-content-3);
$z-content-4: var(--authoring-z-content-4);
$z-content-5: var(--authoring-z-content-5);
$z-content-6: var(--authoring-z-content-6);
$z-overlay-1: var(--authoring-z-overlay-1);
$z-overlay-2: var(--authoring-z-overlay-2);
$z-overlay-3: var(--authoring-z-overlay-3);
$z-overlay-4: var(--authoring-z-overlay-4);

$z-highest: var(--authoring-z-highest);
$reposition-target: var(--authoring-reposition-target);

$google-button-font-color: var(--authoring-google-button-font-color);
$google-button-background-color: var(--authoring-google-button-background-color);

$card-cap-bg: var(--authoring-card-cap-bg);

$choice-selected-bg-hover: var(--authoring-choice-selected-bg-hover);
$choice-selected-color: var(--authoring-choice-selected-bg-hover);
$choice-selected-bg: var(--authoring-choice-selected-bg-hover);
$choice-selected-border-color: var(--authoring-choice-selected-bg-hover);

$dropdown-menu: var(--authoring-dropdown-menu);
