@import 'authoring/variables';

.react-tiny-popover-container {
  z-index: $z-content-3;
}

.editorToolbar {
  display: inline-flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;

  &__group {
    background: white;
    border-left: 1px solid black;

    .editorToolbar__button:first-of-type,
    .editorToolbar__button:last-of-type {
      flex-basis: 42px;
    }
  }
  &__group:last-of-type {
    border-right: 1px solid black;
  }

  &__dropdownGroup {
    display: inline-flex;
    padding: 8px;
    max-height: 400px;
    overflow-y: auto;
    flex-basis: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background: white;
  }

  &__button {
    text-align: left;
    border: 0;
    background: white;
    flex-basis: 36px;
    height: 42px;
    padding: 12px 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &--descriptive {
      padding: 6px 12px;
      flex-basis: max-content;
      justify-content: flex-start;
      border: 2px solid transparent;
      border-radius: 4px;

      &:hover {
        color: $primary;
      }
      &:focus,
      &:active {
        border: 2px solid $primary;
      }
    }
    .editorToolbar__button--descriptive:last-of-type {
      flex-basis: max-content;
    }

    &Indicator {
      flex-basis: 32px;
      height: 32px;
      border: 2px solid transparent;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $primary;
      }
      &:focus,
      &:active {
        border: 2px solid $primary;
      }

      .toolbar-button-text {
        min-width: 24px;
        min-height: 24px;
        text-align: center;
        line-height: 32px;
      }
    }

    .icon {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &__button.active {
    .editorToolbar__buttonIndicator {
      background-color: black;
      color: white;
    }
  }
  &__button--descriptive.active {
    background-color: black;
    color: white;
  }
}
