@import "authoring/variables";

.toolbar {
  &.fixed-toolbar {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    display: inline-block;

    .toolbar-buttons {
      position: sticky;
      top: 20px;
      margin-bottom: 100px;
      padding: 5px 10px;

      background-color: rgba(247, 247, 247, 0.8);
      backdrop-filter: blur(16px);
      border-radius: 4px;
      z-index: 1;

      .text-formatter {
        min-width: 160px;
      }

      button {
        border-top-left-radius: 3.2px !important;
        border-top-right-radius: 3.2px !important;
        border-bottom-left-radius: 3.2px !important;
        border-bottom-right-radius: 3.2px !important;
      }

      .box-shadow {
        box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
    }
  }
}

.hovering-toolbar {
  button {
    &.btn-dark, &.btn-dark:hover {
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      border: none;
      height: 44px;
      line-height: 46px;
      font-size: 16px;
    }
  }
  .button-separator {
    display: inline-block;
    width: 1px;
    margin: auto 6px;
    height: 24px;
    background: rgba(255,255,255,.2);
  }
}