@import "authoring/variables";

.formatting-toolbar {
  display: none;
  position: relative;
  margin-top: -18px;
  .btn-group {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
  }
}

.hovering-toolbar {

  .btn-group {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  }

  button {
    .toolbar-button-text {
      font-size: 12px;
    }

    &.btn-dark:not(:disabled):not(.disabled),
    &.btn-dark:disabled,
    &.btn-dark:hover {
      white-space: nowrap;
      padding: 0 .25rem;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      border: none;
      height: 42px;
      font-size: 16px;
      span {
        line-height: 42px;
      }
      &.active {
        color: $cyan;
      }
    }
    &.btn-dark:disabled {
      color: #7b8a8b;
    }
  }
  .button-separator {
    display: inline-block;
    width: 1px;
    margin: auto 6px;
    height: 24px;
    background: rgba(255,255,255,.2);
  }
}