/**
 * Authoring specific variables.
 *
 * These along with any bootstrap variables can be overridden by a specific theme.
 * When creating a new variable, make sure you use !default so it can be overridden.
 **/
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';

$remove: $danger !default;
$add: darken($primary, 10%) !default;

$selection: $primary !default;
$hover: darken($primary, 10%) !default;
$active: darken($primary, 15%) !default;

$workspace-header-bg: #f5f8fb !default;
$workspace-sidebar-bg: #e3e7ec !default;
$workspace-sidebar-link-color: $gray-800 !default;
$workspace-bg: $white !default;
$workspace-logo-bg: #f5f8fb !default;
$workspace-breadcrumb-bg: $workspace-logo-bg !default;

$code-color: rgba(0, 0, 0, 0.84) !default;
$font-family-monospace: 'Source Code Pro', 'Courier New', Courier, monospace !default;

// Master z-index list
// Because of the inherent global nature of z-index, all z-indexes used should be defined and
// referenced as variables from this file.
$z-content-1: 1 !default;
$z-content-2: 50 !default;
$z-content-3: 100 !default;
$z-content-4: 150 !default;
$z-content-5: 200 !default;
$z-content-6: 250 !default;
$z-overlay-1: 1000 !default;
$z-overlay-2: 1050 !default;
$z-overlay-3: 1100 !default;
$z-overlay-4: 1150 !default;
$z-highest: 10000 !default;

$reposition-target: 999 !default;
$dropdown-menu: 999 !default;

$content-purpose-checkpoint-color: rgba(#0984e3, 0.75) !default;
$content-purpose-didigetthis-color: rgba(#8e44ad, 0.75) !default;
$content-purpose-example-color: rgba(#74b9ff, 0.75) !default;
$content-purpose-labactivity-color: rgba(#fdcb6e, 0.75) !default;
$content-purpose-learnbydoing-color: rgba(#00b894, 0.75) !default;
$content-purpose-learnmore-color: rgba(#27ae60, 0.75) !default;
$content-purpose-manystudentswonder-color: rgba(#42729b, 0.75) !default;
$content-purpose-quiz-color: rgba(#3498db, 0.75) !default;
$content-purpose-simulation-color: rgba(#ff7675, 0.75) !default;
$content-purpose-walkthrough-color: rgba(#536d86, 0.75) !default;
$content-survey-color: rgba(#22a6b3, 0.75) !default;

$toolbar-bg: #f8f9fb !default;
$toolbar-color: #6b7281 !default;
$toolbar-border-color: #e5e6e8 !default;
$toolbar-group-separator-color: #edeef0 !default;
$toolbar-active-bg: #6b7281 !default;
$toolbar-active-color: #f8f9fb !default;

$speaker1: #d1e7dd !default;
$speaker2: #f8d7da !default;
$speaker3: #cff4fc !default;
$speaker4: #fff3cd !default;
$speaker5: #ffe5d0 !default;

// Export all theme SASS variables to CSS
& {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --authoring-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --authoring-#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --authoring-breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --authoring-font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --authoring-font-family-monospace: #{inspect($font-family-monospace)};

  --authoring-gray-100: #{$gray-100};
  --authoring-gray-200: #{$gray-200};
  --authoring-gray-300: #{$gray-300};
  --authoring-gray-400: #{$gray-400};
  --authoring-gray-500: #{$gray-500};
  --authoring-gray-600: #{$gray-600};
  --authoring-gray-700: #{$gray-700};
  --authoring-gray-800: #{$gray-800};
  --authoring-gray-900: #{$gray-900};

  --authoring-selection: #{$selection};
  --authoring-hover: #{$hover};
  --authoring-active: #{$active};

  --authoring-body-color: #{$body-color};
  --authoring-body-bg: #{$body-bg};

  --authoring-z-overlay-1: #{$z-overlay-1};
  --authoring-z-highest: #{$z-highest};

  --authoring-google-button-font-color: #{$google-button-font-color};
  --authoring-google-button-background-color: #{$google-button-background-color};

  --authoring-card-cap-bg: #{$card-cap-bg};

  --authoring-z-content-1: #{$z-content-1};
  --authoring-z-content-2: #{$z-content-2};
  --authoring-z-content-3: #{$z-content-3};
  --authoring-z-content-4: #{$z-content-4};
  --authoring-z-content-5: #{$z-content-5};
  --authoring-z-content-6: #{$z-content-6};
  --authoring-z-overlay-1: #{$z-content-1};
  --authoring-z-overlay-2: #{$z-content-2};
  --authoring-z-overlay-3: #{$z-content-3};
  --authoring-z-overlay-4: #{$z-content-4};
  --authoring-z-highest: #{$z-highest};

  --authoring-reposition-target: #{$reposition-target};
  --authoring-dropdown-menu: #{$dropdown-menu};

  --content-purpose-checkpoint-color: #{$content-purpose-checkpoint-color};
  --content-purpose-didigetthis-color: #{$content-purpose-didigetthis-color};
  --content-purpose-example-color: #{$content-purpose-example-color};
  --content-purpose-labactivity-color: #{$content-purpose-labactivity-color};
  --content-purpose-learnbydoing-color: #{$content-purpose-learnbydoing-color};
  --content-purpose-learnmore-color: #{$content-purpose-learnmore-color};
  --content-purpose-manystudentswonder-color: #{$content-purpose-manystudentswonder-color};
  --content-purpose-quiz-color: #{$content-purpose-quiz-color};
  --content-purpose-simulation-color: #{$content-purpose-simulation-color};
  --content-purpose-walkthrough-color: #{$content-purpose-walkthrough-color};

  --authoring-toolbar-bg: #{$toolbar-bg};
  --authoring-toolbar-color: #{$toolbar-color};
  --authoring-toolbar-group-separator-color: #{$toolbar-group-separator-color};
  --authoring-toolbar-border-color: #{$toolbar-border-color};
  --authoring-toolbar-active-bg: #{$toolbar-active-bg};
  --authoring-toolbar-active-color: #{$toolbar-active-color};
}
