/**
 * Authoring specific variables.
 *
 * These along with any bootstrap variables can be overridden by a specific theme.
 * When creating a new variable, make sure you use !default so it can be overridden.
 **/
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';

$remove: $danger !default;
$add: darken($primary, 10%) !default;

$selection: $primary !default;
$hover: darken($primary, 10%) !default;
$active: darken($primary, 15%) !default;

$workspace-header-bg:  transparent !default;
$workspace-sidebar-bg: $gray-100 !default;
$workspace-sidebar-link-color: $gray-800 !default;
$workspace-bg:  $white !default;

$code-color: rgba(0,0,0,.84);
$font-family-monospace: "Source Code Pro", "Courier New", Courier, monospace;

// Master z-index list
// Because of the inherent global nature of z-index, all z-indexes used should be defined and
// referenced as variables from this file.
$reposition-target: 999 !default;
$dropdown-menu: 999 !default;
