@use 'theme';
@import 'bootstrap';

.choices__container {
  width: 100%;
}
.choices__choice-row {
  width: 100%;
}
.choices__choice-wrapper {
  @extend .d-flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
  width: 100%;
}
.choices__choice-label {
  @extend .d-flex;
  @extend .flex-row;
  margin: 0;
  min-width: 0%;
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex-grow: 1;
  box-pack: justify;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.choices__choice {
  padding: 12px 16px;
  cursor: pointer;

  &:hover {
    background-color: theme.$choice-selected-bg-hover;
  }

  &.selected {
    color: theme.$choice-selected-color;
    background-color: theme.$choice-selected-bg;
    border-color: theme.$choice-selected-border-color;
  }
}

.evaluated {
  .choice__choice {
    cursor: default;

    &:hover {
      background-color: initial;

      &.selected {
        background-color: theme.$choice-selected-bg;
      }
    }
  }
}

.choices__choice-content {
  margin-left: 0.6rem;
  font-size: 14px;
  line-height: 20px;
}
