.choicesContainer {
  width: 100%;
}
.choicesChoiceRow {
  width: 100%;
  border-radius: 4px;
  outline: none;

  &:focus {
    outline: 2px solid #0062F2;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid #0062F2;
    outline-offset: 2px;
  }
}
.choicesChoiceWrapper {
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
  width: 100%;
}
.choicesChoiceLabel {
  margin: 0;
  min-width: 0%;
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex-grow: 1;
  box-pack: justify;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.choicesChoiceContent {
  margin-inline-start: 0.6rem;
  flex-grow: 1;

  /* When inside a MCQ/CATA, we want the images near the checkbox, not centered on the page */
  :global(.caption-wrapper) {
    display: inline-flex !important;
  }
  :global(.figure-img) {
    margin-left: 0px !important;
  }
}
