.choicesContainer {
  width: 100%;
}
.choicesChoiceWrapper {
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
}
.choicesChoiceLabel {
  margin: 0;
  min-width: 0%;
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  flex-grow: 1;
  box-pack: justify;
  flex-grow: 1;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.choicesChoiceContent {
  margin-inline-start: 0.6rem;
  flex-grow: 1;

  /* When inside a MCQ/CATA, we want the images near the checkbox, not centered on the page */
  :global(.caption-wrapper) {
    display: inline-flex !important;
  }
  :global(.figure-img) {
    margin-left: 0px !important;
  }
}
