
<%= form_for @conn, "ingest", [as: :upload, multipart: true], fn f -> %>

  <div class="form-group">
    <label>Course Archive</label>
    <%= file_input f, :digest, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
