<%= for script <- @scripts do %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> script) %>"></script>
<% end %>

<p>This is the page</p>


<script>
const bc = new BroadcastChannel('review_activity');
bc.onmessage = (event) => { console.log(event); }
</script>
