<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex flex-column">
    <div><%= "#{@collaborator.name}"%></div>
    <div class="text-muted"><%= "#{@collaborator.email}" %></div>
  </div>
  <div class="user-actions">
  <% IO.inspect(@collaborator, label: "Collaborator") %>
    <%= link "Remove", to: Routes.collaborator_path(@conn, :delete, @project, @collaborator.email), method: :delete, class: "btn btn-link text-danger" %>
  </div>
</div>
