<li>
  <%= "#{@collaborator.first_name} #{@collaborator.last_name}, "%>
  <small>
    <%= "#{@collaborator.email}" %> <%= link "Delete", to: Routes.author_project_path(@conn, :delete, @project, @collaborator.email), method: :delete %>
        <%# <i class="material-icons">close</i> %>
  </small>
</li>