<li>
  <%= "#{@collaborator.first_name} #{@collaborator.last_name}, "%>
  <small>
    <%= "#{@collaborator.email}" %> <%= link "Delete", to: Routes.author_project_path(@conn, :delete, @project, @collaborator.email), method: :delete %>
  </small>
</li>