<tr>
  <td><%= "#{@collaborator.name}"%></td>
  <td><%= "#{@collaborator.email}" %></td>
  <td class="user-actions"><%= link "Remove", to: Routes.collaborator_path(@conn, :delete, @project, @collaborator.email), method: :delete, class: "text-danger" %></td>
</tr>
