<div class="insights container">
  <div class="row">
    <div class="page-header">
      <h1 style="display: block;">Insights</h1>
      <small>As students work through your course, our analytics engine automatically performs statistical
analyses on the skills covered by each question to find areas where students are struggling.</small>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= live_render @conn, OliWeb.Insights %>
    </div>
  </div>
</div>
