<style>
.flex {
  display: flex;
}
.overview h1 {
  line-height: 30px;
  margin-right: 8px;
}
</style>
<div class="overview container">
  <div class="row">
    <div class="page-header">
      <div class="flex"><h1>Collaborators</h1> <%= render OliWeb.SharedView, "_add_button.html" %></div>
        <small>Add collaborators to invite them to contribute to your course.</small>
        <p></p>
    </div>
  </div>
</div>