<% link_class =  "list-group-item list-group-item-action " <> if @active_page == @page.slug, do: "active", else: "" %>
<%= link to: Routes.page_delivery_path(@conn, :page, @context_id, @page.slug), class: link_class do %>
  <i class="fa fa-check mr-2"></i> <%= @page.title %>
<% end %>

