
<%= if length(@objectives) > 0 do %>

  <div class="group content-purpose objectives">

    <div class="content-purpose-label">Learning Objectives</div>
    <div class="content-purpose-content">
      <ul>
      <%= for title <- @objectives do %>
        <li class="title"><%= title %></li>
      <% end %>
      </ul>
    </div>


  </div>

<% end %>
