<ul class="list-unstyled components">
  <%= for page <- @pages do %>
    <%= case page.graded do
      false -> render "_link_page.html", page: page, conn: @conn, context_id: @context_id, active_page: @active_page
      true -> render "_link_assessment.html", page: page, conn: @conn, context_id: @context_id, active_page: @active_page
    end %>
  <% end %>
</ul>
