<%= for node <- @nodes do %>
  <% props = %{
    preview_mode: @preview_mode,
    node: node,
    conn: @conn,
    section_slug: @section_slug,
    nodes: node.children,
    active_page: @active_page
  } %>

  <%= cond do %>
    <% container?(node.revision) -> %>
      <%= render "_link_container.html", props %>
    <% node.revision.graded -> %>
      <%= render "_link_assessment.html", props %>
    <% true -> %>
      <%= render "_link_page.html", props %>
  <% end %>
<% end %>
