<h5 class="text-primary border-bottom border-primary mb-2">
  <%= container_title(@hierarchy_node) %>
</h5>

<div class="course-outline list-group list-group-root well">
  <%= if Enum.empty?(@children) do %>
    <span class="text-secondary">
      There are no items
    </span>
  <% else %>
    <%= render "_outline.html", Map.merge(assigns, %{
      preview_mode: assigns[:preview_mode] || false,
      nodes: @hierarchy_node.children,
      active_page: nil,
    }) %>
  <% end %>
</div>
