
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/delivery.js") %>"></script>

<h1><%= @title %></h1>

<div id="delivery_container" class="container"/>

<script>

  const params = {
    resourceId: <%= @context.resource_id %>,
    sectionSlug: "<%= @context.section_slug %>",
    userId: <%= @context.user_id %>,
    pageSlug: "<%= @context.slug %>"
  };

  window.oliMountApplication(document.getElementById('delivery_container'), params);
</script>
