<h1 class="title"><%= @title %> (Preview)</h1>

<script>
  window.userToken = "<%= assigns[:user_token] %>";
</script>

<%= if Oli.Resources.ResourceType.is_container(@revision) do %>
  <%= render OliWeb.PageDeliveryView, "container.html", Map.merge(assigns, %{
    children: @hierarchy_node.children,
    active_page: nil
  }) %>
<% else %>
  <Components.Delivery.PageDelivery.learning_objectives objectives={@objectives} />

  <div class="content">
    <%= raw(@html) %>
  </div>
<% end %>
