.border-post {
  border-left: 0.2rem solid #007bff !important;
}

.border-reply {
  border-left: 0.2rem solid #17a2b8 !important;
}

.border-index {
  border-right: 1px solid #73757e !important;
  padding: 0.7rem;
}

.text-username {
  font-size: 0.95rem;
  font-weight: 400 !important;
}

.w-85 {
  width: 85%;
}

.readonly {
  pointer-events: none;
  background: #80808029 !important;
  opacity: 0.6;
}

.not-readonly {
  pointer-events: all;
}

.members {
  li {
    display: inline-block;
    padding-left: 2em;
  }

  li:before {
    content: '\2022';
    color: var(--color-green-400);
    position: absolute;
    top: -15px;
    left: 0;
    padding-left: 0.1em;
    font-size: 3em;
  }
}
