.activity-numbering {
  float: right;
  font-weight: 500;
}

.page-numbering {
  border: 1px solid #ced4da;
  border-radius: 3px;
  font-size: 28px;
  text-align: center;
  padding: 5px 0px;
  width: 65px;
}

.content {
  margin: 0 auto;
  font-size: 1.1em;
}

.selection {
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  padding: 10px;

  .title {
    font-size: 1.2em;
    font-weight: 600;
  }

  .tag {
    background-color: #007bff2c;
    padding: 4px;
    outline: none;
    border-radius: 2px;
  }

  .objective {
    background-color: #007bff2c;
    padding: 4px;
    outline: none;
    border-radius: 2px;
  }

  .activity-name {
    background-color: #007bff2c;
    padding: 4px;
    outline: none;
    border-radius: 2px;
  }

  .operator {
    font-weight: 600;
  }
}

.rolled-up-objectives {
  margin: 20px 10px;
  padding: 16px;
  background-color: var(--color-objectives-background);
  color: var(--color-objectives-text);
  border: 2px solid var(--color-objectives-border-color);
  border-radius: 4px;

  .label {
    font-size: 1.2em;
    font-weight: 600;
  }
  .title {
    font-size: 1.1em;
  }
}

.course-btn {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content {
  /** images should scale to available width if larger than available width */
  img {
    max-width: 100%;
  }
}

.paginated {
  .elements > * {
    display: none;
  }
}
