.prologue {
  &.jumbotron {
    background: var(--color-gray-200);
    margin-top: 50px;
  }

  &.allow-attempt {
    background: rgb(228, 237, 254);
    background: linear-gradient(
      135deg,
      var(--color-blue-100) 0%,
      var(--color-blue-300) 60%,
      var(--color-blue-200) 70%,
      var(--color-blue-300) 82%,
      var(--color-blue-100) 100%
    );
  }
}
