.prologue {
  &.jumbotron {
    background: $gray-200;
    margin-top: 50px;
  }

  &.allow-attempt {
    background: rgb(228,237,254);
    background: linear-gradient(135deg, rgba(228,237,254,1) 0%, rgba(252,252,252,1) 60%, rgba(233,241,255,1) 70%, rgba(252,252,252,1) 82%, rgba(239,245,255,1) 100%);
  }
}