.popup__anchorText {
  color: var(--color-green-400);
  font-style: italic;
  cursor: pointer;
  font-weight: bold;
}

.slate-editor .popup__anchorText {
  cursor: inherit;
  padding-right: 2px;
}

.popup__click {
  text-decoration: underline;
}

.popup__content {
  &.show {
    max-width: 100% !important;
  }
  p:last-of-type {
    margin: 0;
  }
}

.popup__modalContent {
  text-align: initial;
  min-width: 600px;
}

.popup__content_editor {
  color: var(--color-body-color);

  margin-left: 30px;
  border: 1px dashed;
  padding: 10px;

  h2 {
    font-size: 1.2rem;
  }
}
