input[type='number'].hideIncrementArrows::-webkit-inner-spin-button,
input[type='number'].hideIncrementArrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='number'].hideIncrementArrows {
  -moz-appearance: textfield !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
