.deleteButton {
  width: 31px;
  height: 31px;

  svg {
    width: 24px;
    height: 24px;
  }

  &:not([disabled]) {
    color: rgba(var(--color-body-color), 0.8);

    &:hover {
      color: var(--color-red-500);
    }
  }
}
