<style>
.course-outline {
  background-color: #fefefe;
  border: 1px solid #ddd;
  padding: 8px 12px;
}
</style>

<div class="course-outline">
  <%= for page <- @pages do %>
    <%= case page.graded do
      false -> render "link_page.html", page: page
      true -> render "link_assessment.html", page: page
    end %>
  <% end %>
