<ul class="nav justify-content-end">

  <%= if @previous_page != nil do %>
  <li class="nav-item">
    <%= link "<< " <> @previous_page.title, to: @linker.(@conn, @context_id, @previous_page.slug), class: "nav-link" %>
  </li>
  <% end %>

  <%= if @next_page != nil do %>
  <li class="nav-item">
    <%= link @next_page.title <> " >>", to: @linker.(@conn, @context_id, @next_page.slug), class: "nav-link" %>
  </li>
  <% end %>
</ul>
