<div href="#" class="my-2 d-flex flex-row">
  <%= link to: Routes.delivery_path(@conn, :resource, @page.slug) do %>
    <i class="far fa-edit"></i> <%= @page.title%></a><div class="flex-1"></div><div href="#">22/32 Students</div>
  <% end %>
</div>
