
<div class="my-3">

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Not authorized</h4>
    <p>You do not have access to this page.</p>
    <hr>
    <p>If you should have access to this page, here are a few things that you can try:</p>
    <ul>
      <li>Refreshing your browser</li>
      <li>Returning to your LMS to try accessing OLI again</li>
      <li>Contacting your instructor for help</li>
    </ul>
  </div>

</div>
