<%= render_layout "http_status.html", assigns do %>
  <p>We apologize for the inconvenience.</p>
  <p class="mb-4">
    Our technical team has captured some details and is working to fix the issue.
  </p>

  <p>
    In the meantime, you can try
    <a href="javascript:window.location.reload()">refreshing the page</a>
    or come back later.
  </p>
  <p class="mb-4">
    If you continue to see this error, please {support_email_link("contact our support team")} for assistance.
  </p>
<% end %>
