.review {
  .reviews {
    display: flex;
  }

  .reviews .review-links {
    padding-top: 6px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    overflow: auto;
    border-right: 1px solid #e6e6e6;
    margin: 0;
    cursor: pointer;
  }

  .reviews .review-links ul {
    margin: 0;
  }

  .reviews .review-links .review-link {
    padding: 4px 4px 4px 8px;
    list-style-type: none;
    border-bottom: 1px solid #ebecf0;
    border-radius: 3px;
    font-size: 1em;
  }
  .reviews .review-link:last-child {
    border-bottom: none;
  }

  .reviews .review-links .review-link .review-link-header {
    font-weight: bold;
    color: $gray-800;
    display: flex;
    align-items: center;
  }

  .reviews .review-links .review-link .review-link-subheader {
    color: $secondary;
    display: flex;
    align-items: center;
  }

  .reviews .review-links .review-link a {
    text-decoration: none;
  }

  .reviews .review-links .review-link a i:not([data-dismiss]) {
    margin-right: 4px;
  }

  .reviews .review-links .review-link span[data-dismiss] {
    display: none;
  }

  .reviews .review-links .review-link:hover span[data-dismiss] {
    display: flex;
  }

  .reviews .review-links .review-link span[data-dismiss] i {
    font-size: 1em;
  }

  .reviews .review-links .review-link.active {
    background-color: $gray-200;
  }

  .reviews .review-cards {
    display: flex;
    flex: 1;
  }

  .reviews .review-card {
    overflow: auto;
    flex: 1;
    padding: 16px 16px 0 16px;
    display: none;
  }

  .reviews .review-card.active {
    display: flex;
    flex-direction: column;
  }

  .bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
  }

  .bd-callout-info {
    border-left-color: $cyan;
  }

  .review-dismiss {
    user-select: none;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
  }

  a.review-dismiss,
  a.review-dismiss:hover {
    text-decoration: none;
    color: $gray-200;
    cursor: pointer;
  }
}