@import "authoring/variables";

.undo-toasts {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1000;
}

.undotoast {
  background-color: $gray-100;
  color: $body-color;
  position: relative;
  z-index: 1000;
  width: 270px;
  font-size: 1em;
  border: 1px solid $gray-200;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  margin-top: 20px;
}

.undotoast-enter {
  opacity: 0;
}

.undotoast-enter.undotoast-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.undotoast-leave {
  opacity: 1;
}

.undotoast-leave.undotoast-leave-active {
  opacity: 0;
  transition: opacity 100ms;
}
