@use 'authoring/theme' as authoring;

.undoToasts {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: authoring.$z-highest;
}

.undoToast {
  background-color: authoring.$gray-100;
  color: authoring.$body-color;
  position: relative;
  z-index: authoring.$z-highest;
  width: 270px;
  font-size: 1em;
  border: 1px solid authoring.$gray-200;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
  margin-top: 20px;
}

.undoToastEnter {
  opacity: 0;
}

.undoToastEnterActive {
  opacity: 1;
  transition: opacity 200ms;
}

.undoToastLeave {
  opacity: 1;
}

.undoToastLeaveActive {
  opacity: 0;
  transition: opacity 100ms;
}
