/** Theme-specific custom styles for delivery **/

.blockquote {
  border-color: $gray-600;

  &::before {
    color: transparentize($color: $gray-600, $amount: 0.3);
  }
}

.prologue {
  &.jumbotron {
    background: $gray-800;
  }

  &.allow-attempt {
    background: rgb(78,83,92);
    background: linear-gradient(135deg, rgba(78,83,92,1) 0%, rgba(50,53,60,1) 60%, rgba(72,77,87,1) 70%, rgba(50,53,60,1) 82%, rgba(78,83,92,1) 100%);
  }
}