<h1>New Open and free</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.open_and_free_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.open_and_free_path(@conn, :index) %></span>
