<div class="container">
  <%= live_render(@conn, OliWeb.Delivery.RemixSection, session: %{
    "section" => @section,
    "redirect_after_save" => Routes.open_and_free_path(@conn, :show, @section),
    "current_user" => nil,
    "current_author" => @current_author
    }) %>
</div>
