@use 'delivery/variables' as delivery;

.code-editor {
  margin-bottom: 8px;
  width: 100%;
  border: 2px solid black;

  &.active {
    border: 2px solid $primary;
  }

  pre {
    margin-bottom: 0;
  }
}
