<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/activitybank.js") %>"></script>

<%= for script <- @scripts do %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> script) %>"></script>
<% end %>

<div id="editor" class="container">
  <%= ReactPhoenix.ClientSide.react_component("Components.ActivityBank", @context) %>
</div>
