<%= for script <- @scripts do %>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> script) %>"></script>
<% end %>

<%= for activity <- @activities do %>
  <% type = Map.get(@activity_types, activity.activity_type_id) %>
  <p>Test</p>
  <<%= type.authoring_element %> model="<%= activity.encoded_model %>" editmode="false" projectSlug="<%= @section_slug %>"></<%= type.authoring_element %>>
<% end %>
