/*
  Flowchart mode text flow styles
  The authoring component is in a shadow-dom, so these have to mirror that, and not customize it.
*/

janus-text-flow[type='janus-text-flow'] {
  div[data-janus-type='janus-text-flow'] {
    font-size: 13px;
  }

  h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-bottom: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h4 {
    display: block;
    margin-top: 1.33em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-bottom: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-bottom: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-bottom: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    text-align: -webkit-match-parent;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
