/*
  Flowchart mode text flow  styles
  The authoring component is in a shadow-dom, so these have to mirror that, and not customize it.
*/

janus-text-flow[type='janus-text-flow'] {
  div[data-janus-type='janus-text-flow'] {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  p,
  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1,
  h2 {
    margin-top: 2rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
  }

  > :first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  p.caption,
  .caption span {
    font-size: 0.875rem !important;
    line-height: 1rem;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h5 {
    display: block;
    font-size: 1em;
    margin: 1rem 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-bottom: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    text-align: -webkit-match-parent;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
