.activity {
  margin-top: 1em;
  margin-bottom: 4em;

  .input-error {
    border-color: red !important; /* Override any other border color */
  }

  .activity-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    .vlab-holder {
      border: 0;
      padding: 0;
      width: 100%;
      height: 700px;
    }
  }

  .feedback {
    display: inline-flex;
    border-width: 2px 2px 4px;
    padding: 12px 16px;
    border-style: none;
    border-radius: 4px;
    overflow-x: auto;

    &.correct {
      background-color: var(--color-feedback-correct-bg);
      color: var(--color-feedback-correct-color);

      .graphic {
        color: var(--color-feedback-correct-graphic-color);
      }

      .result {
        border-color: var(--color-feedback-correct-color);
        color: var(--color-feedback-correct-color);

        .score {
          color: var(--color-feedback-correct-color);
        }
      }
    }

    &.partially-correct {
      background-color: var(--color-feedback-partially-correct-bg);
      color: var(--color-feedback-partially-correct-color);

      .graphic {
        color: var(--color-feedback-partially-correct-graphic-color);
      }

      .result {
        border-color: var(--color-feedback-partially-correct-color);
        color: var(--color-feedback-partially-correct-color);

        .score {
          color: var(--color-feedback-partially-correct-color);
        }
      }
    }

    &.incorrect {
      background-color: var(--color-feedback-incorrect-bg);
      color: var(--color-feedback-incorrect-color);

      .graphic {
        color: var(--color-feedback-incorrect-graphic-color);
      }

      .result {
        border-color: var(--color-feedback-incorrect-color);
        color: var(--color-feedback-incorrect-color);

        .score {
          color: var(--color-feedback-incorrect-color);
        }
      }
    }

    &.explanation {
      background-color: var(--color-feedback-explanation-bg);
      color: var(--color-feedback-explanation-color);

      .graphic {
        color: var(--color-feedback-explanation-graphic-color);
      }
    }

    &.error {
      background-color: var(--color-feedback-error-bg);
      color: var(--color-feedback-error-color);
    }

    .result {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-gray-500);
      border-radius: 2px;
      color: var(--color-gray-600);
      height: 24px;
      flex-basis: 50px;
      margin-right: 16px;
      font-weight: bold;
      padding-left: 3px;
      padding-right: 3px;

      .result-divider {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}

.activity {
  &.evaluated {
    .choice {
      cursor: default;

      &:hover {
        background-color: initial;

        &.selected {
          background-color: var(--color-choice-selected-bg);
        }
      }
    }
  }
  .choices {
    display: flex;
    flex-direction: column;
  }

  .choice {
    display: inline-flex;
    align-items: top;
    border-width: 1px;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #e5e5e5;
    cursor: pointer;

    &:hover {
      background-color: var(--color-choice-selected-bg-hover);
    }

    &.selected {
      color: var(--color-choice-selected-color);
      background-color: var(--color-choice-selected-bg);
      border-color: var(--color-choice-selected-border-color);
    }
  }

  .hints.card {
    background-color: var(--color-delivery-hints-bg);
    border: 2px solid var(--color-delivery-hints-border);
    border-radius: 0;
    /* MER-2961 - Some wide content (specifically formulas) were getting cut off in hints, making it scrollable
    */
    overflow-x: auto;


  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

html.dark {
  .hints.card {
    background-color: var(--color-delivery-hints-bg-dark);
    border: 2px solid var(--color-delivery-hints-border-dark);
  }
}
