@import 'delivery/variables';

.activity {
  margin-top: 1em;
  margin-bottom: 4em;

  .activity-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    .vlab-holder {
      border:0;
      padding: 0;
      width:100%;
      height: 600px;
    }
  }

  .feedback {
    display: inline-flex;
    border-width: 2px 2px 4px;
    padding: 12px 16px;
    border-style: none;
    border-radius: 4px;

    &.correct {
      background-color: $feedback-correct-bg;
      color: $feedback-correct-color;

      .result {
        border-color: $feedback-correct-color;
        color: $feedback-correct-color;

        .score {
          color: $feedback-correct-color;
        }
      }
    }

    &.partially-correct {
      background-color: $feedback-partially-correct-bg;
      color: $feedback-partially-correct-color;

      .result {
        border-color: $feedback-partially-correct-color;
        color: $feedback-partially-correct-color;

        .score {
          color: $feedback-partially-correct-color;
        }
      }
    }

    &.incorrect {
      background-color: $feedback-incorrect-bg;
      color: $feedback-incorrect-color;

      .result {
        border-color: $feedback-incorrect-color;
        color: $feedback-incorrect-color;

        .score {
          color: $feedback-incorrect-color;
        }
      }
    }

    &.error {
      background-color: $feedback-error-bg;
      color: $feedback-error-color;
    }

    .result {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid $gray-500;
      border-radius: 2px;
      color: $gray-600;
      height: 24px;
      flex-basis: 50px;
      margin-right: 16px;
      font-weight: bold;
      padding-left: 3px;
      padding-right: 3px;

      .result-divider {
        margin-left: 3px;
        margin-right: 3px;
      }
    }
  }
}

.activity {
  &.evaluated {
    .choice {
      cursor: default;

      &:hover {
        background-color: initial;

        &.selected {
          background-color: $choice-selected-bg;
        }
      }
    }
  }
  .choices {
    display: flex;
    flex-direction: column;
  }

  .choice {
    display: inline-flex;
    align-items: top;
    border-width: 1px;
    padding: 12px 16px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #e5e5e5;
    cursor: pointer;

    &:hover {
      background-color: $choice-selected-bg-hover;
    }

    &.selected {
      color: $choice-selected-color;
      background-color: $choice-selected-bg;
      border-color: $choice-selected-border-color;
    }
  }

  .hints.card {
    color: $hints-color;
    background-color: $hints-bg;
    border: $hints-border;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
