@import 'activity.scss';
@import 'alternatives.scss';
@import 'controls.scss';
@import 'footer.scss';
@import 'main.scss';
@import 'mixins.scss';
@import 'phx.scss';
@import 'variables.scss';

@import 'layout/delivery.scss';
@import 'layout/footer.scss';

@import 'page_delivery/after_finalized.scss';
@import 'page_delivery/collab_space.scss';
@import 'page_delivery/page.scss';
@import 'page_delivery/prologue.scss';

#annotations-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#annotations-root > div > svg {
  pointer-events: none;
}

#annotations-root > div {
  width: 100%;
  height: 100%;
  .annotation-controls {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
