/** Delivery Styles **/

$paragraph-margin-bottom: 1.5em;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

body {
  flex: 1;
  position: relative;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  padding-bottom: $footer-height;

  h1,
  .h1 {
    @include font-size($h1-font-size);
  }
  h2,
  .h2 {
    @include font-size($h2-font-size);
  }
  h3,
  .h3 {
    @include font-size($h3-font-size);
  }
  h4,
  .h4 {
    @include font-size($h4-font-size);
  }
  h5,
  .h5 {
    @include font-size($h5-font-size);
  }
  h6,
  .h6 {
    @include font-size($h6-font-size);
  }
}

body.modal-open {
  overflow: visible;
}

.oli-logo {
  font-family: "Open Sans", sans-serif;
}

form .form-label-group .help-block {
  color: #dc3545;
}

.custom-select {
  -webkit-appearance: none;
}

.course-outline {
  .container-title {
    font-weight: 500;
  }

  .page-link {
    border-bottom: none;
  }

  .page-link:first-of-type {
    border-top-left-radius: $list-group-border-radius;
    border-top-right-radius: $list-group-border-radius;
  }

  .page-link:last-of-type {
    border-bottom-left-radius: $list-group-border-radius;
    border-bottom-right-radius: $list-group-border-radius;
    margin-bottom: 20px;
    border-bottom: $list-group-border-width solid $list-group-border-color;
  }
}
