/** Delivery Styles **/

.oli-logo {
  font-family: 'Open Sans', sans-serif;
}

.activity-purpose {
  text-transform: uppercase;
  background-color: orangered;
  color: white;
}

.content-purpose-label {
  text-transform: uppercase;
  float: right;
}

.content-example {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 10px;
}

.content-learn-more {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 10px;
}

