/** Delivery Styles **/
@import "delivery/variables";

@import "//fonts.googleapis.com/css?family=Oswald";

body {
  flex: 1;
  position: relative;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

body.modal-open {
  overflow: visible;
}

.oli-logo {
  font-family: 'Open Sans', sans-serif;
}

main.container {
  margin-top: 20px;
}

.activity-purpose {
  text-transform: uppercase;
  background-color: orangered;
  color: white;
}

.content-purpose {
  .content-purpose-label {
    text-transform: uppercase;
    padding: 4px;
  }

  .content-purpose-content {
    padding: 20px;
  }

  &.example {
    border: 1px solid $content-purpose-example-color;
    margin-bottom: 1rem;

    .content-purpose-label {
      background-color: $content-purpose-example-color;
      color: $white;
    }
  }

  &.learn-more {
    border: 1px solid $content-purpose-learn-more-color;
    margin-bottom: 1rem;

    .content-purpose-label {
      background-color: $content-purpose-learn-more-color;
      color: $white;
    }
  }
}

.activity-purpose {
  padding: 4px 8px;
  font-weight: 200;

  &.checkpoint {
    background-color: $activity-purpose-checkpoint-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f46c';
    }
  }

  &.didigetthis {
    background-color: $activity-purpose-didigetthis-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f256';
    }
  }

  &.learnbydoing {
    background-color: $activity-purpose-learnbydoing-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f51c';
    }
  }

  &.manystudentswonder {
    background-color: $activity-purpose-manystudentswonder-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f5da';
    }
  }
}



.custom-select {
  -webkit-appearance: none;
}