.multi-input-activity {
  line-height: 2em;

  .dropdown-input {
    width: unset;
    padding: 6px 30px 6px 12px;
    margin: 0px 0.1rem;
    min-width: 2rem;
    line-height: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (max-width: 767px) {
    .input-size-large {
      width: 100% !important;
      max-width: none;
      min-width: 0;
    }

    div.math-input.input-size-large math-field {
      width: 100% !important;
      max-width: none;
      min-width: 0;
    }
  }
}
