@import 'delivery/variables';

.content-purpose {
  border-radius: 4px;

  .content-purpose-label {
    text-transform: uppercase;
    padding: 4px;
  }

  .content-purpose-content {
    padding: 20px;
  }

  &.example {
    border: 1px solid $content-purpose-example-color;
    margin-bottom: 1rem;

    .content-purpose-label {
      background-color: $content-purpose-example-color;
      color: $white;
    }
  }

  &.learnmore {
    border: 1px solid $content-purpose-learnmore-color;
    margin-bottom: 1rem;

    .content-purpose-label {
      background-color: $content-purpose-learnmore-color;
      color: $white;
    }
  }

  &.manystudentswonder {
    border: 1px solid $content-purpose-manystudentswonder-color;
    margin-bottom: 1rem;

    .content-purpose-label {
      background-color: $content-purpose-manystudentswonder-color;
      color: $white;
    }

    .content-purpose-label::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f5da';
    }
  }
}

.activity-purpose {
  padding: 4px 8px;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;

  // Only display purpose type decorations for the first elem of that type
  // in a series.
  // HTML looks like:
  // <h4 class="{purpose-type}" />
  // <activity class="activity-container" />
  // <h4 class="{purpose-type}" />
  // <activity class="activity-container" />
  // So, we use the sibling selector to hide duplicate purpose types
  // that occur after an activity element.
  &.checkpoint + .activity-container + .checkpoint,
  &.didigetthis + .activity-container + .didigetthis,
  &.learnbydoing + .activity-container + .learnbydoing {
    display: none;
  }

  &.checkpoint {
    background-color: $activity-purpose-checkpoint-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f46c';
    }
  }

  &.didigetthis {
    background-color: $activity-purpose-didigetthis-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f256';
    }
  }

  &.learnbydoing {
    background-color: $activity-purpose-learnbydoing-color;

    &::before {
      font-family: 'Line Awesome Free';
      font-weight: 900;
      margin-right: 8px;
      content: '\f51c';
    }
  }
}
