/**
 * Import this file into a component sass that is loaded with style-loader (/assets/src/**)
 * to access the active theme's variables
 */

/**
 * CSS variables are exported from the theme. Sass variables here are set to those
 * variables so that component can make use of them as normal
 */

$white: var(--delivery-white);
$black: var(--delivery-black);

$gray-100: var(--delivery-gray-100);
$gray-200: var(--delivery-gray-200);
$gray-300: var(--delivery-gray-300);
$gray-400: var(--delivery-gray-400);
$gray-500: var(--delivery-gray-500);
$gray-600: var(--delivery-gray-600);
$gray-700: var(--delivery-gray-700);
$gray-800: var(--delivery-gray-800);
$gray-900: var(--delivery-gray-900);

$blue: var(--delivery-blue);
$indigo: var(--delivery-indigo);
$purple: var(--delivery-purple);
$pink: var(--delivery-pink);
$red: var(--delivery-red);
$orange: var(--delivery-orange);
$yellow: var(--delivery-yellow);
$green: var(--delivery-green);
$teal: var(--delivery-teal);
$cyan: var(--delivery-cyan);

$primary: var(--delivery-primary);
$secondary: var(--delivery-secondary);
$success: var(--delivery-success);
$info: var(--delivery-info);
$warning: var(--delivery-warning);
$danger: var(--delivery-danger);

$light: var(--delivery-light);
$dark: var(--delivery-dark);

$selection: var(--delivery-selection);
$hover: var(--delivery-hover);
$active: var(--delivery-active);

$body-color: var(--delivery-body-color);
$body-bg: var(--delivery-body-bg);

$choice-selected-bg: var(--delivery-choice-selected-bg);
$choice-selected-bg-hover: var(--delivery-choice-selected-bg-hover);
$choice-selected-color: var(--delivery-choice-selected-color);
$choice-selected-border-color: var(--delivery-choice-selected-border-color);
