/**
 * Delivery specific variables.
 *
 * These along with any bootstrap variables can be overridden by a specific theme.
 * When creating a new variable, make sure you use !default so it can be overridden.
 **/
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';

/** OLI specific variables **/
$code-color: rgba(0, 0, 0, 0.84) !default;
$font-family-monospace: 'Source Code Pro', 'Courier New', Courier, monospace !default;

$choice-selected-bg: lighten($primary, 42%) !default;
$choice-selected-bg-hover: lighten($choice-selected-bg, 5%) !default;
$choice-selected-color: $primary !default;
$choice-selected-border-color: $primary !default;

$feedback-correct-bg: lighten($green, 45%) !default;
$feedback-correct-color: $green !default;
$feedback-partially-correct-bg: lighten($yellow, 45%) !default;
$feedback-partially-correct-color: $yellow !default;
$feedback-incorrect-bg: lighten($red, 40%) !default;
$feedback-incorrect-color: $red !default;
$feedback-error-bg: lighten($orange, 42%) !default;
$feedback-error-color: $orange !default;

$hints-color: $gray-700 !default;
$hints-bg: $gray-200 !default;
$hints-border: none !default;

$content-figure-caption-color: #0984e3;

$content-purpose-checkpoint-color: rgba(#0984e3, 0.75) !default;
$content-purpose-didigetthis-color: rgba(#8e44ad, 0.75) !default;
$content-purpose-example-color: rgba(#74b9ff, 0.75) !default;
$content-purpose-labactivity-color: rgba(#fdcb6e, 0.75) !default;
$content-purpose-learnbydoing-color: rgba(#00b894, 0.75) !default;
$content-purpose-learnmore-color: rgba(#27ae60, 0.75) !default;
$content-purpose-manystudentswonder-color: rgba(#42729b, 0.75) !default;
$content-purpose-quiz-color: rgba(#3498db, 0.75) !default;
$content-purpose-simulation-color: rgba(#ff7675, 0.75) !default;
$content-survey-color: rgba(#22a6b3, 0.75) !default;

$title-color: $gray-800 !default;

$footer-bg-color: $gray-100 !default;
$footer-color: $gray-900 !default;
$footer-height: 60px !default;

$speaker1: #d1e7dd !default;
$speaker2: #f8d7da !default;
$speaker3: #cff4fc !default;
$speaker4: #fff3cd !default;
$speaker5: #ffe5d0 !default;

// z-indexes
$z-content-1: 1 !default;
$z-content-2: 50 !default;
$z-content-3: 100 !default;
$z-content-4: 150 !default;
$z-content-5: 200 !default;
$z-content-6: 250 !default;
$z-overlay-1: 1000 !default;
$z-overlay-2: 1050 !default;
$z-overlay-3: 1100 !default;
$z-overlay-4: 1150 !default;
$z-highest: 10000 !default;

$objectives-text: $black !default;
$objectives-background: lighten($cyan, 35%) !default;
$objectives-border-color: lighten($cyan, 30%) !default;

// Export all theme SASS variables to CSS

:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --delivery-#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --delivery-#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --delivery-breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --delivery-font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --delivery-font-family-monospace: #{inspect($font-family-monospace)};

  --delivery-gray-100: #{$gray-100};
  --delivery-gray-200: #{$gray-200};
  --delivery-gray-300: #{$gray-300};
  --delivery-gray-400: #{$gray-400};
  --delivery-gray-500: #{$gray-500};
  --delivery-gray-600: #{$gray-600};
  --delivery-gray-700: #{$gray-700};
  --delivery-gray-800: #{$gray-800};
  --delivery-gray-900: #{$gray-900};

  --delivery-body-color: #{$body-color};
  --delivery-body-bg: #{$body-bg};

  --delivery-choice-selected-bg: #{$choice-selected-bg};
  --delivery-choice-selected-bg-hover: #{$choice-selected-bg-hover};
  --delivery-choice-selected-color: #{$choice-selected-color};
  --delivery-choice-selected-border-color: #{$choice-selected-border-color};
}
