/**
 * Delivery specific variables.
 *
 * These along with any bootstrap variables can be overridden by a specific theme.
 * When creating a new variable, make sure you use !default so it can be overridden.
 **/
@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';

/** OLI specific variables **/
$choice-selected-bg: lighten($primary, 42%) !default;
$choice-selected-bg-hover: lighten($choice-selected-bg, 5%) !default;
$choice-selected-color: $primary !default;
$choice-selected-border-color: $primary !default;

$feedback-correct-bg: lighten($green, 45%) !default;
$feedback-correct-color: $green !default;
$feedback-incorrect-bg: lighten($red, 40%) !default;
$feedback-incorrect-color: $red !default;
$feedback-error-bg: lighten($orange, 42%) !default;
$feedback-error-color: $orange !default;

$hint-bg: lighten($yellow, 45%) !default;
$hint-border-color: $yellow !default;

$content-purpose-example-color: lighten($blue, 20%) !default;
$content-purpose-learn-more-color: lighten($teal, 20%) !default;
$activity-purpose-checkpoint-color: lighten($blue, 10%) !default;
$activity-purpose-didigetthis-color: lighten($purple, 10%) !default;
$activity-purpose-learnbydoing-color: lighten($green, 10%) !default;
$activity-purpose-manystudentswonder-color: lighten($cyan, 10%) !default;