/** DistinctColor Palette
*
* A palette of visually distinct colors
*/

$distinct-red:      #e6194b;
$distinct-green:    #3cb44b;
$distinct-yellow:   #ffe119;
$distinct-blue:     #0082c8;
$distinct-orange:   #f58231;
$distinct-purple:   #911eb4;
$distinct-cyan:     #46f0f0;
$distinct-magenta:  #f032e6;
$distinct-lime:     #d2f53c;
$distinct-pink:   #fabebe;
$distinct-teal: #008080;
$distinct-lavender: #e6beff;
$distinct-brown:  #aa6e28;
$distinct-beige:  #fffac8;
$distinct-maroon: #800000;
$distinct-mint: #aaffc3;
$distinct-olive:  #808000;
$distinct-coral:  #ffd8b1;
$distinct-navy: #000080;
$distinct-grey: #808080;
$distinct-white: #ffffff;
$distinct-black: #000000;
