apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-console
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: placeholder-minio-console-strip@kubernetescrd
spec:
  rules:
    - host: placeholder.domain-placeholder
      http:
        paths:
          - path: /minio
            pathType: Prefix
            backend:
              service:
                name: minio
                port:
                  name: console
