apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
spec:
  template:
    spec:
      containers:
        - name: minio
          env:
            - name: MINIO_SERVER_URL
              value: https://placeholder.domain-placeholder/buckets
            - name: MINIO_BROWSER_REDIRECT_URL
              value: https://placeholder.domain-placeholder/minio
