<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/activityeditor.js") %>"></script>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/" <> @script) %>"></script>

<div id="editor"/>

<script>
  window.oliMountApplication(document.getElementById('editor'), <%= raw(@context) %>);
</script>