@import 'bootstrap';

.draggableColumn {
  &__container {
    @extend .mt-3;
  }

  &__dragIndicator {
    width: 24px;
    color: rgba(0, 0, 0, 0.26);
    margin-right: 0.5rem;
  }

  &__card {
    @extend .d-flex;
    @extend .mb-3;
    @extend .align-items-center;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 1px rgb(206 212 218 / 33%);
    background-color: white;
    padding: 0.8rem 0.5rem;
  }
}
