@import "bootstrap";

.draggableColumn {
  &__container {
    @extend .mt-3;
  }

  &__dragIndicator {
    cursor: grab !important;
    width: 24px;
    margin-right: 0.5rem;
  }

  &__card {
    @extend .d-flex;
    @extend .mb-3;
    @extend .align-items-center;
    cursor: default !important;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 1px rgb(206 212 218 / 33%);
    padding: 0.8rem 0.5rem;
  }
}
