.draggableColumnContainer {
}

.draggableColumnIndicator {
  color: var(--color-gray-700);
  cursor: grab !important;
  width: 24px;
  margin-right: 0.5rem;
}
.draggableColumnIndicator.disabled {
  cursor: default !important;
}

.draggableColumnCard {
  cursor: default !important;
  border-radius: 4px;
  background: var(--color-body);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.draggableColumnOutlined {
  padding: 0.8rem 0.5rem;
  box-shadow: 1px 1px 8px 1px rgb(206 212 218 / 33%);
}
