@import 'common/mixins';

.loadingSpinner {
  text-align: center;
  color: var(--authoring-gray-600);
  @include disable-select;

  & i {
    margin: '0 5px';
    animation-duration: 1s;
  }

  &.ls-small {
    font-size: 0.8em;
  }

  &.ls-medium {
    font-size: 1em;
  }

  &.ls-large {
    font-size: 1.2em;
  }
}
