$border-color: var(--color-selection);

.switchToggle {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.input {
  display: none;

  &:checked + .label {
    background: $border-color;
    color: var(--color-white);
  }
}

.label {
  padding: 6px 10px;
  border: 1px solid $border-color;
  border-right: none;
  margin-bottom: 0px !important;
  color: $border-color;
  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type {
    border-right: 1px solid $border-color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    background: var(--color-hover);
    color: var(--color-white);
  }
}
