<div class="container">
  <span>
    <%= link to: Routes.institution_path(@conn, :show, @institution) do %>
      <i class="las la-arrow-left"></i> Back
    <% end %>
  </span>

  <%= render OliWeb.SharedView, "_box_form_container.html", Map.merge(assigns, %{title: "Edit Institution"}) do %>
    <%= render "form.html", Map.put(assigns, :action, Routes.institution_path(@conn, :update, @institution)) %>
  <% end %>
</div>
