<div class="container signin">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Register Institution</h5>

          <%= render "form.html", Map.put(assigns, :action, Routes.institution_path(@conn, :create)) %>

        </div>
      </div>
    </div>
  </div>
</div>
